.xpm-manager {
  width: 100%;
  padding-top: 10.41vw;
  background: #013a4e;

  @media (max-width: 768px) {
    padding-top: 0 !important;
  }

  &.checkout-xpm {
    height: 100%;
    min-height: 100vh;

    @media (max-width: 768px) {
      //height: 100vh;
    }
  }
}
