@import '~styles/globals';

// .xpm-manager {
//   min-height: 100%;
// }
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.technacil-wriper {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 310px;
  }

  .custom-tech {
    width: get-vw(249px);
    margin: get-vw(61px);
    margin-top: get-vw(34px);

    @media (max-width: 768px) {
      width: 100vw;
      margin: 0;
    }
  }

  .technical-data {
    width: 69.4vw;
    margin-top: get-vw(50px);
    background-color: #03293980;
    //  margin-left: 24.23vw;
    // margin-left: 4.3vw;
    // margin-right: 2.63vw;
    // padding-top: 66px;
    .accordin-warp {
      width: 62.4vw;
      margin-top: get-vw(66px);
      margin-left: get-vw(63px);

      @media (max-width: 768px) {
        margin-left: 8.8vw;
      }
    }

    .heading-tech {
      @media (max-width: 768px) {
        padding-left: 0 !important;
        // border: 0.26vw #f2a900 solid !important;
        font-size: 6.4vw !important;
      }

      > h1 {
        color: #f1a900;
        font-family: $OpenSans;
        font-size: 36px;
        font-style: normal;
        font-weight: bold;
        line-height: 49px;

        /* identical to box height */

        text-transform: capitalize;
        font-feature-settings: 'pnum';
      }

      > p {
        margin-top: 14px;
        opacity: 0.9;
        color: #fff;
        font-family: $OpenSans;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 140%;

        /* or 20px */

        font-feature-settings: 'pnum' on, 'lnum' on;
      }
    }

    @media (max-width: 768px) {
      // margin-left: 8.3vw;
      width: 100vw;
      margin-top: 11.2vw;
    }
  }

  .accordion-container {
    width: 100%;
    max-width: 1200px;
    margin: 48px auto 75px;
    padding: 102px;
    background-color: #013a4e;
  }

  .accordion-heading-container {
    margin-top: 84px;
  }

  .accordion-heading {
    position: absolute;
    top: 240px;
    left: 996px;
    width: 983px;
    height: 53px;
    color: #eceae9;

    /* margin-bottom: 40px; */
    font-family: $OpenSans;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    text-transform: uppercase;
  }

  .desktop-heading {
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobile-heading {
    display: none;
  }

  .privacy-intro {
    margin-bottom: 40px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22.4px;
  }

  .table-wrapper-faqs {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 36px;
    color: #fff;

    .flex {
      display: flex;
      justify-content: space-between;
    }

    .title {
      color: #f1a900;
    }

    @media (max-width: 768px) {
      min-width: 800px;
      overflow-x: auto;
    }
  }

  @media (max-width: 768px) {
    .accordion-heading {
      font-size: 36px;
    }

    .accordion-container {
      margin: 28px auto 75px;
      padding: 36px 24px;
    }

    .accordion-heading-container {
      margin-top: 48px;
    }

    .desktop-heading {
      display: none;
    }

    .mobile-heading {
      display: block;
    }
  }

  .price-list-pdf {
    display: flex;
    color: red;
    font-family: $OpenSans;

    > a:link {
      padding: 10px;
      text-decoration: none;
    }
  }
}

.technical-bottom {
  padding-top: 0;
  padding-right: 60px;
  padding-bottom: get-vw(60px);
  padding-left: 30px;

  @media (max-width: 768px) {
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
  }

  .c-button {
    // margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ddaf34;
    background: none;
    color: #fff;
    text-transform: uppercase;
  }

  img {
    position: relative;
    bottom: 2px;
  }

  .technical-bottom-section {
    display: flex;
    // justify-content: space-around;
    margin-top: get-vw(48px);
    margin-left: get-vw(90px);
    // margin-right: get-vw(96px);

    @media (max-width: 768px) {
      flex-direction: row;
      margin-top: 39px;
      margin-left: 0;
    }

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .bottom-plp {
      width: get-vw(600px);
      margin-left: get-vw(24px);

      @media (max-width: 425px) {
        width: 100%;
        margin-left: 0;
        padding-bottom: 20px;
      }

      .mob-button {
        display: none;
        margin-top: 20px;
        padding: 7px;
        border: 1px solid #f1a900;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;

        @media (max-width: 425px) {
          display: block;
          border: 0.53vw solid #f1a900;
        }
      }

      .dealer-botton {
        width: get-vw(226px);
        margin-top: get-vw(40px) !important;
        margin-bottom: 1vw;
        border-radius: 5px;
        font-size: get-vw(14px);
        font-weight: bold;
        letter-spacing: get-vw(0.75px);
        line-height: get-vw(24px);

        @media (max-width: 425px) {
          display: none;
        }
      }
    }
  }
}
