@import '~styles/globals';

.subpage-warp {
  padding-top: 56px;

  .main-heading-subpage {
    margin-bottom: 0.97vw;
    margin-left: 30vw;
    color: #f1a900;
    font-family: $OpenSans;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 49px;

    /* identical to box height */

    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  .data-warp-subpage {
    // display: flex;
    flex-direction: row;
    margin-right: 17vw;
    margin-left: 30vw;

    .Paragraph {
      margin-right: 1.11vw;
      opacity: 0.9;
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;

      /* or 20px */
      font-feature-settings: 'pnum' on, 'lnum' on;

      .sku-link {
        color: yellow;
      }
    }

    .image-subpage {
      display: flex;
      flex-direction: row;

      :hover {
        background-color: #f2a900;
      }

      .image-one {
        width: 130px;
        height: 162px;
        padding: 4px;
        border: #f2a900 solid 1px;

        .c-image {
          width: 100%;
          max-width: none !important;
          height: 100%;
          background: #fff;
        }
      }

      .image-two {
        width: 130px;
        height: 162px;
        padding: 4px;
        border: #f2a900 solid 1px;

        .c-image {
          width: 100%;
          max-width: none !important;
          height: 100%;
          background: #fff;
        }
      }

      .image-three {
        width: 130px;
        height: 162px;
        padding: 4px;
        border: #f2a900 solid 1px;

        .c-image {
          width: 100%;
          max-width: none !important;
          height: 100%;
          background: #fff;
        }
      }
    }
  }

  .read-more {
    margin-bottom: 20px;
    border: none;
    background: none;
  }
}
