@import '~styles/globals';

.downtime-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 4.1vw 8.3vw;
  background: #013a4e;

  // @media screen and (min-width: 1600px) {
  //   padding: 60px 250px;
  // }

  // @media screen and (max-width: 1366px) {
  //   margin-left: 20px;
  //   padding: 60px 100px;
  // }

  // @media screen and (max-width: 768px) {
  //   flex-wrap: wrap;
  //   padding: 15px 73px;
  // }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin-left: 0;
    padding: 4.1vw 5.3vw;
  }
}
