@import '~styles/globals';

.downtime-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 60px 73px;
  background: #013a4e;

  @media screen and (min-width: 1600px) {
    padding: 60px 250px;
  }

  @media screen and (max-width: 1366px) {
    margin-left: 20px;
    padding: 60px 100px;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    padding: 15px 73px;
  }
}
