@import '~styles/globals';

.overviewtxt {
  color: #eceae9;
  font-family: $OpenSans;
  //font-size: 12px;
  font-size: 0.83vw;
  font-style: normal;
  font-weight: normal;
  line-height: 157%;
  text-align: justify;

  @media (max-width: 768px) {
    font-size: 12px;
    font-weight: 400;
    line-height: 18.84px;
  }
}
