.overviewtxt {
  color: #eceae9;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 157%;
  text-align: justify;
}
