@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.table-wrapper-technical {
  // max-width: 100%;
  // margin: 0 auto;
  // padding-top: 36px;
  // color: #fff;
  // @media (max-width: 768px) {
  //   min-width: 800px;
  //   overflow-x: auto;
  // }

  .text-class-center {
    font-family: $OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align: center;

    @media screen and (max-width: 500px) {
      font-size: 3.7vw;
    }
  }

  .text-class-right {
    text-align: right;
  }

  .hover-details {
    display: none;
  }

  .table-content {
    position: relative;
    align-items: center;
    padding-top: 10px;

    &:nth-child(odd) {
      background: #013a4e;
    }

    &:nth-child(even) {
      background: rgba(3, 41, 57, 0.5);
    }

    &:hover {
      // border: 1px solid #9c9175;
      background-color: #005472;

      .hover-details {
        display: block;
      }
    }
  }

  p {
    &.text-setting-table {
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        width: 74.66vw;
        font-weight: 400;
      }
    }
  }

  .light-text-weight {
    font-weight: 400;
  }

  .title {
    margin-top: 22px;
    color: #fff;
    font-family: $OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 19.6px;
  }

  .table-button {
    position: absolute;
    top: -1%;
    right: -12%;
  }
}

// .table-image {
//   position: absolute;
//   top: -35%;
//   left: -15%;
//   width: 149.35px;
//   height: 191.57px;
// }

// &:hover {
//   // border: 1px solid #9c9175;
//   background-color: #005472;
// }

// .table-content {

// }
