.plp-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 1.4vw !important;
  background: #032939;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: 425px) {
    justify-content: center;
    width: 327px;
    height: 157px;
  }

  img {
    width: 100%;
    margin-top: 0 !important;

    @media screen and (max-width: 500px) {
      width: 123px;
      height: 137px;
      object-fit: contain;
    }
  }

  button {
    width: inherit;
    margin-top: 0 !important;

    @media (max-width: 768px) {
      width: initial;
    }

    &:hover {
      transition: 1s;
      background: #ddaf34;
    }
  }
}
