@import '~styles/globals';

.map-location {
  // max-width: 920px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 4.16vw 8.33vw;
  background: #013a4e;
  //width: 40.83vw;
  //height: 37.22vw;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 25px;
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 25px;
    }
  }

  &__description {
    width: 356px;
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    text-align: center;

    .big-margin-b {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    a {
      color: black;
    }

    a:hover {
      color: black;
    }
  }

  .map {
    width: 40.83vw;

    @media screen and(max-width: 768px) {
      width: 360px;
      margin-bottom: 36px;
    }
  }
}
