@import '~styles/globals';

.account--container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5em 2rem;

  .welcome-title {
    margin-bottom: 0.85rem;
    color: #fff;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .page-title {
    color: #fff;
    font-family: $OpenSans;
    font-size: 3.3vw;
    font-weight: bold;
    line-height: 110%;
    text-transform: uppercase;
  }

  .ant-tabs-nav {
    margin: 0 !important;
  }

  .ant-tabs-nav-wrap {
    flex: none !important;
  }

  .ant-tabs-tab {
    color: #fff;
    font-family: $OpenSans;
    font-size: 0.96vw;
    font-weight: bold;
  }
}

.account__masthead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media (min-width: $mq-tablet-portrait) {
    align-items: flex-end;
    justify-content: flex-start;

    .account-head-buttons {
      position: relative;
      top: -0.25em;
      padding-left: 5em;
    }

    .account-logout-button {
      color: #f1a900;
    }
  }
}

.btn-switch-tab {
  color: #000;
  text-transform: uppercase;
}

.account-logout-button {
  color: $primary-color-light;
  color: #f1a900 !important;
}

.account-logout-button,
.btn-switch-tab {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-family: $OpenSans;
  font-size: 1.1vw;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.account-tabpane-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;

  .c-label {
    font-family: $OpenSans;
    font-size: 0.9vw;
    font-weight: normal;
  }

  .zip {
    color: #f1a900;
    font-family: $OpenSans;
    font-size: 1.6vw;
    font-weight: bold;
  }

  .session {
    font-family: $OpenSans;
    font-size: 0.9vw;
    font-weight: bold;
    text-transform: uppercase;
  }

  .order-filter {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;

    p {
      font-weight: 700;

      select {
        width: 115px;
        margin-left: 10px;
        padding: 0 5px;
        border: none;
        outline: none;
        background: #002a3a !important;
        color: #fff;
      }
    }
  }
}

.title-section {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
}

.account-tab-title {
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: $mq-tablet-portrait) {
  .account-tab-pane {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .title-section {
      width: 25%;
      padding-top: 1rem;
      border-bottom: 0;
    }

    .account-tab-content {
      width: 75%;
    }
  }

  .no-data {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

.account-detail-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  // font-family: $font-family-primary;
  font-size: 1.1rem;

  @media (min-width: $mq-tablet-portrait) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .cell-wrapper {
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    // .cell-preface {
    //   max-width: 250px;
    // }

    .cell-email {
      width: 200px;
    }

    .cell-phone {
      flex: 1;
    }

    .cell-full {
      width: 100%;
    }

    .button-bar {
      padding-left: 30px;
    }

    .btn-bar {
      min-width: 100px;
    }
  }

  @media (min-width: $mq-tablet-landscape) {
    .cell-email {
      width: 300px;
    }

    .account-bar-button {
      min-width: 150px;
    }
  }
}

.account-bar-button {
  min-width: 100px;
}

.cell-label {
  font-size: 12px;
}

.cell-id {
  color: green;
  font-size: 12px;
  text-transform: uppercase;
}

.cell-amount {
  color: $primary-color;
}

.button-bar {
  text-align: right;
}

/*** TEMPORARY HEADER STYLE FIX ***/
.main-header {
  height: auto;

  @media (max-width: 500px) {
    position: fixed;
    top: 0;
  }

  .main-header__wrapper--fix {
    position: relative;

    .header {
      position: relative;
      // height: auto;
      @media (max-width: 768px) {
        position: fixed;
        top: 46px;
      }

      @media (max-width: 375px) {
        position: fixed;
        top: 62px;
      }
    }
  }
}

//Tauqeer Styling
.ship-address {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 30px;
}

.credit-limit {
  font-family: $OpenSans !important;
  font-size: 0.9vw !important;
  font-weight: bold !important;
}

.credit-price {
  color: #f1a900;
  font-family: $OpenSans !important;
  font-size: 1.6vw !important;
  font-weight: bold !important;
}

.order-image {
  margin-bottom: 15px;

  .image {
    margin-right: 30px;
    float: left;

    img {
      background: $white-color;
    }
  }

  .product-info {
    display: flex;
    justify-content: space-between;

    p {
      font-family: $OpenSans;
    }

    .order-number {
      margin-bottom: 60px;
      font-weight: 700;
    }

    .order {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .price {
        color: #f1a900;
      }

      p {
        &:nth-child(2) {
          color: #ccc;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .status {
      .price {
        color: #f1a900;
      }
    }

    div {
      &:first-child {
        float: left;

        .price {
          display: none;
        }
      }
    }

    .link {
      text-decoration: underline;
      cursor: pointer;

      &:first-child {
        color: #fff;
      }

      &:nth-child(3) {
        color: #ccc;
      }
    }
  }
}

@media (max-width: 768px) {
  .account-tabpane-content {
    padding-top: 0;
  }

  .ship-address {
    display: block;
    width: 100%;

    div {
      margin-bottom: 20px;
    }
  }

  .tabs-dropdown {
    select {
      background: #013a4e;
      color: #fff;
    }
  }

  .tabs-dropdown__dropdown {
    width: 100%;
    border-bottom-color: #fff;
    background-image: url('/static/images/arrow-down1.png') !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: center !important;
  }

  .order-image {
    display: flex;

    .product-info {
      display: block;

      .order {
        display: block;

        .price {
          display: none;
        }
      }

      div {
        &:first-child {
          .price {
            display: block;
            color: #f1a900;
            font-weight: 700;
          }
        }
      }

      .order-number {
        margin-bottom: 15px;
      }
    }
  }

  .status {
    display: none;
  }

  .page-title {
    font-size: 32px !important;
  }

  .welcome-title {
    font-size: 20px !important;
  }
}
