@import '~styles/globals';

.plp {
  padding-top: 1.6vw;
  padding-right: 6.66vw;
  padding-bottom: 4.1vw;
  padding-left: 8.33vw;

  @media screen and (max-width: 500px) {
    margin-top: 4.7vw;
    padding: 16vw 5.6vw;
    // padding-top: 0.2vw;
  }

  .navigation-button {
    display: none;
    text-align: center;

    @media (max-width: 500px) {
      display: flex !important;
      margin-top: 9vw !important;
      margin-bottom: 10.93vw !important;
    }
  }

  .c-button {
    width: 15.6vw;
    height: 2.7vw;
    padding: 0.3vw;
    border: 0.06vw solid #ddaf34;
    background: none;
    color: #fff;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 500px) {
      // width: 45.6vw;
      // height: 7.7vw;
      // font-size: 2.7vw;
      width: 100%;
      height: auto;
      padding: 5.33vw 1.866vw;
      border: 0.26vw solid #ddaf34;
      border-radius: 1.33vw;
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    .navigation-button {
      display: initial;
      cursor: pointer;

      img {
        position: relative;
        bottom: 0.5vw;
      }
    }
  }

  .tabs-dropdown {
    .c-dropdown {
      font-weight: 700;
    }
  }

  &__all-products {
    .plp__products-section {
      &:nth-child(2n + 2) {
        background-color: #f7f7f7;
      }
    }
  }

  .custom-plp {
    display: flex;

    @media (max-width: 768px) {
      display: block;
    }

    .productItem {
      width: 80%;
      margin-right: 0.69vw;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .plp-bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 3.4vw;

    @media (max-width: 768px) {
      flex-direction: row;
    }

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .bottom-plp {
      width: 41.6vw;
      height: 20.8vw;
      margin: 0 0.8vw;

      @media (max-width: 500px) {
        width: 100% !important;
        height: auto !important;
      }

      .mob-button {
        display: none;
        margin: 5.3vw 0;
        padding: 1.8vw;
        border: 0.2vw solid #e25205;
        border-radius: 10.6vw;
        color: #fff;
        text-transform: uppercase;

        @media (max-width: 500px) {
          display: block;
          width: 36.8vw;
          height: auto;
          font-family: $OpenSans;
          font-size: 3.7vw;
          font-weight: bold;
          line-height: 6.4vw;
          text-transform: uppercase;
        }
      }

      .dealer-botton {
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
  }

  .mobile-banner {
    display: none;

    @media (max-width: 500px) {
      display: block;
    }
  }
}
