@import '~styles/globals';

.label-input {
  display: flex;
  flex-direction: column;
  margin: 0 5px;

  &__label {
    margin-bottom: 10px;
    font-family: $font-futura-heavy;
    font-size: 16px;
    font-weight: 700;
  }

  &__input {
    width: 100%;
    height: 52px;
    margin-bottom: 1.5rem;
    padding: 12px 16px;
    // border: 3px solid #ccc;
    outline: 0;
    background-color: $white-color;
    font-size: 14px;
    font-weight: 600;

    &.c-dropdown {
      margin-bottom: 1.5rem;
    }
  }

  &__error-message {
    margin-top: -1.2rem;
    margin-bottom: 15px;
    color: #dc3545;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
