@import '~styles/globals';

.label-input {
  display: flex;
  flex-direction: column;
  width: 327px;
  margin: 0 5px;

  &__label {
    margin-bottom: 10px;
    font-family: $font-futura-heavy;
    font-size: 16px;
    font-weight: 700;
  }

  &__input {
    width: 100%;
    height: 64px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: transparent !important;
    border-radius: 16px;
    outline: 0;
    background-color: #f5f5f5;
    color: #8c8885;
    font-family: $OpenSans !important;
    font-size: 16px;
    font-style: normal;
    font-weight: bold !important;
    letter-spacing: 0.75px;
    line-height: 28px;

    &.c-dropdown {
      margin-bottom: 1.5rem;
    }

    @media (max-width: 375px) {
      width: 85% !important;
    }
  }

  &__error-message {
    margin-top: -1.2rem;
    color: #dc3545;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  ::placeholder {
    font-family: $OpenSans;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
