.internal {
  h1 {
    align-items: center;
    color: white;
    font-family: nevis, Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      width: 327px;
      margin: 0 auto;
      padding-top: 15px;
      font-size: 22px;
    }
  }

  button {
    box-sizing: border-box;
    align-items: center;
    width: 247px;
    height: 38px;
    border: 2px solid #e35205;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-family: nevis, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.75px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      margin: 15px 0;
    }
  }

  p {
    color: white;
  }

  .last-item {
    width: 570px;

    @media screen and (max-width: 768px) {
      width: 327px;
      margin: 0 auto;
      font-size: 12px;
    }
  }

  ul {
    li {
      color: white;

      h3 {
        padding-top: 23px;
        color: white;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }

      p {
        margin-bottom: 0;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  &:last-child ul {
    list-style: none;

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    width: 327px;
    margin: 0 auto;

    .downtime-img {
      width: 100%;

      @media screen and (max-width: 768px) {
        width: 330px;
      }
    }
  }
}
