@import '~styles/globals';

.internal {
  width: 40.8vw;

  .downtime_img_wraper {
    display: none;
    width: 100%;
    max-width: 40.8vw;
    height: 19.5vw;
    background: white;

    // @media screen and (max-width: 1366px) {
    //   max-width: 540px;
    // }

    @media screen and (max-width: 500px) {
      max-width: 87.2vw;
      height: 41.8vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h1 {
    align-items: center;
    margin-bottom: 1.0416vw;
    color: white;
    font-family: $OpenSans;
    font-size: 1.66vw;
    font-weight: bold;
    letter-spacing: -0.03vw;
    line-height: 110%;
    text-transform: uppercase;

    // @media screen and (max-width: 768px) {
    //   width: 327px;
    //   margin: 0 auto;
    //   padding-top: 15px;
    //   font-size: 22px;
    // }

    @media screen and (max-width: 500px) {
      margin-top: 0;
      margin-bottom: 2.66vw;
      font-size: 5.8vw;
      font-weight: bold;
      letter-spacing: 0.1vw;
    }
  }

  button {
    box-sizing: border-box;
    align-items: center;
    width: 12.5vw;
    height: 2.6vw;
    margin-top: 1vw;
    border: 0.1vw solid #f2a900;
    border-radius: 0.3vw;
    background: #f2a900;
    color: white;
    font-family: $OpenSans;
    font-size: 1.1vw;
    font-weight: bold;
    letter-spacing: 0.05vw;
    line-height: 1.9vw;
    text-align: center;
    text-transform: uppercase;

    // @media screen and (max-width: 768px) {
    //   margin: 15px 0;
    // }

    @media screen and (max-width: 500px) {
      width: 84.5vw;
      height: 10.6vw;
      margin: 4vw 0;
      border-radius: 1.3vw;
      font-size: 3.7vw;
      letter-spacing: 0.2vw;
      line-height: 6.4vw;
    }
  }

  p {
    margin-bottom: 20px;
    color: white;
    font-family: $OpenSans;
    font-size: 12px;
    font-weight: normal;
    line-height: 140%;

    @media screen and (max-width: 500px) {
      font-size: 3.2vw;
    }
  }

  .last-item {
    width: 35.48vw;
    font-size: 12px;

    @media screen and (max-width: 768px) {
      width: 87.2vw;
      //margin: 0 auto;
      //font-size: 12px;
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: 1.7vw;

    @media screen and (max-width: 500px) {
      padding-left: 4.7vw;
    }

    li {
      color: white;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;

      h3 {
        margin-top: 1.0416vw;
        //  padding-top: 1.5vw;
        margin-bottom: 0.97vw;
        color: white;
        font-size: 14px;
        font-weight: bold;

        // @media screen and (max-width: 768px) {
        //   font-size: 12px;
        // }
        @media screen and (max-width: 500px) {
          margin-top: 3vw;
          margin-bottom: 3vw;
          font-size: 3.7vw;
        }
      }

      p {
        margin-bottom: 0;

        // @media screen and (max-width: 768px) {
        //   font-size: 12px;
        // }
        @media screen and (max-width: 500px) {
          font-size: 3.2vw;
        }
      }
    }
  }

  &:last-child ul {
    list-style: none;

    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 500px) {
    width: 87.2vw;
    margin: 0 auto;

    // .downtime-img {
    //   width: 100%;

    //   @media screen and (max-width: 768px) {
    //     width: 330px;
    //   }
    // }
  }

  &:nth-child(2) {
    button {
      width: 15.8vw;

      @media screen and (max-width: 500px) {
        width: 84.5vw;
        height: 10.6vw;
        // margin-top: 26.6vw;
        border-radius: 1.3vw;
      }
    }

    ul {
      padding: 0;
    }
  }
}
