@import '~styles/globals';

.testimonial-wrapper {
  display: flex;
  padding: 2.7vw;
  background: #ff8200;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    padding: 5.3vw !important;
    padding-top: 2.4vw !important;
    overflow: hidden;
  }

  //   @media screen and (max-width: 500px) {
  //     padding: 2.7vw 0;
  //   }

  h1 {
    width: 19.5vw;
    margin-left: 5.5vw;
    color: white;
    font-family: $OpenSans;
    font-size: 3.3vw;
    font-weight: bold;
    letter-spacing: -0.03vw;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      width: 64.2vw;
      margin-top: 0;
      margin-left: 11.5vw;
      font-size: 8.5vw;
    }
  }
}

.product-wrapperz {
  //padding-top: 2.5vw;
  //padding-bottom: 2.7vw;
  //background: #032939;
  background: #ff8200;

  .swiper-container {
    //width: 78.2vw;
    margin: 0 auto;
    padding-bottom: 4.1vw;

    @media (max-width: 768px) {
      padding-bottom: 7.46vw;
    }

    .swiper-scrollbar {
      position: relative;
      top: 26.87vw;
      width: 100%;
      height: 0.3vw;
      background: white;

      @media (max-width: 768px) {
        top: 108.87vw;
        height: 1vw;
      }
    }

    .swiper-scrollbar-drag {
      width: 67vw !important;
      //width: 900px !important;
      height: 0.3vw;
      transform: translate3d(0, 0, 0);
      transition-duration: 0ms;
      background: red;
      color: red;

      @media (max-width: 768px) {
        width: 25.6vw !important;
        height: 1vw;
        background: #e25205;
        color: #e25205;
      }
    }

    .swiper-wrapper {
      .swiper-slide {
        width: 19.9vw !important;
        margin-right: 1.3vw !important;

        @media (max-width: 768px) {
          width: 76vw !important;
          height: 80vw !important;
          margin-right: 6.4vw !important;
        }

        // @media screen and (min-width: 992px) {
        //   width: 300px;
        // }

        .Product-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          @media screen and (max-width: 768px) {
            display: contents;
          }

          .product_img_wraper {
            display: flex;
            justify-content: center;
            width: 18.6vw;
            height: 17.3vw;
            margin-top: 0 !important;
            margin-bottom: 0.7vw;
            background: white;
            box-shadow: 0.5vw 0.5vw 0.6vw 0 #0000004d inset;

            @media (max-width: 768px) {
              flex-direction: column;
              width: 76vw;
              height: 83.46vw;
            }

            .img-design {
              width: 11.8vw;
              height: 15.13vw;
              //margin: 1.12vw 3.42vw;

              @media (max-width: 768px) {
                width: 27.09vw;
                height: 27.12vw;
                margin-top: 10.2vw;
                margin-right: 24.31vw;
                margin-left: 24.31vw;
              }
            }

            .comment {
              width: 22.8vw;
              margin: 0 auto;
              color: #032939;
              font-family: $OpenSans;
              font-size: 0.9vw;
              line-height: 140%;
              text-transform: none !important;

              @media screen and (max-width: 768px) {
                width: 58.9vw;
                font-size: 3.2vw;
                font-weight: normal;
                text-align: center;
              }
            }
          }

          p {
            width: 19.5vw;
            margin-bottom: 2.2vw;
            color: #000;
            font-family: $Raleway;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;

            @media (max-width: 768px) {
              width: 100%;
              margin: 2.6vw 0;
              font-size: 3.46vw;
              font-weight: 800;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
