@import '~styles/globals';

.video-page {
  .video-gallery-page {
    .video-gallery-wrap {
      padding-top: get-vw(66px);
      // padding-bottom: get-vw(78px);
      padding-left: get-vw(69px);
      font-family: $OpenSans;

      @media (max-width: 768px) {
        // padding-left: 0;
      }

      .videos {
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
      }

      .video-gallery-title {
        margin: 0%;
        margin-bottom: get-vw(14px);
        color: #f1a900;
        font-family: $OpenSans;
        font-size: get-vw(36px);
        font-style: normal;
        font-weight: bold;
        line-height: get-vw(49px);
        text-transform: uppercase;

        @media (max-width: 768px) {
          margin: 0%;
          margin-bottom: 17px;
          color: #f1a900;
          font-family: $OpenSans;
          font-size: 24px;
          font-style: normal;
          font-weight: bold;
          line-height: 33px;
          text-transform: uppercase;
        }
      }

      .heading-tech {
        padding-right: get-vw(70px);
        padding-bottom: get-vw(19px);

        @media (max-width: 768px) {
          padding-bottom: 34px;
        }
      }

      .big-video-element {
        .details {
          padding-top: get-vw(19px);
          padding-bottom: get-vw(27px);
          color: #fff;
          font-size: get-vw(14px);
          font-style: normal;
          font-weight: normal;
          line-height: get-vw(20px);

          @media (max-width: 768px) {
            padding-top: 12px;
            padding-bottom: 4px;
            font-size: 14px;
            line-height: 20px;
          }
        }

        .big-video-frame {
          width: get-vw(525px) !important;
          height: get-vw(290px);

          @media (max-width: 768px) {
            width: 380px !important;
            height: 209px;
            margin-left: -18px;
            padding-right: 5px;
          }
        }
      }

      .small-video-element {
        padding-left: get-vw(41px);

        @media (max-width: 768px) {
          margin-right: 80px;
          padding-left: 0;
        }

        .details {
          margin-top: get-vw(20px);
          // margin-right: get-vw(70px);
          //padding-right: get-vw(60px);
          padding-bottom: get-vw(7px);
          color: #fff;
          font-size: get-vw(18px);
          font-style: normal;
          font-weight: normal;
          line-height: get-vw(25px);

          @media (max-width: 768px) {
            font-size: 18px;
            font-style: normal;
            font-weight: normal;
            line-height: 140%;
          }

          // p {
          //   width: 275px;
          //   margin-left: 0.41vw;
          // }
        }

        .small-video-frame {
          width: get-vw(271px) !important;
          height: get-vw(153px);

          @media (max-width: 768px) {
            width: 271px !important;
            height: 153px;
          }
        }
      }
    }

    .technical-data {
      @media (max-width: 768px) {
        margin-top: 0;
        padding-left: 0;
      }
    }

    .technical-bottom {
      padding-top: 0;

      .technical-bottom-section {
        margin-top: get-vw(48px);
      }
    }
  }
}
