@import '~styles/globals';

.promo-rail {
  position: relative;
  z-index: 9;
  padding: 0 90px;
  overflow: hidden;
  background-color: #fff;
  color: $white-color;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 15px;
  text-align: center;

  @media (max-width: 1900px) {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  @media (max-width: 500px) {
    padding: 0 5px;
  }

  &:active {
    outline: 0;
  }

  &.show {
    // max-height: 200px;
    // transition: max-height 0.4s ease-in;
    @media (max-width: 768px) {
      display: block;
      position: fixed;
      width: 100%;
    }

    @media (max-width: 500px) {
      padding: 0 20px;
    }
  }

  &.hide {
    // max-height: 0;

    @media (max-width: 768px) {
      display: block;
      position: fixed;
      width: 100%;
      max-height: 200px !important;
    }

    @media (max-width: 500px) {
      padding: 0 20px;
    }

    // transition: max-height 0.4s ease-out;
  }

  &__page-width {
    display: flex;
    flex-direction: row;
    width: 100%;
    // padding: 9.5px 0;
    .ant-select {
      width: auto !important;
      border: 1px solid rgba(0, 0, 0, 0.6) !important;
      border-radius: 3px !important;

      .ant-select-arrow {
        top: 61%;
        right: 11px !important;
        width: 4px;
        height: 8px;
        color: rgba(0, 0, 0, 0.6);

        @media screen and(max-width: 500px) {
          top: 55%;
        }
      }
    }

    .ant-select-selector {
      align-items: center;
      width: 45px !important;
      height: 24px !important;
      padding: 0 !important;
      border: none !important;
    }

    .ant-select-selection-item {
      padding: 0 5px !important;
      color: rgba(0, 0, 0, 0.6);
      font-family: $OpenSans;
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .Promo-search-button {
      align-items: center;
      margin-right: 15px;
      border: none;
      background: transparent;
      color: #f1a900;
      font-family: nevis, Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      text-decoration-line: underline;

      @media screen and (max-width: 500px) {
        display: none;
      }

      img {
        width: 8px;
        height: 14px;
      }
    }

    @media (max-width: 1800px) {
      // padding: 0 60px;
    }

    @media (max-width: 992px) {
      padding: 0 25px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }

    @media (max-width: 500px) {
      align-items: unset;
      justify-content: unset;
    }
  }

  &__slider {
    position: relative;

    @media (min-width: 769px) {
      position: fixed !important;
      top: -300px;
    }

    & .slick-slide {
      max-width: 100%;
    }
  }

  &__promo-item {
    align-items: center;
    margin: 0;
    color: #656565;
    font-family: $OpenSans;
    font-size: 16.5px;
    font-weight: bold !important;
    letter-spacing: 0.04px;
    line-height: 18px;
  }

  &__promo-item-slide {
    min-width: 200px;
    padding: 10px 0;
  }

  &__promo-item-wrapper {
    display: flex;
    padding: 15px 0;

    .promo-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9.7vw;
      height: 2.5vw;
      padding: 3px 12px;
      border-radius: 18px;
      background: #013a4e;
      object-fit: contain;

      @media (max-width: 500px) {
        width: 104px;
        height: 32px !important;
      }

      img {
        position: relative;
        bottom: 1px;
        left: 1px;
        width: 64px;

        @media (max-width: 768px) {
          top: 1px;
          bottom: 0;
        }

        @media (max-width: 500px) {
          top: 0 !important;
          width: 50px;
        }
      }

      @media (max-width: 768px) {
        align-self: center;
        height: 20px;
        line-height: 0;
      }
    }

    @media (max-width: 1900px) {
      padding: 13px 0;
    }

    // @media (max-width: 768px) {
    //   display: none;
    // }
  }

  &__links {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__dot {
    margin: 0 7px;
    font-size: 16px;
    font-weight: bold;
  }

  a {
    color: $white-color;
    text-decoration: none;

    &:hover {
      color: $white-color;
      text-decoration: underline;
    }
  }

  .promo-rail__promo-item {
    align-self: center;

    @media (max-width: 768px) {
      font-size: 11px;
    }

    @media (max-width: 500px) {
      margin-right: 8px;
      font-size: 11px;
      text-align: right;
    }
  }

  @media (max-width: 768px) {
    .promo-rail__slider {
      display: none;
    }
  }
}
