@import '~styles/globals';

.promo-rail {
  position: relative;
  z-index: 9;
  padding: 0 20px;
  overflow: hidden;
  background-color: #fff;
  color: $white-color;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 15px;
  text-align: center;

  @media (max-width: 1900px) {
    font-size: 15px;
  }

  &:active {
    outline: 0;
  }

  &.show {
    max-height: 200px;
    // transition: max-height 0.4s ease-in;
    @media (max-width: 768px) {
      display: block;
      position: fixed;
      width: 100%;
    }
  }

  &.hide {
    max-height: 0;

    @media (max-width: 768px) {
      display: block;
      position: fixed;
      width: 100%;
      max-height: 200px !important;
    }

    // transition: max-height 0.4s ease-out;
  }

  &__page-width {
    display: flex;
    flex-direction: row;
    width: 100%;
    // padding: 9.5px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .Promo-search-button {
      align-items: center;
      border: none;
      background: transparent;
      color: #f1a900;
      font-family: nevis, Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      text-decoration-line: underline;
    }

    @media (max-width: 1800px) {
      // padding: 0 60px;
    }

    @media (max-width: 992px) {
      padding: 0 25px;
    }

    @media (max-width: 768px) {
      justify-content: center;
      padding: 0;
    }
  }

  &__slider {
    position: relative;

    @media (min-width: 769px) {
      position: fixed !important;
      top: -300px;
    }

    & .slick-slide {
      max-width: 100%;
    }
  }

  &__promo-item {
    align-items: center;
    margin: 0;
    color: #000 !important;
    font-family: nevis, Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.04px;
    line-height: 18px;
  }

  &__promo-item-slide {
    min-width: 200px;
    padding: 10px 0;
  }

  &__promo-item-wrapper {
    display: flex;
    padding: 15px 0;

    .promo-logo {
      padding: 5px;
      border-radius: 10px;
      background: #013a4e;

      img {
        width: 64px;
      }

      @media (max-width: 768px) {
        align-self: center;
        height: 20px;
        line-height: 0;
      }
    }

    @media (max-width: 1900px) {
      padding: 13px 0;
    }

    // @media (max-width: 768px) {
    //   display: none;
    // }
  }

  &__links {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__dot {
    margin: 0 7px;
    font-size: 16px;
    font-weight: bold;
  }

  a {
    color: $white-color;
    text-decoration: none;

    &:hover {
      color: $white-color;
      text-decoration: underline;
    }
  }

  .promo-rail__promo-item {
    align-self: center;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  @media (max-width: 768px) {
    .promo-rail__slider {
      display: none;
    }
  }
}
