.productHeading {
  background-color: #032939;

  h1 {
    width: 1280px;
    margin: 0 auto;
    padding-top: 2rem;
    color: white;
    font-family: nevis, Arial, Helvetica, sans-serif;
    font-size: 46px;
    letter-spacing: -0.5px;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and (max-width: 1366px) {
      width: 1190px;
    }

    @media screen and (max-width: 768px) {
      width: 327px;
      font-size: 20px;
    }
  }
}
