@import '~styles/globals';

.productHeading {
  background-color: #032939;

  @media (max-width: 500px) {
    padding: 5.3vw 0;
  }

  h1 {
    width: 78.2vw;
    margin: 0 auto;
    padding-top: 2.2vw;
    color: white;
    font-family: $OpenSans;
    font-size: 3.1vw;
    letter-spacing: -0.03vw;
    line-height: 110%;
    text-transform: uppercase;

    // @media screen and (max-width: 1366px) {
    //   width: 1190px;
    // }

    // @media screen and (max-width: 768px) {
    //   width: 327px;
    //   font-size: 20px;

    // }

    @media screen and (max-width: 500px) {
      font-size: 5.3vw;
      font-weight: bold;
      line-height: 111%;
    }
  }
}
