/* stylelint-disable */
@import '~styles/globals';

.header {
  .screen {
    position: unset !important;

    @media (max-width: 768px) {
      position: relative !important;
    }

    @media (max-width: 500px) {
      position: relative !important;
    }
  }

  .menu-link-item {
    line-height: 7.46vw;

    @media (max-width: 500px) {
      display: block;
      position: relative;
      flex-direction: row;
      margin-bottom: 5.33vw;
    }

    &:hover {
      .h-links {
        border-bottom: 2px solid #f2a900;

        @media (max-width: 768px) {
          border: none;
        }
      }

      .show-products {
        display: flex !important;
        justify-content: space-between !important;

        @media (max-width: 768px) {
          display: block !important;
          justify-content: unset !important;
        }

        @media (max-width: 768px) {
          display: none !important;
          justify-content: unset !important;
          padding: 4vw 0 !important;
          padding-bottom: 0 !important;
        }
      }

      .show-products-image {
        // display: block;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .c-link {
    position: relative;
    margin: 0;
    color: $primary-color;
    text-decoration: none;

    @media (max-width: 768px) {
      color: $white-color;
    }

    @media (max-width: 500px) {
      font-family: $OpenSans;
      font-size: 6.4vw;
      text-transform: uppercase;
    }

    .show-products {
      position: absolute;
      z-index: 999;
      top: 7.6vw;
      left: 0;
      width: 100%;
      padding: 0 5.9vw;

      @media (max-width: 768px) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        background: #013a4e;

        .img-div {
          border: none;
          background: none;
          box-shadow: none;
        }
      }

      @media (max-width: 500px) {
        margin-bottom: 4vw;
        padding: 0 4vw !important;
        background: #013a4e;
      }
    }

    .show-products-image {
      position: absolute;
      z-index: 999;
      top: 4.6vw;
      width: 17.4vw;
      height: auto;
      margin-right: 0;
      padding-top: 1.59vw;
      padding-left: 1.22vw;
      background: #002a3a;

      @media (max-width: 768px) {
        position: relative;
        top: 0;
      }

      @media (max-width: 500px) {
        width: 100%;
        height: 100%;
        max-height: 46.6vw;
        margin-bottom: 4vw;
        padding: 0 0;
        overflow-y: scroll;
        background: none;
      }
    }

    &:nth-child(3) {
      .h-links {
        &:hover {
          border: none !important;
        }
      }
    }

    &:hover {
      .show-products {
        display: flex !important;
        justify-content: space-between !important;

        @media (max-width: 768px) {
          display: none !important;
          justify-content: unset !important;
        }

        @media (max-width: 500px) {
          display: none !important;
          justify-content: unset !important;
          padding: 4vw 4vw !important;
          padding-bottom: 0 !important;
        }
      }

      .show-products-image {
        display: block;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .h-links {
        border-bottom: 2px solid #f2a900;

        @media (max-width: 768px) {
          border: none;
        }
      }
    }
  }
}
/* stylelint-enable */
