/* stylelint-disable */
@import '~styles/globals';

.header {
  .c-link {
    position: relative;
    margin: 0;
    color: $primary-color;
    text-decoration: none;

    @media (max-width: 768px) {
      color: $white-color;
    }

    .show-products {
      display: none;
      position: absolute;
      z-index: 999;
      top: 109px;
      left: -180px;
      width: 780px;

      @media (max-width: 768px) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: #013a4e;

        .img-div {
          border: none;
          background: none;
          box-shadow: none;
        }
      }
    }

    .show-products-image {
      display: none;
      position: absolute;
      z-index: 999;
      top: 109px;
      width: 100%;
      background: #002a3a;

      @media (max-width: 768px) {
        position: relative;
        top: 0;
      }
    }

    &:nth-child(3) {
      .h-links {
        &:hover {
          border: none !important;
        }
      }
    }

    &:nth-child(3) {
      @media (max-width: 768px) {
        img {
          display: none !important;
        }
      }
    }

    &:hover {
      .show-products {
        display: block;
      }

      .show-products-image {
        display: block;
      }

      .h-links {
        border-bottom: 2px solid #f2a900;
      }
    }
  }
}
/* stylelint-enable */
