/* stylelint-disable */
@import '~styles/globals';

.header {
  .screen {
    position: unset !important;

    @media (max-width: 768px) {
      position: relative !important;
    }

    @media (max-width: 500px) {
      position: relative !important;
    }
  }

  .c-link {
    position: relative;
    margin: 0;
    color: $primary-color;
    text-decoration: none;

    @media (max-width: 768px) {
      color: $white-color;
    }

    .show-products {
      display: none;
      position: absolute;
      z-index: 999;
      top: 7.6vw;
      left: 0;
      width: 100%;
      padding: 0 5.9vw;

      @media (max-width: 768px) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        background: #013a4e;

        .img-div {
          border: none;
          background: none;
          box-shadow: none;
        }
      }

      @media (max-width: 375px) {
        padding: 0 15px !important;
        background: #013a4e;
      }
    }

    .show-products-image {
      display: none;
      position: absolute;
      z-index: 999;
      top: 7.4vw;
      width: 17.4vw;
      height: 19vw;
      background: #002a3a;

      @media (max-width: 768px) {
        position: relative;
        top: 0;
      }

      @media (max-width: 375px) {
        width: 100%;
        height: 100%;
        max-height: 175px;
        padding: 0 15px;
        overflow-y: scroll;
        background: none;
      }
    }
    // &:nth-child(4) {
    //   .h-links {
    //     border-bottom: 0px !important;
    //   }
    // }

    &:nth-child(3) {
      .h-links {
        &:hover {
          border: none !important;
        }
      }
    }

    &:nth-child(3) {
      @media (max-width: 768px) {
        img {
          display: none !important;
        }
      }
    }

    &:hover {
      .show-products {
        display: flex !important;
        justify-content: space-between !important;

        @media (max-width: 768px) {
          display: block !important;
          justify-content: unset !important;
        }

        @media (max-width: 375px) {
          display: block !important;
          justify-content: unset !important;
          padding: 15px 15px !important;
          padding-bottom: 0 !important;
        }
      }

      .show-products-image {
        display: block;
      }

      .h-links {
        border-bottom: 2px solid #f2a900;
      }
    }
  }
}
/* stylelint-enable */
