@import '~styles/globals';

.tech-news-page-wrap {
  margin-top: get-vw(70px);
  margin-right: get-vw(213px);
  margin-left: get-vw(87px);
  color: white;
  font-family: $OpenSans;

  @media (max-width: 768px) {
    margin-top: 42px;
  }

  .tech-news-titles {
    display: flex;
    flex-direction: column;

    .tech-news-title {
      color: #f1a900;
      font-size: get-vw(36px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(49px);
      text-transform: uppercase;

      @media (max-width: 768px) {
        width: 86.6vw;
        // height: 8.8vw;
        margin-left: 2vw;
        font-size: 6.4vw;
        line-height: 32px;
      }
    }

    .pages-title {
      color: #7ba3b4;
      font-size: get-vw(24px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(33px);
      text-transform: uppercase;

      @media (max-width: 768px) {
        width: 39.46vw;
        height: 6.66vw;
        margin-left: 2vw;
        font-size: 4.8vw;
        line-height: 6.53vw;
      }
    }

    .catagory-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: get-vw(555px);

      @media (max-width: 768px) {
        width: 91.46vw;
        margin-left: 2vw;
      }

      .links {
        margin-top: get-vw(8px);
        padding-right: get-vw(12px);
        padding-left: get-vw(12px);
        border-right: get-vw(1px) solid #fff;
        border-left: get-vw(1px) solid #fff;
        color: #f0a51f;
        font-size: get-vw(14px);
        font-style: normal;
        font-weight: 600;
        line-height: get-vw(19px);
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @media (max-width: 768px) {
          height: 5.06vw;
          margin-top: 2.13vw;
          margin-bottom: 3.2vw;
          padding-right: 3.2vw;
          padding-left: 3.2vw;
          font-size: 3.73vw;
          line-height: 5.08vw;

          &:nth-child(2) {
            border-left: none;
          }

          &:nth-child(3) {
            margin-top: 0;
          }
        }
      }
    }

    .blog-item {
      max-width: 200%;
      margin-top: get-vw(39px);
      margin-left: get-vw(33px);

      @media (max-width: 768px) {
        margin-top: 16px;
      }

      .page-no {
        display: flex;
        flex-direction: row;
        margin-bottom: get-vw(39px);
        // margin-left: 2vw;

        @media (max-width: 768px) {
          margin-bottom: 32px;
        }

        .page-no-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: get-vw(28px);
          margin-left: get-vw(5px);
          border: get-vw(1px) solid #ffa500;
          font-size: get-vw(16px);
          line-height: get-vw(22px);

          @media (max-width: 768px) {
            width: 7.46vw;
            height: 7.46vw;
            margin-top: 6vw;
            margin-right: 1.33vw;
            font-size: 4.26vw;
            line-height: 5.81vw;
          }
        }
      }

      .tech-blog-item {
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
          display: contents;
        }

        .item-image {
          width: get-vw(150px);
          height: get-vw(150px);

          @media (max-width: 768px) {
            width: 40vw;
            height: 40vw;
            margin-bottom: 3.7vw;
          }
        }

        .item-descriptions {
          margin-bottom: get-vw(51px);
          margin-left: get-vw(16px);

          @media (max-width: 768px) {
            margin-bottom: 27px;
          }

          .item-top-bar {
            display: flex;
            align-items: center;
            border-bottom: get-vw(1px) solid #ffa500;

            @media (max-width: 768px) {
              padding-bottom: 8px;
            }

            .item-date {
              margin-right: get-vw(15px);
              color: #fff;
              font-size: get-vw(12px);
              font-style: normal;
              font-weight: 600;
              line-height: get-vw(16px);
              text-transform: uppercase;

              @media (max-width: 768px) {
                display: flex;
                align-items: center;
                // width: 20.26vw;
                height: 4.26vw;
                margin-right: 2.93vw;
                font-size: 3.2vw;
              }
            }

            .links {
              margin-top: get-vw(8px);
              margin-bottom: get-vw(9px);
              padding-right: get-vw(12px);
              padding-left: get-vw(12px);
              border-right: get-vw(1px) solid #fff;
              border-left: get-vw(1px) solid #fff;
              color: #ffa500;
              font-size: get-vw(12px);
              font-weight: 600;
              line-height: get-vw(16px);
              text-transform: uppercase;

              @media (max-width: 768px) {
                // width: 32.5vw;
                display: flex;
                align-items: center;
                height: 4.26vw;
                margin-right: 2.93vw;
                margin-left: 2.93vw;
                padding-right: 2.93vw;
                padding-left: 2.93vw;
                font-size: 3.2vw;
              }
            }
          }

          .item-desc-box {
            .item-title {
              margin-top: get-vw(20px);
              margin-bottom: get-vw(9px);
              color: #ffa500;
              font-size: get-vw(16px);
              font-style: normal;
              font-weight: bold;
              line-height: get-vw(17px);
              text-transform: uppercase;

              @media (max-width: 768px) {
                width: 83.46vw;
                margin-top: 2.13vw;
                margin-bottom: 0;
                font-size: 4.26vw;
                line-height: 4.4vw;
              }
            }
          }

          .paragragh-text {
            color: #fff;
            font-size: get-vw(14px);
            font-style: normal;
            font-weight: 600;
            line-height: get-vw(19px);

            @media (max-width: 768px) {
              width: 84.26vw;
              margin-top: 2.13vw;
              font-size: 3.73vw;
              line-height: 5.08vw;
            }
          }

          .read-more {
            border: none;
            background: none;
            color: rgba(255, 165, 0, 1);
            font-weight: bold;
          }
        }
      }
    }
  }
}

.ant-pagination-item-active {
  border-color: #ffa500 !important;
  background: #ffa500 !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-item a {
  color: white !important;
}

.ant-pagination-item {
  border: 1px solid #f0a51f !important;
  background-color: transparent !important;
}

.ant-pagination-next .ant-pagination-item-link {
  border: 1px solid #f0a51f !important;
  background-color: transparent !important;
}

.anticon-right svg {
  color: white;
}
