@import '~styles/globals';

.overviewtitle {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 3px;

  @media screen and (max-width: 768px) {
    margin: 0;
  }

  .outr-border {
    // padding: 3px;
    // border: 1px solid orange;

    .productimg-wraper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18.53vw;
      height: 21.15vw;
      background: white;
      box-shadow: 8px 8px 10px 0 #0000004d inset;

      @media screen and (max-width: 768px) {
        width: 155px;
        height: 191px;
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 300px;
        height: 350px;
      }

      img {
        //padding: 27px;
        width: 15.72vw;

        @media screen and (max-width: 768px) {
          width: 42.4vw;
          padding: 20px;
        }
      }
    }
  }

  .title-wrapper {
    p {
      margin-top: 15px;
      color: #f2a900;
      font-family: $OpenSans;
      font-size: 1.38vw;
      font-style: normal;
      font-weight: 600;
      line-height: 110%;
      text-transform: capitalize;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
