@import '~styles/globals';

.pdp_mobile-container {
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 10px;

  @media screen and (max-width: 500px) {
    visibility: visible;
    top: 150px;
  }
}

.top-section {
  width: 90%;
  margin: auto;
  text-align: justify;
}

.pdp-container {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

.image-bg {
  width: 187px;
  height: 240px;
  background-color: #fff;
}

.categoryButton {
  min-width: 100%;
  height: 64px !important;
  border: 2px solid #f2a900 !important;
  border-radius: 5px !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 400;
}

.breadCrumb {
  min-width: 90%;
  margin-top: 10px !important;
  color: #fff !important;
  font-size: 12px !important;
  font-weight: 700;
  line-height: 14.98px !important;
  text-transform: uppercase;
}

.product-img {
  max-width: 195px;
  height: 240px;
  margin: 0 auto;
  background: white;
}

.pdp_mobile-heading {
  margin-top: 31px;
  color: white;
  font-family: $OpenSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.radioGroup {
  margin: 20px 10px;
}

.pdp-mobile-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.oneCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  margin: 3px;
  padding: 3px;
}

.divider {
  background-color: rgba(255, 255, 255, 0.2);
}

.head {
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.value {
  max-width: 75px;
  overflow: hidden;
  color: #c2bbb7;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.value-qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100px;
  margin: 3px;
  padding: 3px;
}

.total-price {
  //display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.add-to-cart {
  box-sizing: border-box;
  width: 70%;
  height: 50px !important;
  margin-top: 20px;
  border: 1px solid #f2a900;
  border-radius: 5px !important;
  background-color: #f2a900 !important;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 24px;
}

.add-to-cart:disabled {
  border: 1px solid gray !important;
  background: rgba(255, 255, 255, 0.3) !important;
  cursor: default !important;
}

.shareIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #013a4e;
  border-radius: 50%;
  background: #002a3a;
}
