@import '~styles/globals';

.pdp_mobile-container {
  visibility: hidden;
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 2.5vw;

  // @media screen and (min-width: 768px) {
  //   display: none;
  // }

  @media screen and (max-width: 768px) {
    visibility: visible;
    position: unset;
    top: 10vh;
    padding-top: 20vh;
  }
}

.top-section {
  width: 90%;
  margin: auto;
  text-align: justify;
}

.pdp-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 30px auto;
}

.image-bg {
  width: 187px;
  height: 240px;
  background-color: #fff;
}

.categoryButton {
  min-width: 100%;
  height: 64px !important;
  border: 2px solid #f2a900 !important;
  border-radius: 5px !important;
  color: white !important;
  font-family: $OpenSans;
  font-size: 20px !important;
  font-weight: 400;
}

.breadCrumb {
  min-width: 90%;
  margin-top: 10px !important;
  color: #fff !important;
  font-family: $OpenSans;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @media (max-width: 768px) {
    font-size: 2.93vw !important;
    word-spacing: 0.53vw;
  }
}

.product-img {
  max-width: 195px;
  height: 240px;
  margin: 0 auto;
  background: white;
}

.pdp_mobile-heading {
  width: 90%;
  margin: auto;
  margin-top: 31px;
  color: #fff;
  font-family: $OpenSans;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 110%;
  text-align: center;
}

.radioGroup {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.radio-font {
  color: #f4f4f4 !important;
  font-family: $OpenSans !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 23px !important;
  text-transform: uppercase;
}

.pdp-mobile-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  span.ant-radio + * {
    font-family: $OpenSans !important;
  }
}

.text-right {
  text-align: right !important;
}

.oneCell {
  display: flex;
  flex-direction: column;
  // align-items: center;
  min-width: 77px;
  margin: 3px;
  padding: 3px;
}

.divider {
  background-color: rgba(255, 255, 255, 0.2);
}

.head {
  margin-bottom: 5px;
  color: #fff;
  font-family: $OpenSans;
  font-size: 11px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 15px;
  text-transform: uppercase;
}

.value {
  max-width: 75px;
  overflow: hidden;
  opacity: 0.9;
  color: #c2bbb7;
  font-family: $OpenSans;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 185.5%;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  // margin-top: 5px;
}

.value-qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100px;
  margin: 3px;
  padding: 3px;

  .ant-input-number-input {
    font-family: $OpenSans;
    font-family: $OpenSans;
    font-size: 1.0416vw;
    font-weight: 700;
    line-height: 1.5vw;

    @media (max-width: 768px) {
      font-size: 4vw;
      line-height: 4.533vw;
    }
  }
}

.total-price-container {
  @media (max-width: 768px) {
    margin-right: 24px;
    font-family: $OpenSans;
    text-align: right;
  }

  .total-price {
    //display: flex;
    justify-content: flex-end;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
}

.add-to-cart {
  box-sizing: border-box;
  width: 70%;
  height: 60px !important;
  margin-top: 20px;
  border: 1px solid #f2a900 !important;
  border-radius: 5px !important;
  background-color: #f2a900 !important;
  color: #fff !important;
  font-family: $OpenSans;
  font-size: 23px !important;
  font-weight: 700 !important;
  line-height: 24px;
}

.add-to-cart:disabled {
  border: 1px solid gray !important;
  background: rgba(255, 255, 255, 0.3) !important;
  cursor: default !important;
}

.shareIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #013a4e;
  border-radius: 50%;
  background: #002a3a;
}
