@import '~styles/globals';

$vw-viewport: 350;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01;

  @return ($font / $vw-context * 1vw);
  // @return $font;
}

.pdp_mobile-container {
  // visibility: hidden;
  display: none;
  position: absolute;
  width: 100%;
  margin: auto;
  padding: 2.5vw;

  // @media screen and (min-width: 768px) {
  //   display: none;
  // }

  @media screen and (max-width: 768px) {
    display: block;
    visibility: visible;
    position: unset;
    top: get-vw(120);
    padding-top: 20vh;
  }
}

.top-section {
  width: 100%;
  margin: auto;
  padding: get-vw(10);
  // text-align: justify;
}

.pdp-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 30px auto;
}

.image-bg {
  width: get-vw(187);
  height: get-vw(240);
  background-color: #fff;
}

.categoryButton {
  box-sizing: border-box;
  width: 100%;
  height: get-vw(64) !important;
  border: get-vw(2) solid #f2a900 !important;
  border-radius: get-vw(5) !important;
  color: white !important;
  font-family: $OpenSans;
  font-size: get-vw(20) !important;
  font-style: normal;
  font-weight: 400;
}

.breadCrumb {
  width: 100%;
  margin-top: get-vw(10) !important;
  padding: get-vw(11);
  color: #fff !important;
  font-family: $OpenSans;
  font-size: get-vw(11);
  font-style: normal;
  font-weight: bold;
  line-height: get-vw(15);
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  @media (max-width: 768px) {
    font-size: 2.93vw !important;
    word-spacing: 0.53vw;
  }
}

.product-img {
  max-width: 195px;
  height: 240px;
  margin: 0 auto;
  background: white;
}

.pdp_mobile-heading {
  width: 100%;
  margin: auto;
  margin-top: 31px;
  color: #fff;
  font-family: $OpenSans;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 110%;
  text-align: center;
}

.radioGroup {
  margin-top: get-vw(50);
  margin-bottom: get-vw(50);
  margin-left: get-vw(12);
}

.radio-font {
  color: #f4f4f4 !important;
  font-family: $OpenSans !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 23px !important;
  text-transform: uppercase;
}

.pdp-mobile-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  span.ant-radio + * {
    font-family: $OpenSans !important;
  }
}

.text-right {
  text-align: right !important;
}

.oneCell {
  display: flex;
  flex-direction: column;
  width: 22%;
  // align-items: center;
  margin-bottom: get-vw(10);
  padding: get-vw(3);
}

.oneCellBulk {
  display: flex;
  flex-direction: column;
  width: 30%;
  // align-items: center;
  margin-bottom: get-vw(10);
  padding: get-vw(3);
}

.divider {
  background-color: rgba(255, 255, 255, 0.2);
}

.head {
  width: 100%;
  margin-bottom: get-vw(5);
  color: #fff;
  font-family: $OpenSans;
  font-size: get-vw(11);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: get-vw(15);
  text-transform: uppercase;
}

.value {
  // max-width: get-vw(60);
  width: 100%;
  overflow: hidden;
  opacity: 0.9;
  color: #c2bbb7;
  font-family: $OpenSans;
  font-size: get-vw(12);
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 185.5%;
  // text-overflow: ellipsis;
  // text-transform: uppercase;
  // white-space: nowrap;
  // margin-top: 5px;
}

.value-qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  // min-width: get-vw(90);
  width: 30%;
  // margin: get-vw(3);
  padding: get-vw(3);

  @media (max-width: 768px) {
    margin-left: 15vw;
  }

  .ant-input-number-input {
    font-family: $OpenSans;
    font-family: $OpenSans;
    font-size: 1.0416vw;
    font-weight: 700;
    line-height: 1.5vw;

    @media (max-width: 768px) {
      font-size: 4vw;
      line-height: 4.533vw;
    }
  }
}

.total-price-container {
  @media (max-width: 768px) {
    // margin-right: 24px;
    font-family: $OpenSans;
    text-align: right;
  }

  .total-price {
    //display: flex;
    justify-content: flex-end;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
}

.add-to-cart {
  box-sizing: border-box;
  height: 4.444vw !important;
  margin-top: 20px;
  border: 1px solid #f2a900 !important;
  border-radius: 5px !important;
  background-color: #f2a900 !important;
  color: #fff !important;
  font-family: $OpenSans;
  font-size: 23px !important;
  font-weight: 700 !important;
  line-height: 24px;

  @media (max-width: 768px) {
    width: 80vw !important;
    height: 17.06vw !important;
  }
}

.add-to-cart:disabled {
  border: 1px solid gray !important;
  background: rgba(255, 255, 255, 0.3) !important;
  cursor: default !important;
}

.shareIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  padding: 5px;
  border: 1px solid #013a4e;
  border-radius: 50%;
  background: #002a3a;
}
