/* stylelint-disable */
@import '~styles/globals';

.links {
  display: flex;

  div {
    margin-right: 3.055vw;

    &:nth-child(3) {
      margin-right: 0 !important;
    }

    @media (max-width: 500px) {
      margin-right: 0 !important;
    }
  }

  a {
    color: $primary-color;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: $white-color;
    }
  }

  .Buy-Button {
    display: none;
    box-sizing: border-box;
    align-items: center;
    width: 174px;
    height: 42px;
    border: 1px solid #f1a900;
    border-radius: 5px;
    background: #f7921e;
    color: #fff;
    font-family: Open-Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px !important;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .quick-order {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .bottom-section {
    display: none;
    margin-top: 20px;
    padding: 5px 0;
    border-top: 1px solid $white-color;
    color: $white-color;
    text-transform: uppercase;

    .c-image {
      position: relative;
      top: -3px;
      margin-right: 10px;
    }

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      padding-left: 8.5vw;
      color: #fff;
      font-family: $OpenSans;
      font-size: 5.3vw;
      font-style: normal;
      font-weight: normal;
      line-height: 7.2vw;
      text-transform: uppercase;
    }
  }

  // .left-image {
  //   left: -30px;
  //   transform: rotate(180deg);
  // }

  // .toggleOptions {
  //   display: block;
  // }

  // .hideToggleOptions {
  //   display: block;

  //   @media (max-width: 500px) {
  //     display: none;
  //   }
  // }
  .c-image {
    @media (min-width: 992px) {
      display: none !important;
    }
  }
}
/* stylelint-enable */
