@import '~styles/globals';

.links {
  display: flex;

  a {
    color: $primary-color;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: $white-color;
    }
  }

  .Buy-Button {
    display: none;
    box-sizing: border-box;
    align-items: center;
    width: 174px;
    height: 42px;
    border: 1px solid #f1a900;
    border-radius: 5px;
    background: #f7921e;
    color: #fff;
    font-family: Open-Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px !important;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .bottom-section {
    display: none;
    margin-top: 20px;
    padding: 5px 0;
    border-top: 2px solid $white-color;
    color: $white-color;
    text-transform: uppercase;

    .c-image {
      margin-right: 10px;
      float: left;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
}
