@import '~styles/globals';

.search-filter {
  @media (min-width: 768px) {
    padding-top: 5.2vw;
  }

  @media (max-width: 500px) {
    margin-top: 35.7vw;
    padding-top: 10.66vw;
  }

  .reset-button {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    background: #f1a900;
    color: #fff;
    font-weight: bold;

    @media (max-width: 768px) {
      position: relative;
      top: 10px;
      right: 10px;
    }
  }

  .products {
    margin: 0 8.3vw;

    @media (max-width: 500px) {
      margin: 0 6.4vw;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0;
      padding: 0;
      list-style: none;

      @media (max-width: 500px) {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        // width: 13.8vw;
        margin-right: 2.2vw !important;

        @media (max-width: 500px) {
          width: 41.33vw;
          height: 46.4vw;
          margin-bottom: 18.4vw;
        }

        &:nth-child(even) {
          @media (max-width: 500px) {
            margin-right: 0 !important;
          }
        }

        &:nth-child(odd) {
          @media (max-width: 500px) {
            margin-right: 4.5vw !important;
          }
        }

        img {
          width: 18.68vw;
          height: 21.31vw;
          background: #fff;
          object-fit: contain;

          @media (max-width: 500px) {
            width: 41.33vw;
            height: 46.4vw;
          }
        }

        .search-Items {
          .search-category {
            display: none;
          }

          .search-title {
            display: -webkit-box;
            margin-top: 1.5vw;
            margin-bottom: 6.25vw;
            overflow: hidden;
            color: #fff;
            font-family: $OpenSans;
            font-size: 1.3vw;
            font-weight: 600;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;

            @media (max-width: 500px) {
              font-size: 3.73vw;
              font-weight: 700;
              line-height: 140%;
            }
          }

          div:nth-child(2) {
            @media (max-width: 768px) {
              height: 65px;
            }
          }
        }
      }
    }
  }

  .filter-search-heading {
    margin-bottom: 0.9vw;
    margin-left: 8.3vw;
    color: #fff;
    font-family: $OpenSans;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 2.2vw;

    @media (max-width: 500px) {
      margin-bottom: 2.66vw;
      font-size: 4.26vw;
    }
  }

  .search-key {
    margin-bottom: 5.1vw;
    margin-left: 8.3vw;
    color: #fff;
    font-family: $OpenSans;
    font-size: 3.3vw;
    font-weight: bold;
    line-height: 110%;

    @media (max-width: 500px) {
      font-size: 8vw;
    }

    p {
      span {
        margin-left: 1%;
      }
    }
  }

  .filter-dropdown {
    display: flex;
    align-items: center;
    margin-bottom: 9.4vw;
    margin-left: 8.3vw;

    @media (max-width: 768px) {
      display: block;
    }

    .first-drop {
      width: 10.4vw !important;
      margin-right: 1.3vw;

      @media (max-width: 500px) {
        width: 40.26vw !important;
        height: 17.06vw !important;
        margin-bottom: 8.53vw;
      }
    }

    .second-drop {
      width: 14.7vw !important;
      margin-right: 1.3vw;
      font-size: $OpenSans;
      text-transform: uppercase;

      @media (max-width: 500px) {
        width: 56.8vw !important;
        height: 17.06vw !important;
        margin-bottom: 8.53vw;
      }
    }

    .third-drop {
      width: 14.7vw !important;

      @media (max-width: 500px) {
        width: 56.8vw !important;
        height: 17.06vw !important;
      }
    }

    .ant-select-selector {
      height: 4.6vw !important;
      border: none !important;
      border-radius: 1.1vw !important;
      background: #002a3a !important;

      @media (max-width: 500px) {
        height: 17.06vw !important;
        border-radius: 4.26vw !important;
      }

      .ant-select-selection-item {
        position: relative;
        top: 1.3vw;
        margin-left: 0.902vw;
        color: #fff !important;
        font-family: $OpenSans;
        font-size: 1.11vw;
        font-weight: 700;

        @media (max-width: 500px) {
          top: 4.46vw;
          margin-left: 3.46vw;
          font-family: $OpenSans;
          font-size: 4.26vw;
          font-weight: bold;
          letter-spacing: 0.2vw;
          text-transform: uppercase;
        }
      }
    }

    .ant-select-arrow {
      padding-right: 2.08vw;
      color: #fff !important;

      @media (max-width: 500px) {
        padding-right: 8vw;
      }
    }
  }
}
