@import '~styles/globals';

.search-filter {
  padding-top: 5.2vw;

  @media (max-width: 500px) {
    margin-top: 35.73vw;
    padding-top: 21.6vw;
  }

  .products {
    margin: 0 8.3vw;

    @media (max-width: 500px) {
      margin: 0 6.4vw;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        width: 17.6vw;
        margin-right: 2.2vw !important;

        @media (max-width: 500px) {
          width: 41.3vw;
          height: 46.4vw;
          margin-bottom: 18.4vw;
        }

        &:nth-child(odd) {
          @media (max-width: 500px) {
            margin-right: 2.2vw;
          }
        }

        img {
          width: 100%;
          height: 21.3vw;
          background: #fff;
          object-fit: contain;

          @media (max-width: 500px) {
            width: 100%;
            height: 46.4vw;
            object-fit: contain;
          }
        }

        .search-Items {
          @media (max-width: 500px) {
            width: 41.3vw;
            height: 46.4vw;
          }

          .search-category {
            display: none;
          }

          .search-title {
            margin-top: 1.5vw;
            margin-bottom: 6.25vw;
            color: #fff;
            font-family: $OpenSans;
            font-size: 1.3vw;
            font-weight: 600;
            line-height: 110%;

            @media (max-width: 500px) {
              font-size: 3.7vw;
              line-height: 140%;
            }
          }
        }
      }
    }
  }

  .filter-search-heading {
    margin-bottom: 0.9vw;
    margin-left: 8.3vw;
    color: #fff;
    font-family: $OpenSans;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 2.2vw;

    @media (max-width: 500px) {
      margin-bottom: 2.66vw;
      font-size: 4.26vw;
    }
  }

  .search-key {
    margin-bottom: 5.1vw;
    margin-left: 8.3vw;
    color: #fff;
    font-family: $OpenSans;
    font-size: 3.3vw;
    font-weight: bold;
    line-height: 110%;

    @media (max-width: 500px) {
      font-size: 8vw;
    }

    p {
      span {
        margin-left: 1%;
      }
    }
  }

  .filter-dropdown {
    margin-bottom: 9.4vw;
    margin-left: 8.3vw;

    .first-drop {
      width: 10.4vw !important;
      margin-right: 1.3vw;

      @media (max-width: 500px) {
        width: 40.26vw !important;
        height: 17vw !important;
        margin-bottom: 8.53vw;
      }
    }

    .second-drop {
      width: 14.7vw !important;
      margin-right: 1.3vw;

      @media (max-width: 500px) {
        width: 56.8vw !important;
        height: 17vw !important;
        margin-bottom: 8.53vw;
      }
    }

    .third-drop {
      width: 14.7vw !important;

      @media (max-width: 500px) {
        width: 56.8vw !important;
        height: 17vw !important;
        margin-bottom: 8.53vw;
      }
    }

    .ant-select-selector {
      height: 4.6vw !important;
      border: none !important;
      border-radius: 1.1vw !important;
      background: #002a3a !important;

      @media (max-width: 500px) {
        height: 17vw !important;
        border-radius: 4.2vw !important;
      }

      .ant-select-selection-item {
        position: relative;
        top: 1.3vw;
        margin-left: 1.6vw;
        color: #fff !important;
        font-size: 1.1vw;
        text-transform: uppercase;

        @media (max-width: 500px) {
          top: 4.3vw;
          font-size: 4.26vw;
        }
      }
    }

    .ant-select-arrow {
      color: #fff !important;
    }
  }
}
