@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.table-wrapper-faqs {
  .text-class-center {
    font-family: $OpenSans;
    font-size: get-vw(14px);
    font-style: normal;
    font-weight: bold;
    text-align: center;

    @media screen and (max-width: 500px) {
      font-size: 3.7vw;
    }
  }

  .text-class-right {
    text-align: right;
  }

  .hover-details {
    display: none;
  }

  .table-content {
    position: relative;
    align-items: center;
    padding-top: 10px;

    &:nth-child(odd) {
      background: #013a4e;
    }

    &:nth-child(even) {
      background: rgba(3, 41, 57, 0.5);
    }

    &:hover {
      // border: 1px solid #9c9175;
      background-color: #005472;

      .hover-details {
        display: block;
      }
    }
  }

  // .hover-details {
  //   display: block;

  //   &:hover {
  //     display: block;
  //   }
  // }
  p {
    &.text-setting-table {
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 19.6px;
    }
  }

  .light-text-weight {
    font-weight: 400;
  }

  .title {
    color: #fff;
    font-family: $OpenSans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
  }

  .table-button {
    position: absolute;
    top: -1%;
    right: -12%;
  }

  .hover-button {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 12px;
    border: 1px solid #f1a900;
    border-radius: 5px;
    background-color: #013a4e;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }

  .table-image {
    position: absolute;
    top: -35%;
    left: -15%;
    width: 149.35px;
    height: 191.57px;
  }
}
// &:hover {
//   // border: 1px solid #9c9175;
//   background-color: #005472;
// }

// .table-content {

// }
.ant-modal {
  width: 77.84vw !important;
  height: 15.27vw;

  .ant-modal-body {
    padding-top: 70px;
    padding-left: 10.41vw;
    background: #013a4e;
  }
}

body .ant-modal-mask {
  background: #727272e3;
}

.ant-modal-footer {
  display: none;
}

// .Price-list-modal {
//   .ant-modal-root {
//     .ant-modal-wrap {
//       .ant-modal {
//     width: 77.84vw !important;
//   }
// }
//   }
// }

.model-parent {
  display: flex;

  .product-img {
    width: 100%;
    max-width: 150px;
    height: 192px;
    background: white;

    img {
      object-fit: cover;
    }
  }

  .prodct-data {
    padding-left: 2.29vw;

    h1 {
      margin-top: 0;
      color: white;
      font-family: $OpenSans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 26px;
      text-align: left;
    }

    .product-detail {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-top: 30px;

      .products-sizes {
        color: white;
        font-family: $OpenSans;
        font-size: 13px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        text-align: left;
      }
    }

    .pricelist-addcart {
      width: 20.83vw;
      height: 64px;
      margin-top: 40px;
      margin-bottom: 30px;
      float: right;
      border: 1px solid #f2a900;
      border-radius: 5px;
      background: #f2a900;
      color: white;
    }
  }
}
