@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.table-wrapper-faqs {
  .text-class-center {
    font-family: $OpenSans;
    font-size: get-vw(14px);
    font-style: normal;
    font-weight: bold;
    text-align: center;

    @media screen and (max-width: 500px) {
      font-size: 3.7vw;
    }
  }

  .text-class-right {
    text-align: right;
  }

  .hover-details {
    display: none;
  }

  .table-content {
    position: relative;
    align-items: center;
    //padding-top: 10px;

    &:nth-child(odd) {
      background: #013a4e;
    }

    &:nth-child(even) {
      background: rgba(3, 41, 57, 0.5);
    }

    &:hover {
      // border: 1px solid #9c9175;
      background-color: #005472;

      // .hover-details {
      //   display: block;
      // }
    }
  }

  // .hover-details {
  //   display: block;

  //   &:hover {
  //     display: block;
  //   }
  // }
  p {
    &.text-setting-table {
      margin-right: 1.38vw;
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 19.6px;
    }
  }

  .light-text-weight {
    font-weight: 400;
  }

  .title {
    color: #fff;
    font-family: $OpenSans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
  }

  .table-button {
    position: absolute;
    top: 15px;
    //right: -130px;
    min-width: 150px;
    margin-left: 20px;

    @media (max-width: 768px) {
      right: -170px;
    }

    @media (min-width: 1600px) {
      position: absolute;
      top: 5px;
    }
  }

  .hover-button {
    box-sizing: border-box;
    height: 50px;
    margin-top: -0.69vw;
    margin-bottom: 30px;
    padding: 12px;
    border: 1px solid #f1a900;
    border-radius: 5px;
    background-color: #013a4e;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    &:lang(fr) {
      left: 2.91vw;
      padding-right: 5px;
      padding-left: 5px;

      @media (max-width: 768px) {
        left: 11.2vw;
      }
    }

    @media (max-width: 768px) {
      margin-top: -2vw;
    }

    @media (min-width: 1600px) {
      margin-top: 0;
    }
  }

  .stop {
    //position: relative;
    background: rgba(255, 255, 255, 0.3);
  }

  .stop:hover::after {
    content: 'Cart can either contain bulk or packaged order items. To change your order type, please empty your cart first';
    position: absolute;
    z-index: 999;
    top: 45px;
    right: -60px;
    width: 500px;
    padding: 1.319vw;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background: #013a4e;
    font-size: 0.972vw;
    font-weight: 400;
    line-height: 1.25vw;
    text-align: left;
    text-transform: none;

    @media (max-width: 768px) {
      width: 240px;
      font-size: 12px;
      line-height: 5.25vw !important;
    }
  }

  .table-image {
    position: absolute;
    top: -35%;
    left: -15%;
    width: get-vw(149.35px);
    height: get-vw(191.57px);
  }
}
// &:hover {
//   // border: 1px solid #9c9175;
//   background-color: #005472;
// }
// .table-content {

// }
.ant-modal {
  width: 77.84vw !important;
  height: 15.27vw;

  .ant-modal-body {
    padding-top: 4.86vw;
    padding-right: 6.94vw;
    padding-left: 10.9vw;
    background: #013a4e;

    @media (max-width: 768px) {
      padding-top: 40px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (max-width: 768px) {
    width: 100% !important;
    max-width: 100% !important;
    margin: 90px 0 !important;
  }

  .ant-modal-close-x {
    color: white;
    font-size: 20px;
  }
}

body .ant-modal-mask {
  background: #727272e3;
}

.ant-modal-footer {
  display: none;
}

// .Price-list-modal {
//   .ant-modal-root {
//     .ant-modal-wrap {
//       .ant-modal {
//     width: 77.84vw !important;
//   }
// }
//   }
// }

.model-parent {
  display: flex;

  .product-img {
    width: 10.9vw;
    max-width: 10.9vw;
    height: 192px;
    margin: 0;
    // max-width: 150px;
    background: white;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .prodct-data {
    //padding-left: 2.5vw;

    h1 {
      margin-top: 0;
      margin-left: 3vw;
      color: white;
      font-family: $OpenSans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 26px;
      text-align: left;
    }

    .product-detail {
      display: grid;
      grid-template-columns: 1.4fr 1.4fr 1fr 1fr 1fr 1.4fr;
      align-items: baseline;
      margin-left: 3.5vw;
      padding-top: 3.26vw;
      // padding-left: 2.3vw;
      justify-items: center;

      .detail {
        font-size: 0.97vw !important;
        font-weight: bold !important;
      }

      div {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        //margin-right: get-vw(15px);
      }

      p.value-color {
        color: #f1a900;
        text-align: right;
      }

      p.qty {
        text-align: center;
      }

      p.price-value {
        text-align: right;
      }

      p.part-value {
        margin-right: 0.5vw !important;
      }

      .products-sizes {
        margin-right: 1.041vw;
        margin-bottom: 1.94vw;
        color: white;
        font-family: $OpenSans;
        font-size: 13px;
        font-style: normal;
        font-weight: 800;
        line-height: 18px;
        text-align: left;
      }
    }

    .pricelist-addcart {
      width: 20.83vw;
      height: 64px;
      margin-top: 0.97vw;
      margin-right: 2.08vw;
      margin-bottom: 30px;
      float: right;
      border: 1px solid #f2a900;
      border-radius: 5px;
      background: #f2a900;
      color: white;
      font-family: $OpenSans;
      font-size: 1.597vw;
      font-weight: 700;
    }
  }

  .ant-input-number-input-wrap {
    width: 49px;
  }
}

.product-mobile {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-left: 25px;
  font-family: $OpenSans;

  .product-subtotal-price-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    .product-subtotal-price {
      margin-bottom: 39px;
      padding-top: 18px;
      color: #f1a900;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.02em;
      line-height: 30px;
      text-align: right;
    }
  }

  .product-heading-mobile {
    margin: 0 auto 26px auto;
    color: white;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 110%;
  }

  @media (max-width: 768px) {
    .products-sizes {
      font-size: 11px;
      font-weight: 800;
      letter-spacing: 0.03em;
      line-height: 15px;
      text-transform: uppercase;
    }
  }

  @media (max-width: 768px) {
    .detail {
      display: flex;
      justify-content: center;
      width: 64px;
      color: #c2bbb7;
      font-weight: 700;

      &:first-child {
        width: 47px;
      }
    }
  }

  .product-img-mobile {
    width: 178px;
    max-width: 178px;
    height: 192px;
    margin: 0 auto;
    // max-width: 150px;
    background: white;

    img {
      object-fit: cover;
      width: 178px;
      height: 100%;
    }
  }

  .product-content-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    color: white;
    font-weight: bold !important;

    .product-pricing-mobile {
      display: flex;
      flex-direction: row;

      .product-pricing-block {
        margin-left: 30px;
        text-align: right;
      }

      .detail-price {
        justify-content: flex-end;
      }
    }
  }

  .product-total-pricing {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 38px;
    color: white;

    @supports (-webkit-touch-callout: none) {
      margin-left: auto;
    }

    .total-pricing-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;

      p {
        margin-right: 11px;
        margin-bottom: 0;
      }

      .detail {
        display: block;

        .ant-input-number {
          width: 59px !important;

          @media (max-width: 768px) {
            border-radius: 3px;
            font-family: $OpenSans !important;
            font-size: 4vw !important;
            font-weight: bold !important;
          }
        }
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 19px;
      font-size: 11px;
      font-weight: 800;
      line-height: 15px;

      .products-sizes {
        margin-bottom: 4px;
      }

      .details {
        color: #f1a900;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        line-height: 140%;
        text-align: right;
      }
    }
  }

  .pricelist-addcart-mobile {
    width: 100%;
    height: 64px;
    margin-top: 0.97vw;
    margin-bottom: 30px;
    float: right;
    border: 1px solid #f2a900;
    border-radius: 5px;
    background: #f2a900;
    color: white;
  }
}
