@import '~styles/globals';

.categoryItem {
  display: flex;
  flex-direction: column;
  width: 17.36vw;
  margin-left: 1.041vw;

  .active-category {
    border: 0.1vw solid #f2a900 !important;
    background: rgba(5, 5, 5, 0.39);
    // border-color: #f2a900 !important;
    color: #f2a900 !important;

    // @media (max-width: 768px) {
    //   // margin-bottom: 0 !important;
    //   padding-top: 0 !important;
    //   padding-bottom: 0 !important;
    // }
    p {
      padding: 0;
    }
  }

  .deactive-category {
    background: rgba(5, 5, 5, 0.39);
  }

  .c-label {
    margin-bottom: 1vw;
    padding: 1vw;
    // background: rgba(5, 5, 5, 0.39);
    color: #eceae9;
    font-family: $OpenSans;
    font-size: 0.69vw;
    font-weight: bold;
    cursor: pointer;

    @media (max-width: 768px) {
      border: none !important;
      font-size: 2.6vw;
    }

    @media (max-width: 500px) {
      margin-bottom: 2.6vw;
      padding: 2.6vw;
    }

    &:hover {
      color: #f2a900;
    }
  }

  .subItem {
    margin-bottom: 1vw;
    padding: 1vw 0;

    .deactive-product {
      padding: 0;

      .c-link {
        margin-bottom: 1vw;
        padding: 0;
        border: none;
        background: none;

        .h-links {
          color: rgba(236, 234, 233, 0.69);
          line-height: get-vw(28px);
        }
      }
    }

    .active-product {
      a.c-link {
        .h-links {
          color: #fff;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 4vw 0 0 0;
      border: none;
      background: none;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }
}
