@import '~styles/globals';

.account-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: get-vw(68px);
  padding-bottom: get-vw(17px);

  @media (max-width: 768px) {
    justify-content: unset;
    width: 100%;
    // margin-left: 24px;
    // padding-top: 173px;
    .item-and-amount {
      font-family: $OpenSans !important;
      font-size: 3.73vw;
      font-weight: 700;
    }

    .account-sections {
      display: flex;
      margin-bottom: 110px;
    }
  }

  .account-section-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.39vw;
  }

  .account-image-block {
    width: get-vw(172px);
    height: get-vw(172px);
    background-color: white;

    @media (max-width: 768px) {
      width: 83px;
      height: 83px;
    }

    .account-image-block__image {
      width: get-vw(172px);
      height: get-vw(172px);

      @media (max-width: 768px) {
        width: 83px;
        height: 83px;
      }
    }
  }

  .account-review-block {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 0.97vw;

    .account-image-block__orderNumber {
      margin-bottom: get-vw(13px);
      border: none;
      background-color: transparent;
      color: white;
      font-size: get-vw(16px);
      font-style: normal;
      font-weight: 700;
      line-height: get-vw(22px);
      text-transform: uppercase;
    }

    .account-image-block__orderNumberDetail {
      margin-bottom: get-vw(13px);
      border: none;
      background-color: transparent;
      color: #f1a900;
      font-size: get-vw(16px);
      font-style: normal;
      font-weight: 700;
      line-height: get-vw(22px);
      text-transform: uppercase;
    }

    .account-image-block__orderCart {
      margin-bottom: get-vw(16px);
      border: none;
      background-color: transparent;
      color: white;
      font-size: get-vw(16px);
      font-style: normal;
      font-weight: 700;
      line-height: get-vw(22px);
      text-decoration: underline;
      text-transform: uppercase;
      cursor: default;
    }

    .account-image-block__orderReview {
      border: none;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.5);
      font-size: get-vw(16px);
      font-style: normal;
      font-weight: 700;
      line-height: get-vw(22px);
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  .account-price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: get-vw(32px);

    // .account-image-block__orderPrice {
    //   margin-bottom: get-vw(18px);
    //   color: #d99e08;
    //   font-size: get-vw(14px);
    //   font-style: normal;
    //   font-weight: 700;
    //   line-height: get-vw(20px);
    //   text-align: right;
    // }

    .account-image-block__orderReorder {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .account-date-block {
    margin-top: get-vw(10px);
    color: white;

    .account-image-block__orderPricee {
      margin-bottom: get-vw(18px);
      color: #f1a900;
      font-size: 1.38vw !important;
      font-style: normal;
      font-weight: 700;
      line-height: get-vw(20px);
      text-align: left;
    }

    .account-image-block__orderDate {
      margin-bottom: get-vw(10px);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;

      @media (max-width: 768px) {
        font-size: 100px;
      }
    }

    .account-image-block__orderFullPrice {
      margin-bottom: get-vw(5px);
      color: #f1a900;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 27px;
    }

    .account-image-block__orderStatus {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }
  }
}

.account-mobile-description {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.account-mobile-label {
  margin-bottom: 42px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  @media (max-width: 768px) {
    font-family: $OpenSans !important;

    &:first-child {
      margin-bottom: 4.8vw;
    }
  }
}

.account-mobile-orderPrice {
  margin-bottom: 18px !important;
  color: #f1a900;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  @media (max-width: 768px) {
    font-family: $OpenSans !important;
  }
}

.account-mobile-orderCart {
  margin-bottom: 12px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}

.order-history-skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 10px 0;

  .ant-skeleton-element {
    padding-right: 10px;

    .ant-skeleton-image {
      width: 83px;
      height: 83px;

      @media (min-width: 1024px) {
        width: 155px;
        height: 155px;
      }
    }
  }

  .ant-skeleton-active {
    .ant-skeleton-content {
      .ant-skeleton-paragraph {
        margin-bottom: 0;
      }
    }
  }
}
