@import '~styles/globals';

.checkout-footer {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-top: 1px solid #e6e6e6;
  color: #197bbd;
  font-family: $font-apple-system;
  font-size: 0.8571428571em;
  text-align: center;
  cursor: pointer;

  @media (max-width: 767px) {
    margin: 0 1em;
  }

  .checkout-policy-links {
    display: flex;
    flex-direction: row;
    color: #197bbd;

    .checkout-policy-link {
      margin-right: 1.5em;
      margin-bottom: 0.5em;
      color: #197bbd;
    }
  }

  .tos-link {
    color: #197bbd;
    text-align: left;
  }
}
