@import '~styles/globals';

.warranty-page-wrapper {
  .warranty-page-wrap {
    padding-top: get-vw(66px);
    padding-right: get-vw(38px);
    padding-bottom: get-vw(78px);
    padding-left: get-vw(69px);
    font-family: $OpenSans;

    @media only screen and (max-width: 768px) {
      padding-top: 11.2vw;
      padding-bottom: 0;
      padding-left: 8vw;
      font-size: 6.4vw;
    }

    .warranty-title {
      margin: 0%;
      margin-bottom: get-vw(14px);
      color: #f1a900;
      font-size: get-vw(36px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(49px);
      text-transform: uppercase;

      @media only screen and (max-width: 768px) {
        font-size: 6.4vw;
      }
    }

    .image-and-text {
      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .warranty-image {
        .c-image {
          width: 16.38vw;
          height: 16.94vw;

          @media (max-width: 768px) {
            width: 62.93vw;
            height: 65.06vw;
            margin-top: 6.66vw;
          }
        }
      }

      p {
        width: 41.04vw;

        @media (max-width: 768px) {
          width: 76.8vw;
          padding-bottom: 3.73vw;
        }
      }

      .heading-tech {
        width: get-vw(591px);
        padding-left: get-vw(28px);
        font-family: $OpenSans;
        font-size: get-vw(14px);
        font-style: normal;
        font-weight: normal;
        line-height: 140%;

        a {
          color: #f1a900;
        }
      }
    }
  }

  .technical-bottom {
    padding-top: get-vw(48px);

    .technical-bottom-section {
      margin-top: 0;
    }

    .plp-bottom-image {
      margin-top: get-vw(29px);
      margin-bottom: get-vw(30px);
    }

    .dealer-botton {
      width: get-vw(226px);
      height: get-vw(40px);
      margin: 0;
      font-family: $OpenSans;
      font-size: get-vw(14px);
      font-weight: bold;
      letter-spacing: 0.75px;
      line-height: get-vw(24px);
      //line-height: get-vw(24px);
    }
  }
}
