.location-input {
  margin-bottom: 10px;

  &__input {
    width: 100%;
    height: 32px;
    padding: 0.41vw 1.2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }

  &__find-btn {
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    outline: 0;
    background-color: #ffbe47;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    @media (max-width: 991px) {
      margin-top: 10px;
    }
  }

  &__input-wrapper {
    margin-right: 10px;

    @media (max-width: 991px) {
      margin-right: 0;
    }
  }
}
