@import '~styles/globals';

.distribute-wraper {
  background: #013a4e;

  @media screen and (max-width: 500px) {
    padding: 5.3vw 0;
  }

  .distribute-heading {
    width: 80.2vw;
    margin: 3.75vw 9.86vw;
    color: white;
    font-family: $OpenSans;
    font-size: 3.19vw;
    font-weight: bold;
    letter-spacing: -0.01vw;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      width: 331px;
      font-size: 20px;
    }

    @media screen and (max-width: 500px) {
      width: 89.8vw;
      font-size: 5.3vw;
      letter-spacing: 0.01vw;
      line-height: 111%;
    }
  }
}

.distribution-wraper {
  display: flex;
  justify-content: flex-start;
  padding: 1.1vw 4.5vw;
  background: #013a4e;

  // @media screen and (min-width: 1600px) {
  //   justify-content: space-around;
  // }

  @media only screen and (max-width: 768px) {
    display: flow-root;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
  }

  @media screen and (max-width: 500px) {
    padding-top: 6.6vw;
  }

  .outer-border {
    margin-right: 8.8vw;
    margin-left: 4vw;

    @media screen and (max-width: 500px) {
      width: 87.2vw;
      height: 92.2vw;
      margin: auto;
    }

    .imag-wrapper {
      width: 40.8vw;
      height: 34.72vw;
      margin: 0.5vw;
      background: white;

      @media screen and (max-width: 500px) {
        width: 100%;
        height: 92.2vw;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .deleteouter-border {
    margin-right: 8.8vw;
    margin-left: 2vw;

    // @media screen and (min-width: 1600px) {
    //   margin-right: 0;
    // }

    @media screen and (max-width: 768px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .imag-wrapper {
      width: 40.8vw;
      height: 34.72vw;
      margin: 0.5vw;
      background: white;

      // @media screen and (max-width: 1366px) {
      //   width: 550px;
      // }

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 358px;
        margin: 0;
      }

      @media screen and (max-width: 500px) {
        width: 87.2vw !important;
        height: 92.2vw !important;
        margin: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    background: #032939;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .outer-border {
      margin-right: 3vw;
      margin-left: 8.8vw;

      // @media screen and (min-width: 1600px) {
      //   margin-left: 0;
      // }

      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-left: 0;
      }

      @media screen and (max-width: 500px) {
        width: 90%;
        height: auto;
        margin: auto;
      }
    }

    .deleteouter-border {
      margin-right: 4.4vw;
      margin-left: 8.8vw;

      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  .text-wrapper {
    align-self: center;
    width: 26.6vw;

    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }

    @media screen and (max-width: 500px) {
      width: 87.2vw;
      padding: 0 3.2vw;
    }

    h1 {
      color: white;
      font-family: $OpenSans;
      font-size: 2vw;
      font-weight: bold;
      line-height: 110%;
      text-transform: uppercase;

      @media screen and (max-width: 500px) {
        font-size: 8.5vw;
      }
    }

    p {
      padding-top: 1.38vw;
      padding-bottom: 1.38vw;
      color: white;
      font-family: $OpenSans;
      font-size: 0.9vw;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;

      @media screen and (max-width: 500px) {
        font-family: $Raleway;
        font-size: 3.7vw;
      }
    }

    button {
      box-sizing: border-box;
      width: 26.6vw !important;
      min-height: 3.3vw;
      padding-top: 0.69vw;
      // padding-right: 9.47vw;
      padding-bottom: 0.69vw;
      // padding-left: 9.47vw;
      border: 0.13vw solid #f2a900;
      border-radius: 0.34vw;
      background: #f2a900;
      color: white;
      font-family: $OpenSans;
      font-size: 1.1vw;
      font-weight: bold;
      letter-spacing: 0.05vw;
      line-height: 1.9vw;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 300px !important;
        font-family: $OpenSans;
        font-size: 16px !important;
        line-height: 28px !important;
      }

      @media screen and (max-width: 500px) {
        width: 80vw !important;
        height: 17vw !important;
        margin: 2.6vw;
        border-radius: 1.3vw;
        font-size: 4.2vw;
        letter-spacing: 0.2vw;
        line-height: 7.4vw;
      }
    }
  }
}

.distribution-wraper:nth-child(16) {
  flex-direction: row !important;

  @media only screen and (max-width: 768px) {
    display: flow-root;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
  }

  @media screen and (max-width: 500px) {
    padding-top: 6.6vw;
  }

  .outer-border {
    margin-right: 8.8vw;
    margin-left: 4vw;

    @media screen and (max-width: 500px) {
      width: 87.2vw;
      height: 92.2vw;
      margin: auto;
    }

    .imag-wrapper {
      width: 40.8vw;
      height: 34.72vw;
      margin: 0.5vw;
      background: white;

      @media screen and (max-width: 500px) {
        width: 87.2vw;
        height: 92.2vw;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .deleteouter-border {
    margin-right: 8.8vw;
    margin-left: 2vw;

    @media screen and (max-width: 768px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .imag-wrapper {
      width: 40.8vw;
      height: 47.2vw;
      margin: 0.5vw;
      background: white;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 358px;
        margin: 0;
      }

      @media screen and (max-width: 500px) {
        width: 87.2vw !important;
        height: 92.2vw !important;
        margin: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.distribution-wraper:nth-child(17) {
  flex-direction: row-reverse;
  background: #032939;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .outer-border {
    margin-right: 3vw;
    margin-left: 8.8vw;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: 0;
    }

    @media screen and (max-width: 500px) {
      width: 327px;
      height: 346;
      margin: auto;
    }
  }

  .deleteouter-border {
    margin-right: 4.4vw;
    margin-left: 8.8vw;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.distribution-wraper:nth-child(18) {
  flex-direction: row !important;

  @media only screen and (max-width: 768px) {
    display: flow-root;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
  }

  @media screen and (max-width: 500px) {
    padding-top: 6.6vw;
  }

  .outer-border {
    margin-right: 8.8vw;
    margin-left: 4vw;

    @media screen and (max-width: 500px) {
      width: 87.2vw;
      height: 92.2vw;
      margin: auto;
    }

    .imag-wrapper {
      width: 40.8vw;
      height: 34.72vw;
      margin: 0.5vw;
      background: white;

      @media screen and (max-width: 500px) {
        width: 87.2vw;
        height: 92.2vw;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .deleteouter-border {
    margin-right: 8.8vw;
    margin-left: 2vw;

    @media screen and (max-width: 768px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .imag-wrapper {
      width: 40.8vw;
      height: 47.2vw;
      margin: 0.5vw;
      background: white;

      @media screen and (max-width: 768px) {
        width: 100%;
        height: 358px;
        margin: 0;
      }

      @media screen and (max-width: 500px) {
        width: 87.2vw !important;
        height: 92.2vw !important;
        margin: auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
