@import '~styles/globals';

.tech-page-wrapper {
  .catlog-main {
    display: flex;
    flex-direction: row;
    // margin-left: 4.2vw;

    .catlog-tab {
      margin-top: 4.2vw;
    }

    .catlog-warp {
      width: 69.4vw;
      margin-top: 6.3vw;
      // margin-left: 2.6vw;
      background-color: #03293980;

      .img-deading {
        display: flex;
        flex-direction: row;
        padding-bottom: 5.9vw;
        padding-left: 4.7vw;

        .imge-catlog {
          > .c-image {
            max-width: none;

            @media (max-width: 768px) {
              max-width: none;
            }
          }
        }

        @media (max-width: 768px) {
          display: flex;
          flex-direction: column;
          padding-top: 6.6vw;
        }
      }

      .catlog-label {
        padding-top: 4.5vw;
        padding-bottom: 0.97vw;
        padding-left: 4.7vw;
        color: #f1a900;
        font-family: $OpenSans;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: bold;
        line-height: 3.4vw;
        text-transform: uppercase;

        @media (max-width: 768px) {
          padding-top: 42px;
          font-size: 9.6vw;
        }
      }

      .heading-catlog {
        padding-right: 4.86vw;
        padding-left: 1.9vw;
        opacity: 0.9;
        color: #fff;
        font-family: $OpenSans;
        font-size: 0.97vw;
        font-style: normal;
        font-weight: normal;
        line-height: 1.3vw;

        p {
          margin-bottom: 0.34vw;
        }

        .english-link {
          color: #f1a900;
        }

        @media (max-width: 768px) {
          padding-top: 9.6vw;
          opacity: 0.9;
          font-family: $OpenSans;
          font-size: 3.7vw;
          font-style: normal;
          font-weight: normal;
          line-height: 140%;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding: 9px;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-top: -24px;
      margin-left: 0;
    }
  }
}
