/* stylelint-disable */
@import '~styles/globals';

.our-story-page-wrapper {
  color: white;
  color: white;
  font-family: $OpenSans;
  font-family: $OpenSans;

  .our-story-wrapper {
    margin-top: get-vw(100px);
    margin-right: get-vw(91px);
    padding-top: get-vw(66px);
    padding-right: get-vw(77px);
    padding-bottom: get-vw(87px);
    padding-left: get-vw(61px);
    background: rgba(3, 41, 57, 0.5);

    @media screen and (max-width: 768px) {
      margin-top: 0;
      margin-right: 0;
      padding-top: 53px;
      padding-right: 30px;
      padding-bottom: 0;
      padding-left: 30px;
    }

    .title {
      margin-bottom: get-vw(30px);
      color: #f1a900;
      font-size: get-vw(24px);
      font-weight: bold;
      line-height: get-vw(33px);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        line-height: 33px;
      }
    }

    .safety-para {
      a {
        color: #f1a900;
      }

      &:nth-child(1) {
        .title {
          @media screen and (max-width: 768px) {
            margin-bottom: 3.2vw !important;
          }
        }
      }

      &:nth-child(2) {
        font-weight: bolder;

        .safety-paragraph {
          font-weight: 600 !important;
        }
      }

      &:nth-child(3) {
        @media screen and (max-width: 768px) {
          height: auto;
        }
      }

      &:nth-child(4) {
        @media screen and (max-width: 768px) {
          height: auto;
        }
      }
    }

    .our-story-content {
      font-size: 0.97vw;

      .paragraph {
        font-size: get-vw(14px);
        font-weight: normal;
        line-height: get-vw(20px);
        //   color: rgba(38, 70, 83, 0.5);
        @media screen and (max-width: 768px) {
          display: none;
        }

        &.safety-paragraph {
          font-size: get-vw(14px);
          font-weight: 400;
          line-height: get-vw(19.6px);
          //   color: rgba(38, 70, 83, 0.5);
          @media screen and (max-width: 768px) {
            font-size: 3.73vw;
            line-height: 5.22vw;
          }

          a {
            color: #f1a900;
          }
        }
      }
    }

    .yellow {
      color: #f1a900;
    }

    .highlighted-paragraph {
      margin-top: get-vw(30px);
      margin-bottom: get-vw(20px);
      font-size: get-vw(20px);
      font-weight: bold;
      line-height: get-vw(27px);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .highlighted-paragraph-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        //margin-top: 30px;
        margin-bottom: 42px;
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
      }
    }

    .overview-detail-section-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        overflow: hidden;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        a {
          color: #f1a900;
        }
      }

      .read-more {
        display: block;
        position: relative;
        right: 0;
        bottom: 60px;
        width: 100%;
        height: 60px;
        padding-top: 40px;
        background-image:
          linear-gradient(
            to bottom,
            transparent,
            rgba(2, 50, 68, 0.57)
          );
        color: orange;
        font-size: 14px;
        font-weight: normal;
        line-height: 140%;
        text-align: left;

        .button {
          position: relative;
          top: 25px;
          right: 6px;
          border: 0;
          background-color: transparent;
          color: white;
        }
      }

      .read-less {
        display: block;
        position: relative;
        right: 0;
        bottom: 60px;
        width: 100%;
        height: 60px;
        padding-top: 40px;
        color: orange;
        font-size: 14px;
        font-weight: normal;
        line-height: 140%;
        text-align: left;

        .button {
          position: relative;
          top: 25px;
          right: 6px;
          border: 0;
          background-color: transparent;
          color: white;
        }
      }
    }
  }

  .our-story-wrapper {
    margin-top: get-vw(100px);
    margin-right: get-vw(91px);
    padding-top: get-vw(66px);
    padding-right: get-vw(77px);
    padding-bottom: get-vw(87px);
    padding-left: get-vw(61px);
    background: rgba(3, 41, 57, 0.5);

    @media screen and (max-width: 768px) {
      margin-top: 0;
      margin-right: 0;
      padding-top: 40px;
      padding-right: 29px;
      padding-bottom: 0;
      padding-left: 29px;
    }

    .title {
      margin-bottom: get-vw(30px);
      color: #f1a900;
      font-size: get-vw(24px);
      font-weight: bold;
      line-height: get-vw(33px);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        line-height: 33px;
      }
    }

    .safety-para {
      &:nth-child(1) {
        .title {
          @media screen and (max-width: 768px) {
            margin-bottom: 3.2vw !important;
          }
        }
      }

      &:nth-child(2) {
        font-weight: bolder;

        .safety-paragraph {
          font-weight: 600 !important;
        }
      }

      &:nth-child(3) {
        @media screen and (max-width: 768px) {
          height: auto;
        }
      }

      &:nth-child(4) {
        @media screen and (max-width: 768px) {
          height: auto;
        }
      }
    }

    .our-story-content {
      font-size: 0.97vw;

      .paragraph {
        font-size: get-vw(14px);
        font-weight: normal;
        line-height: get-vw(20px);
        //   color: rgba(38, 70, 83, 0.5);
        @media screen and (max-width: 768px) {
          display: none;
        }

        &.safety-paragraph {
          font-size: get-vw(14px);
          font-weight: 400;
          line-height: get-vw(19.6px);
          //   color: rgba(38, 70, 83, 0.5);
          @media screen and (max-width: 768px) {
            font-size: 3.73vw;
            line-height: 5.22vw;
          }

          a {
            color: #f1a900;
          }
        }
      }
    }

    .yellow {
      color: #f1a900;
    }

    .highlighted-paragraph {
      margin-top: get-vw(30px);
      margin-bottom: get-vw(20px);
      font-size: get-vw(20px);
      font-weight: bold;
      line-height: get-vw(27px);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .highlighted-paragraph-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: none;
        //margin-top: 30px;
        margin-bottom: 42px;
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
      }
    }

    .overview-detail-section-mobile {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
        position: relative;
        padding-bottom: 0;
        overflow: hidden;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        a {
          color: #f1a900;
        }
      }

      .read-more {
        display: block;
        position: relative;
        right: 0;
        bottom: 60px;
        width: 100%;
        height: 60px;
        padding-top: 40px;
        background-image:
          linear-gradient(
            to bottom,
            transparent,
            rgba(2, 50, 68, 0.57)
          );
        color: orange;
        font-size: 14px;
        font-weight: normal;
        line-height: 140%;
        text-align: left;

        .button {
          position: relative;
          top: 25px;
          right: 6px;
          border: 0;
          background-color: transparent;
          color: white;
        }
      }

      .read-less {
        display: block;
        position: relative;
        right: 0;
        bottom: 60px;
        width: 100%;
        height: 60px;
        padding-top: 40px;
        color: orange;
        font-size: 14px;
        font-weight: normal;
        line-height: 140%;
        text-align: left;

        .button {
          position: relative;
          top: 25px;
          right: 6px;
          border: 0;
          background-color: transparent;
          color: white;
        }
      }
    }
  }
}
/* stylelint-enable */
