@import '~styles/globals';

.cart-pop-Up {
  display: flex;
  position: absolute;
  top: get-vw(110px);
  right: 0%;
  width: 100%;
  background: #013a4e;
  color: white;
  font-family: $OpenSans;

  @media (max-width: 768px) {
    top: 19vw;
    //height: 13.33vw;
  }

  .cart-message-and-image {
    display: flex;

    /* or 25px */
    padding-top: get-vw(14.5px);
    padding-right: get-vw(28px);
    padding-bottom: get-vw(13.7px);
    padding-left: get-vw(125px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: get-vw(18px);
    font-style: normal;
    font-weight: bold;
    line-height: 140%;

    @media screen and (max-width: 768px) {
      margin-top: 2vw;
      margin-right: 0;
      margin-left: 1vw;
      padding: 0;
      font-size: 3vw;
      font-weight: 400;
      line-height: 100%;
    }

    .pop-up-text {
      margin-top: get-vw(37px);
      margin-bottom: get-vw(40.3px);

      @media screen and (max-width: 768px) {
        margin-top: 1vw;
        //margin-right: 1vw;
        margin-bottom: 0;
        font-size: 2.3vw;
      }
    }

    .pop-up-image {
      width: get-vw(85.3px);
      height: get-vw(98.87px);
      margin-right: get-vw(40px);
      background: white;
    }
  }

  .subtotal-and-free-delivery-info {
    display: flex;
    flex-direction: column;
    padding-right: get-vw(66px);
    padding-left: get-vw(33px);

    @media screen and (max-width: 768px) {
      // margin-right: 1vw;
      margin-left: 1vw;
      padding-right: 0;
      padding-left: 0;
    }

    .subtotal-section {
      display: flex;
      margin-top: get-vw(32px);
      margin-bottom: get-vw(21px);

      @media screen and (max-width: 768px) {
        margin: 0.5vw;
      }

      .subtotal-section-text {
        margin-right: get-vw(10px);
        font-size: get-vw(22px);
        font-style: normal;
        font-weight: bold;
        line-height: get-vw(31px);

        @media screen and (max-width: 768px) {
          width: 24vw;
          margin-top: 0.7vw;
          font-size: 2.2vw !important;
          font-weight: 400;
          line-height: 100%;
        }
      }

      .subtotal-section-price {
        color: #f1a900;
        font-size: get-vw(22px);
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.02em;

        @media screen and (max-width: 768px) {
          font-size: 2.5vw !important;
          font-weight: 400;
        }
      }
    }

    .free-shipping-banner {
      display: flex;
      font-size: get-vw(16px);
      font-weight: bold;
      line-height: get-vw(22px);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        margin-right: 1vw;
        margin-bottom: 1vw !important;
        font-size: 2.2vw !important;
        font-weight: 400;
        line-height: 100%;
      }

      .free-shipping-banner-text-price {
        margin-right: get-vw(10px);
        margin-left: get-vw(10px);
        color: #f1a900;
      }
    }
  }

  .viewcart-and-checkout-btn {
    display: flex;
    margin-top: get-vw(42px);
    margin-bottom: get-vw(44px);

    .viewcartBtn {
      box-sizing: border-box;
      //   height: get-vw(42px);
      width: get-vw(128px);
      margin-right: get-vw(19px);
      border: get-vw(1px) solid #f1a900;
      border-radius: 5px;
      background: #013a4e;
      font-size: get-vw(16px);
      font-weight: bold;
      line-height: get-vw(22px);

      @media screen and (max-width: 768px) {
        font-size: 2vw !important;
        font-weight: 400;
        line-height: 100%;
      }
    }

    .CheckoutBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: get-vw(241px);
      border: get-vw(1px) solid #f1a900;
      border-radius: get-vw(5px);
      background: #f1a900;
      color: white;
      font-size: get-vw(16px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(22px);

      @media screen and (max-width: 768px) {
        padding-left: 1.86vw;
        font-size: 2vw !important;
        font-weight: 400;
        line-height: 100%;
      }
    }
  }

  .cart-pop-header-icon {
    margin-bottom: get-vw(91.27px);
    margin-left: get-vw(54px);

    @media screen and (max-width: 768px) {
      width: 3vw;
      height: 2vw;
      margin-top: 1.5vw;
      margin-right: 2.66vw;
      margin-left: 3vw;
    }
  }
}
