@import '~styles/globals';

.Productitem-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding-right: 9.58vw;
  padding-left: 8.05vw;
  // padding: 50px 107px;
  background: #013a4e;

  // @media screen and (max-width: 1500px) and (min-width: 1366px) {
  //   padding: 0;
  // }
  @media screen and (max-width: 1366px) {
    padding: 50px 68px;
  }

  @media screen and (max-width: 768px) {
    grid-gap: 20px;
    grid-template-columns: repeat(2, 155px);
    padding: 0;
    gap: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 355px);
    justify-items: center;
  }
}

.warp-bottom {
  padding: 4.1vw 6vw;

  .c-button {
    width: 15.69vw;
    height: 2.77vw;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid #f1a900;
    border-radius: 0.34vw;
    background: none;
    color: #fff;
    text-transform: uppercase;
  }

  a.download-Pds_link {
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: bold;
    line-height: 1.66vw;
  }

  img {
    position: relative;
    bottom: 2px;
  }

  .plp-bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @media (max-width: 768px) {
      flex-direction: row;
    }

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .bottom-plp {
      width: 49%;

      @media (max-width: 425px) {
        width: 100%;
      }

      .mob-button {
        display: none;
        margin-top: 20px;
        padding: 7px;
        border: 1px solid #e25205;
        border-radius: 40px;
        color: #fff;
        text-transform: uppercase;

        @media (max-width: 425px) {
          display: block;
        }
      }

      .dealer-botton {
        @media (max-width: 425px) {
          display: none;
        }
      }
    }
  }
}
