@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

// .xpm-manager {
//   height: 100vh;
// }

.checkout-wrapper {
  padding-bottom: 12vw;
  color: #fff;
  font-family: $OpenSans;

  .checkoutHeader {
    padding-top: 1.25vw;
    padding-bottom: 0.97vw;
    background-color: #002a3a;

    img {
      width: 14.652vw;
      height: 5.486vw;
      padding-right: 8.4vw;
    }
  }

  .page-title {
    display: flex;
    align-items: center;
  }

  .checkout-back-icon {
    width: 0.83vw;
    height: 1.66vw;
    margin-right: 0.97vw;
    font-size: 2.3vw !important;

    @media (max-width: 768px) {
      font-size: 4vw !important;
    }
  }

  .checkout-title {
    color: #eceae9;
    font-family: $OpenSans;
    font-size: get-vw(32px);
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 4.266vw;
    }
  }

  .checkout-btn {
    width: 100%;
    margin: 3vw 1vw;

    .placeorder-btn {
      box-sizing: border-box;
      width: 55vw;
      height: 4.444vw;
      margin-top: 1vw;
      border: 1px solid #f2a900;
      border-radius: 5px;
      background-color: #f2a900;
      color: #fff;
      font-size: 1.597vw;
      font-weight: 700;

      @media (max-width: 768px) {
        width: 100%;
        height: 64px !important;
        font-size: 4vw;
      }
    }
  }

  // .checkout-padding {
  //   padding: 1vw 1vw 0 4vw;

  //   .radio-btn {
  //     font-size: 1.1805vw !important;

  //     @media (max-width: 768px) {
  //       font-size: 4vw !important;
  //     }
  //   }
  // }

  .checkout-heading-padding {
    padding: 2.43vw 1vw 0 8.33vw;

    .radio-btn {
      font-size: 1vw !important;

      @media (max-width: 768px) {
        font-size: 4vw !important;
      }
    }
  }

  .checkout-summary {
    padding: 1vw 4vw 1vw 8.88vw;
    color: #fff;

    @media (max-width: 768px) {
      padding: 0;
    }

    .summary-title {
      color: #eceae9;
      font-family: $OpenSans;
      font-size: get-vw(24px);
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 6vw;
      }
    }

    span {
      font-size: get-vw(16px);

      @media (max-width: 768px) {
        font-size: 4vw;
      }
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1vw 0 0 0;
      font-style: normal;
      font-weight: bold;
    }

    .total-price {
      font-size: 1.666vw;

      @media (max-width: 768px) {
        font-size: 5vw;
      }
    }

    .total-amount {
      color: #f2a900;
      font-size: 1.666vw;

      @media (max-width: 768px) {
        font-size: 5vw;
      }
    }
  }

  .checkout-padding {
    padding: 1vw 1vw 0 7.43vw;

    @media (max-width: 768px) {
      padding-right: 24px;
      padding-left: 24px;
    }

    .radio-btn {
      font-size: 1.1805vw !important;

      @media (max-width: 768px) {
        font-size: 4vw !important;
      }
    }

    .change-button {
      height: 2.5vw !important;
      padding: 0 1vw 0 1vw;
      border: 0.15vw solid #f2a900 !important;
      border-radius: get-vw(5px);
      font-size: 1.2vw !important;
      // border-color: #f2a900 !important;
      @media (max-width: 768px) {
        height: auto !important;
        padding: 10px 30px 10px 30px;
        border-radius: get-vw(5px);
        font-size: 4vw !important;
      }

      &:hover {
        color: #fff !important;
      }

      &:focus {
        color: #fff !important;
      }
    }

    .checkout-info {
      width: 55.13vw;
      margin: 1vw;
      // margin-left: 0;
      padding: get-vw(20.8px);
      background-color: #002a3a;
      word-break: break-all;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        padding: 4vw;
      }

      span {
        font-size: 1.2vw;

        @media (max-width: 768px) {
          font-size: 4vw;
        }
      }

      .checkout-po {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      // .change-button:hover {
      //   color: #fff !important;
      // }

      // .change-button:focus {
      //   color: #fff !important;
      // }
    }

    .checkout-info-second {
      width: 55.13vw;
      margin: 1vw;
      // margin-left: 0;
      padding-top: get-vw(10px);
      padding-right: 2vw;
      padding-bottom: get-vw(11px);
      padding-left: 2vw;
      background-color: #002a3a;
      word-break: break-all;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        padding: 4vw;
      }

      .change-button {
        height: 2.5vw !important;
        padding: 0 1vw 0 1vw;
        border: 0.15vw solid #f2a900 !important;
        border-radius: get-vw(5px);
        font-size: 1.2vw !important;
        // border-color: #f2a900 !important;
        @media (max-width: 768px) {
          height: 6vw !important;
          padding: 10px 30px 10px 30px;
          border-radius: get-vw(5px);
          font-size: 4vw !important;
        }

        &:hover {
          color: #fff !important;
        }

        &:focus {
          color: #fff !important;
        }
      }

      span {
        font-size: 1.2vw;

        @media (max-width: 768px) {
          font-size: 4vw;
        }
      }

      .checkout-po {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 25%;
          font-size: get-vw(14px);

          @media (max-width: 768px) {
            width: 40%;
            font-size: 4vw;
          }
        }
      }

      // .change-button:hover {
      //   color: #fff !important;
      // }

      // .change-button:focus {
      //   color: #fff !important;
      // }
    }

    .checkout-info-third {
      width: 55.13vw;
      margin: 1vw;
      padding: get-vw(16px);
      background-color: #002a3a;
      word-break: break-all;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 36px;
        margin-left: 0;
        padding: 4vw;
      }

      span {
        font-size: 1.2vw;

        @media (max-width: 768px) {
          font-size: 4vw;
        }
      }

      .checkout-po {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 25%;
          font-size: get-vw(14px);

          @media (max-width: 768px) {
            width: 40%;
            font-size: 4vw;
          }
        }
      }
    }
  }

  // .checkout-heading-padding {
  //   padding: 2.43vw 1vw 0 4vw;

  //   .radio-btn {
  //     font-size: 1vw !important;

  //     @media (max-width: 768px) {
  //       font-size: 4vw !important;
  //     }
  //   }
  // }
}

.radio-group {
  input[type='radio'] {
    width: 50px !important;
    height: 50px !important;
    border: 0 !important;
  }
}

.inputStyle {
  width: 25%;
  font-size: get-vw(14px);

  @media (max-width: 768px) {
    width: 40%;
    font-size: 4vw;
  }
}
