@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.checkout-wrapper {
  padding-bottom: 12vw;
  color: #fff;
  font-family: $OpenSans;

  .checkoutHeader {
    padding-top: 1.25vw;
    padding-bottom: 0.97vw;
    background-color: #002a3a;

    img {
      width: 14.652vw;
      height: 5.486vw;
      padding-right: 8.4vw;
    }
  }

  .page-title {
    display: flex;
    align-items: center;
  }

  .checkout-back-icon {
    font-size: 2.3vw !important;

    @media (max-width: 768px) {
      font-size: 4vw !important;
    }
  }

  .checkout-title {
    color: #eceae9;
    font-family: $OpenSans;
    font-size: get-vw(32px);
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 4.266vw;
    }
  }

  .checkout-info {
    width: 100%;
    margin: 1vw;
    padding: 2vw;
    background-color: #002a3a;
    word-break: break-all;

    @media (max-width: 768px) {
      padding: 4vw;
    }

    span {
      font-size: 1.2vw;

      @media (max-width: 768px) {
        font-size: 4vw;
      }
    }

    .checkout-po {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        width: 25%;
        font-size: get-vw(14px);

        @media (max-width: 768px) {
          width: 40%;
          font-size: 4vw;
        }
      }
    }

    .change-button {
      height: 2.5vw !important;
      padding: 0 1vw 0 1vw;
      border: 0.15vw solid #f2a900 !important;
      border-radius: get-vw(5px);
      font-size: 1.2vw !important;
      // border-color: #f2a900 !important;
      @media (max-width: 768px) {
        height: 6vw !important;
        padding: 0 2vw 0 2vw;
        border-radius: get-vw(5px);
        font-size: 4vw !important;
      }
    }

    .change-button:hover {
      color: #fff !important;
    }

    .change-button:focus {
      color: #fff !important;
    }
  }

  .checkout-btn {
    width: 100%;
    margin: 3vw 1vw;

    .placeorder-btn {
      box-sizing: border-box;
      width: 100%;
      height: 4vw;
      margin-top: 1vw;
      border: 1px solid #f1a900;
      border-radius: 5px;
      background-color: #f1a900;
      color: #fff;
      font-size: 1.5vw;
      font-weight: 700;

      @media (max-width: 768px) {
        height: 10vw !important;
        font-size: 4vw;
      }
    }
  }

  .checkout-padding {
    padding: 1vw 1vw 0 4vw;

    .radio-btn {
      font-size: 1vw !important;

      @media (max-width: 768px) {
        font-size: 4vw !important;
      }
    }
  }

  .checkout-heading-padding {
    padding: 2.43vw 1vw 0 4vw;

    .radio-btn {
      font-size: 1vw !important;

      @media (max-width: 768px) {
        font-size: 4vw !important;
      }
    }
  }

  .checkout-summary {
    padding: 1vw 4vw 1vw 8.88vw;
    color: #fff;

    .summary-title {
      color: #eceae9;
      font-family: $OpenSans;
      font-size: get-vw(22px);
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 6vw;
      }
    }

    span {
      font-size: 1.2vw;

      @media (max-width: 768px) {
        font-size: 4vw;
      }
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1vw 0 0 0;
      font-style: normal;
      font-weight: bold;
    }

    .total-price {
      font-size: 1.5vw;

      @media (max-width: 768px) {
        font-size: 5vw;
      }
    }

    .total-amount {
      color: #f2a900;
      font-size: 1.5vw;

      @media (max-width: 768px) {
        font-size: 5vw;
      }
    }
  }
}

.radio-group {
  input[type='radio'] {
    width: 50px !important;
    height: 50px !important;
    border: 0 !important;
  }
}
