@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.checkout-header {
  width: 100%;
  height: 111px;
  background-color: #002a3a;

  > img {
    margin-top: 18px;
    margin-right: 552px;
    margin-left: 677px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .header-h {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    > img {
      margin-left: 9.86vw;
    }

    > h1 {
      color: #fff;
      font-family: $OpenSans;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 140%;
    }
    // margin-left: 44px;
  }

  .link {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
      margin: 0;
      margin-bottom: 25px;
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 140%;
    }

    > img {
      width: 32px;
      height: 33px;
      margin-top: 27px;
      margin-left: 20px;
      // margin-top: 32px;
      // margin-left: 24px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 74px;
  }
}

.chectout-wraper {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  .ant-radio-wrapper {
    color: white !important;
    font-size: get-vw(17px);
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: get-vw(23px);
    text-transform: uppercase;
  }

  .ant-radio-inner {
    border: 1px solid #d99e08;
    background: none;
  }

  .checkout-data {
    width: 64.02vw;
  }

  .desktop-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8.33vw;

    .img {
      // margin-left: get-vw(122px);
      width: 25px;
      height: 33px;
    }

    > h1 {
      width: 53.75vw;
      margin: get-vw(16px);
      color: #eceae9;
      font-family: $OpenSans;
      font-size: 32px;
      font-style: normal;
      font-weight: bold;
      line-height: 110%;
      text-transform: uppercase;
    }
    // .link-screen {
    //   > h1 {
    //     // margin-right: 36.52vw;
    //     //   margin-left: 8.33vw;
    //     color: #eceae9;
    //     font-family: $OpenSans;
    //     font-size: 32px;
    //     font-style: normal;
    //     font-weight: bold;
    //     line-height: 110%;
    //     text-transform: uppercase;
    //   }
    // >img{
    //   margin-right: 10px;
    // }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .checkout-gmail {
    width: 55.13vw;
    height: 68px;
    margin-top: 60px;
    margin-right: 36.52vw;
    margin-left: 8.33vw;
    background: #002a3a;

    > p {
      padding: 24px;
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 140%;
    }

    @media (max-width: 768px) {
      min-width: 87.2vw;
      margin-top: 39px;
      margin-right: 24px;
      margin-left: 24px;
    }
  }

  span.checkout-value {
    margin-left: 8.75vw;

    @media (max-width: 768px) {
      margin-left: 24.26vw;
    }
  }

  .ckeckout-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55.13vw;
    // height: get-vw(127px);
    margin-top: 15px;
    margin-right: 36.52vw;
    margin-left: 8.33vw;
    background: #002a3a;

    > p {
      padding: 24px;
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 140%;
    }

    .btn-location {
      box-sizing: border-box;
      align-items: center;
      width: get-vw(250px);
      margin-top: get-vw(45px);
      margin-left: get-vw(450px);
      border: 1px solid #f1a900;
      background-color: #002a3a;
      color: #fff;
      font-size: get-vw(16px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(22px);
      text-transform: uppercase;

      @media (max-width: 768px) {
        box-sizing: border-box;
        align-items: center;
        width: get-vw(300px);
        margin-top: get-vw(50px);
        margin-bottom: 4px;
        margin-left: get-vw(66px);
        font-size: get-vw(16px);
        line-height: get-vw(22px);
        text-transform: uppercase;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 87.2vw;
      //  min-height: get-vw(200px);
      margin-right: 24px;
      margin-left: 24px;
      border: 3px solid;
    }
  }

  .ckeckout-po {
    width: 55.13vw;
    height: 68px;
    margin-top: 16px;
    margin-right: 36.52vw;
    margin-left: 8.33vw;
    background: #002a3a;

    > p {
      padding: 24px;
      color: #fff;
      font-family: '$OpenSans';
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 140%;
    }

    @media (max-width: 768px) {
      min-width: 87.2vw;
      margin-right: 24px;
      margin-left: 24px;
    }
  }

  .costom-po {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55.13vw;
    height: 68px;
    margin-top: 5px;
    margin-right: 36.52vw;
    margin-left: 8.33vw;
    background: #002a3a;

    @media (max-width: 768px) {
      /*  padding-left: 6.4vw;
        padding-top: 6.4vw;
        padding-right: 6.4vw; */
    }

    > p {
      padding: 24px;
      color: #fff;
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 140%;

      @media (max-width: 768px) {
        padding: 0;
        padding-top: 4.5vw;
        padding-right: 6.4vw;
        padding-left: 6.4vw;
      }
    }

    > .input-po {
      display: flex;
      align-items: center;
      width: 20vw;
      height: get-vw(46px);
      margin-top: 11px;
      margin-right: 10px;
      background: #f5f5f5;
      color: #8c8885;
      font-family: $OpenSans;
      font-size: get-vw(14px);
      font-weight: 600;

      @media (max-width: 768px) {
        width: 45.33vw;
        height: 9.6vw;
        margin-bottom: 6.4vw;
        margin-left: 134px;
        border-radius: 0.8vw;
        background: #f5f5f5;
        color: #8c8885;
        font-size: 3.2vw;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      min-width: 87.2vw;
      height: 127px;
      margin-right: 24px;
      margin-left: 24px;
      border: 3px solid;
    }
  }

  .order-btn {
    align-items: center;
    width: 55.13vw;
    height: 64px;
    margin-top: 34px;
    margin-right: 36.52vw;
    margin-bottom: 45px;
    margin-left: 8.33vw;
    border: none;
    outline: none;
    background: #f2a900;
    color: white;
    font-family: $OpenSans;
    font-size: get-vw(23px);
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 768px) {
      // min-width: 86vw;
      // margin-right: 24;
      // margin-left: 25px;
      // margin-top: 123px;
      // background: #f2a900;
      // font-family: $OpenSans;
      display: none;
    }
  }

  .radio-delivery {
    display: flex;
    flex-direction: row;
    margin-left: 8.33vw;
    // margin-top: 32px;
    // margin-left: 74px;
    // margin-right: 36.52vw;
    // margin-left: 8.33vw;3

    color: #f5f5f5 !important;
    font-size: 17px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      width: 100%;
      margin-top: 10.4vw;

      // margin-top: 150px;
      // margin-right: 28px;
    }
  }

  .checkout-summary {
    margin-top: 143px;
    margin-left: 8.54vw;
    color: white;
    font-family: $OpenSans;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.022em;
    line-height: 30px;

    @media (max-width: 768px) {
      margin-top: 50px;
      margin-right: 24px;
      margin-left: 24px;
    }

    .order-summary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > p {
        font-family: $OpenSans;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 33px;
        text-transform: uppercase;
      }
      // @media (max-width: 768px) {
      //   display: none;
      // }
    }

    .order-handling {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > p {
        font-family: $OpenSans;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 140%;
      }
    }

    .order-credit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > p {
        font-family: $OpenSans;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 140%;
      }
    }

    .order-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 21px;
      border-bottom: 1px solid white;

      > p {
        justify-content: space-between;
        font-family: $OpenSans;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 140%;
      }
    }

    .order-total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > p {
        justify-content: space-between;
        color: #f1a900;
        font-size: 1.66vw;
        font-style: normal;
        font-weight: bold;
        line-height: 140%;

        @media (max-width: 768px) {
          font-size: 6.4vw;
        }
      }

      .total {
        width: 10.34vw;
        height: 2.22vw;
        color: #fff;

        @media (max-width: 768px) {
          font-size: 6.4vw;
        }
      }
    }

    .mobile-btn {
      display: none;

      @media (max-width: 768px) {
        display: block;
        min-width: 87.2vw;
        // margin-right: 24px;

        height: 64px;
        margin-top: 39px;
        margin-bottom: 45px;
        margin-left: 3px;
        border: none;
        outline: none;
        background: #f2a900;
        color: #fff;
        font-family: $OpenSans;
      }
    }
  }

  .accordian-mobile {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;

      // .accordion-image {
      //   img {
      //     float: right;
      //   }
      // }
    }
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: #d99e08;
  }

  .ant-radio-inner::after {
    background-color: #d99e08;
  }

  span.ant-radio + * {
    height: 1.59vw;
    padding-top: 1.11vw;
    padding-right: 3vw;
    padding-left: 0.81vw;
    font-family: $OpenSans;
    font-size: 1.18vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.59vw;

    @media (max-width: 768px) {
      height: 6.13vw;
      padding-right: 1.8vw;
      padding-left: 1.13vw;
      font-size: 4.53vw;
      line-height: 6.17vw;
    }
  }

  // .ant-radio-wrapper {
  //   color: white;

  //   // &:hover {
  //   //   .item-list-warapper {
  //   //     opacity: 0.5;
  //   //   }
  //   // }
  // }
}
