.heroimgwrapper {
  position: relative;

  @media screen and(max-width: 500px) {
    margin-top: 35.7vw;
  }

  .bannercontetwraper {
    position: absolute;
    top: 25%;
    //width: 35%;
    margin-left: 8.3vw;

    @media (max-width: 768px) {
      top: 25%;
      width: 92%;
      margin-left: 2rem;
    }

    @media (max-width: 500px) {
      top: 46.3vw;
      width: 76.8vw;
    }
  }
}

.price-sheet {
  position: relative;
}

.homepage-banner-content-wrapper {
  max-width: 750px;
}
