.bannercontetwraper {
  position: absolute;
  top: 31%;
  width: 35%;
  margin-left: 8rem;

  @media (max-width: 768px) {
    top: 25%;
    width: 92%;
    margin-left: 2rem;
  }
}

.heroimgwrapper {
  position: relative;
}

.price-sheet {
  position: relative;
}
