@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.categoryItem-tab {
  width: get-vw(249px);
  // height: get-vw(47px);

  @media (max-width: 768px) {
    width: 100% !important;
    margin-top: 50px;
    margin-left: 0 !important;
  }

  .active-category {
    border-top: 1px #f2a900 solid;
    border-right: 1px #f2a900 solid;
    border-bottom: 1px #f2a900 solid;
    border-left: 1px #f2a900 solid;

    .catagory-link {
      color: #f2a900 !important;
    }

    @media (max-width: 768px) {
      border-right: 0;
      border-left: 0;
    }
  }

  .tablist-heading {
    margin-bottom: get-vw(15px);
    padding: get-vw(9px);
    background: rgba(5, 5, 5, 0.39);
    // color: rgba(236, 234, 233, 0.69);
    color: #eceae9;
    font-family: $OpenSans;
    font-size: 0.69vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: get-vw(28px);
    cursor: pointer;

    @media (max-width: 768px) {
      //margin-top: 3.73vw;
      margin-top: 3.63vw;
      margin-bottom: 0;
      padding: 9px;
      padding-left: 31.77px !important;
      // border: 0.26vw #f2a900 solid !important;
      font-size: 2.66vw !important;
      line-height: 28px;
    }

    .catagory-link {
      color: white;
    }

    &:hover {
      color: #f2a900;
    }
  }

  .subItem {
    margin-bottom: get-vw(15px);
    padding: 10px 0;

    .c-link {
      margin-bottom: get-vw(5px);
      padding: 0;
      border: none;
      background: none;
      color: #fff;
    }

    @media (max-width: 768px) {
      padding: 0;
      border: none;
      background: none;
    }
  }

  // @media (max-width: 768px) {
  //   width: 100%;
  // }
}
