@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.categoryItem-tab {
  width: get-vw(249px);
  // height: get-vw(47px);

  @media (max-width: 768px) {
    width: 100% !important;
    margin-top: 50px;
    margin-left: 0 !important;
  }

  .active-category {
    border-top: 1px #f2a900 solid;
    border-right: 1px #f2a900 solid;
    border-bottom: 1px #f2a900 solid;
    border-left: 1px #f2a900 solid;

    @media (max-width: 768px) {
      margin: 0 !important;
    }

    .catagory-link {
      margin-left: get-vw(20px);
      opacity: 1 !important;
      color: #f1a900 !important;
      // font-family: Open Sans;
      font-size: get-vw(10px);
      font-style: normal;
      font-weight: 700;
      letter-spacing: get-vw(0.75px);
      line-height: get-vw(28px);
      text-align: left;

      @media (max-width: 768px) {
        // padding-left: 10px;
        margin-left: 31px;
        font-size: 10px;
        line-height: 28px;
      }
    }

    @media (max-width: 768px) {
      border-right: 0;
      border-left: 0;
    }
  }

  .tablist-heading {
    width: get-vw(250px);
    margin-bottom: get-vw(13.63px);
    padding: get-vw(9px);
    background: rgba(5, 5, 5, 0.39);
    // color: rgba(236, 234, 233, 0.69);
    color: #eceae9;
    font-family: $OpenSans;
    font-size: 0.69vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: get-vw(28px);
    cursor: pointer;

    @media (max-width: 768px) {
      width: 100% !important;

      // margin-top: 3.63vw;
      margin-bottom: 3.63vw;
      padding: 9px;
      padding-left: 0 !important;
      // border: 0.26vw #f2a900 solid !important;
      font-size: 2.66vw !important;
      line-height: 28px;
    }

    .catagory-link {
      margin-left: get-vw(20px);
      // opacity: 0.6;
      color: #eceae9;
      // font-family: Open Sans;
      font-size: get-vw(10px);
      font-style: normal;
      font-weight: 700;
      letter-spacing: get-vw(0.75px);
      line-height: get-vw(28px);
      text-align: left;

      @media (max-width: 768px) {
        margin-left: 8.266vw;
        // padding-left: 10px;
        font-size: 2.666vw;
        line-height: 7.466vw;
      }

      .down-arrow-mobile {
        @media (max-width: 768px) {
          padding-left: 60vw;
        }
      }
    }

    &:hover {
      color: #f2a900;
    }
  }

  .subItem {
    // margin-bottom: get-vw(15px);
    padding: 10px 0 0 0;

    div {
      a {
        span {
          ul {
            .oem-subitem-title {
              @media (max-width: 768px) {
                font-size: 14px;
                font-weight: 400;
              }

              font-size: 0.69vw;
              font-weight: 400;
            }
          }
        }
      }

      .active-product {
        color: #f2a900;
      }

      &:nth-child(10) {
        a {
          span {
            ul {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .c-link {
      margin-bottom: get-vw(5px);
      padding: 0;
      border: none;
      background: none;
      color: #eceae9;
      font-weight: 400;

      .h-links {
        ul {
          padding-right: get-vw(10px);
          padding-left: get-vw(35px);

          @media (max-width: 768px) {
            padding-left: 45px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      padding: 0;
      border: none;
      background: none;
    }

    .subitems-heading {
      margin-left: get-vw(20px);
      color: white;
      font-size: get-vw(10px);
      font-weight: bold;
      letter-spacing: get-vw(0.75px);
      line-height: get-vw(20px);

      @media (max-width: 768px) {
        font-size: 10px;
        letter-spacing: 0.75px;
        line-height: 28px;
      }
    }
  }

  .oem-sub_category {
    margin-top: 15px;
    padding-bottom: 30px;
    border-top: 1px solid $accent-color;
    background: $primary-color;
  }

  // @media (max-width: 768px) {
  //   width: 100%;
  // }
}
