.links--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 60px;

  @media (max-width: 460px) {
    padding-bottom: 20px;
  }

  .links {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 8px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #111;
    }

    @media (max-width: 400px) {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
}

.forgot-password-container {
  display: flex;
  align-items: center;
  padding-bottom: 3vw;

  .c-button {
    width: 22.7vw;
    margin-top: 1.38vw;
    margin-left: 0;
    border-radius: 1.1vw;

    @media (max-width: 768px) {
      width: 87.2vw;
      height: 17vw;
      margin: auto !important;
      margin-top: 10px !important;
      border-radius: 4.2vw;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 6vw !important;
    padding-left: 6vw;
  }

  img {
    width: 15.8vw;

    @media (max-width: 768px) {
      width: 50.8vw;
      margin-bottom: 2.66vw;
    }
  }

  .ant-modal {
    width: 65.84vw !important;
  }

  .ant-modal .ant-modal-body {
    padding-left: 7.625vw;

    @media (max-width: 768px) {
      height: 260px;
      padding-top: 0 !important;
    }
  }
}

@media (max-width: 768px) {
  .ant-modal .ant-modal-body {
    height: 74.3vw;
    padding-top: 6.66vw !important;
  }

  .forgot-password-container {
    padding-left: 6vw;
  }
}
