.links--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 60px;

  @media (max-width: 460px) {
    padding-bottom: 20px;
  }

  .links {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 8px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: #111;
    }

    @media (max-width: 400px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
