@import '~styles/globals';

.commited-wraper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .commited-content {
    width: 792px;
    padding: 20px 0 20px 0;

    @media screen and (max-width: 768px) {
      width: 356px;
      padding: 30px;
    }

    h1 {
      font-family: $OpenSans;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 110%;
    }

    p {
      font-family: $OpenSans;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }

    h3 {
      font-family: $OpenSans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
  }

  .commited-buton {
    button {
      box-sizing: border-box;
      width: 217px;
      height: 48px;
      border: 2px solid $accent-color;
      border-radius: 5px;
      background: $accent-color;
      color: white;
      font-family: $OpenSans;
      font-size: 16px;
      letter-spacing: 0.75px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        width: 150px;
        margin-bottom: 20px;
        margin-left: 20px;
        background: $accent-color;
        color: white;
        font-size: 14px;
      }
    }
  }
}
