@import '~styles/globals';

.commited-wraper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .commited-content {
    width: 55vw;
    padding: 1.3vw 0 1.3vw 0;

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 0 5.3vw;

      &:lang(fr) {
        padding-top: 16px;
      }
    }

    h1 {
      color: #032939;
      font-family: $OpenSans;
      font-size: 2.2vw;
      font-weight: bold;
      letter-spacing: -0.03vw;
      line-height: 110%;

      @media screen and (max-width: 500px) {
        margin-top: 0;
        font-size: 6.4vw;
      }
    }

    p {
      padding-right: 2.3vw;
      color: #032939;
      font-family: $OpenSans;
      font-size: 1vw;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;

      @media screen and (max-width: 500px) {
        font-size: 4vw;
      }
    }

    h3 {
      padding-right: 8vw;
      color: #032939;
      font-family: $OpenSans;
      font-size: 0.97vw;
      font-style: normal;
      font-weight: 900;
      line-height: 140%;

      @media screen and (max-width: 500px) {
        font-size: 3.7vw;
      }
    }
  }

  .commited-buton {
    button {
      box-sizing: border-box;
      width: 13.9vw;
      height: 3.3vw;
      border: 0.1vw solid #f2a900;
      border-radius: 0.3vw;
      background: #f2a900;
      color: #ff8200;
      font-family: $Raleway;
      font-size: 1.1vw;
      font-weight: bold;
      letter-spacing: 0.05vw;
      line-height: 1.3vw;
      text-align: center;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        width: 120px;
        height: 40px;
        margin-top: 2.6vw;
        margin-bottom: 8vw;
        margin-left: 5.33vw;
        // padding: 10px;
        border: 2px solid #ff8200;
        border-radius: 5px;
        background: transparent;
        color: #032939;
        font-family: $Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        text-transform: none;
      }

      // @media screen and (max-width: 500px) {
      //   width: 32vw;
      //   height: 10.6vw;
      //   margin-top: 2.6vw;
      //   margin-bottom: 8vw;
      //   border: 0.5vw solid #ff8200;
      //   border-radius: 1.3vw;
      //   background: transparent;
      //   color: #032939;
      //   font-size: 3.7vw;
      //   line-height: 6.4vw;
      // }
    }
  }
}
