@import '~styles/globals';

.generic--form--container {
  display: flex;
  flex-direction: column;
  width: 31.2vw;
  max-width: 77.7vw;
  padding: 0;

  .eeFuwj {
    padding: 5.5vw 0 !important;

    .cs--page-width {
      @media screen and(max-width: 500px) {
        max-width: auto !important;
        padding: 0 !important;
      }
    }
  }

  @media (max-width: 500px) {
    width: 100%;
    max-width: 298.6vw;
    padding: 5.3vw 5.3vw;
  }

  .request-form {
    margin-bottom: 18vw;
    padding-bottom: 0;

    @media (max-width: 500px) {
      margin-top: 26.6vw;
      margin-bottom: 23.2vw !important;
    }

    .request-form__content {
      .request-form__title {
        width: 100%;
        margin-bottom: 2.2vw;
        padding: 0 0.34vw;
        font-family: $font-futura;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and(max-width: 500px) {
          margin-bottom: 8.5vw;
        }
      }
    }
  }

  .label-input {
    margin: 0;
  }

  input {
    border: 3px solid #000;
    font-size: 1.1vw;
    font-weight: 700;

    @media screen and(max-width: 500px) {
      font-size: 4.8vw;
    }
  }

  .request-form__submit-button-wrapper {
    width: 100%;
    margin-top: 4px;

    .request-form__submit-button {
      display: inline-block;
      width: 100%;
      min-width: 100%;
      max-width: unset;
      margin: 0;
      margin-top: 0;
      margin-bottom: 2vw;
      padding: 0.6vw 2vw;
      transition: all ease-in 0.15s;
      border: 0.13vw solid #111;
      background-color: #fff;
      color: #fff;
      font-family: $OpenSans;
      font-size: 1.1vw;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 0.75px;
      line-height: 1.9vw;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #111;
        color: #fff;
      }

      @media screen and(max-width: 500px) {
        margin-bottom: 8vw;
        padding: 2.6vw 8vw;
        border: 0.5vw solid #111;
        font-size: 4.2vw;
        line-height: 7.4vw;
      }
    }
  }

  .tokenExpiredTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }

  .expiredText {
    font-size: 20px;
    text-align: center;
  }
}
