@import '~styles/globals';

.selected-category {
  margin-bottom: 3.4vw;

  h2 {
    color: #eceae9;
    font-family: $OpenSans;
    font-size: 3.3vw;
    font-weight: bold;
    line-height: 110%;

    @media screen and (max-width: 500px) {
      font-size: 30px;
    }
  }

  p {
    padding-right: 1.52vw;
    color: #eceae9;
    font-family: $OpenSans;
    font-size: 0.8vw;
    line-height: 157%;

    @media (max-width: 500px) {
      font-size: 3.2vw;
      font-weight: normal;
    }
  }

  button {
    padding-top: 3.46vw !important;
    border: none !important;
    color: #fff !important;
    font-family: $OpenSans !important;
    font-size: 3.2vw !important;
    font-weight: normal !important;
    text-align: left !important;
    text-transform: none !important;
  }
}
