.testimonial-section {
  padding-bottom: 1.11vw;
  border-bottom: 1px solid #ffa500;

  @media (max-width: 768px) {
    padding-bottom: 16px;
  }

  .testimonials-title {
    padding-top: 2vw;
    padding-bottom: 1.11vw;
    color: white;
    font-family: $OpenSans;
    font-family: 600;
    font-size: 0.97vw;

    @media (max-width: 768px) {
      padding-top: 32px;
      padding-bottom: 16px;
      font-size: 13px;
    }
  }

  .testimonials-sub-title {
    opacity: 0.5;
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}
