@import '~styles/globals';

.banner-content {
  // position: absolute;
  padding: 2.7vw 8.3vw;
  background: #032939;

  @media screen and (max-width: 768px) {
    padding: 40px 40px;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }

  h5 {
    color: white;
    font-family: $OpenSans;
    font-size: get-vw(20px);
    font-weight: bold;
    letter-spacing: -0.016vw;
    line-height: 110%;
  }

  p {
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.016vw;
    line-height: 160%;
  }
}
