@import '~styles/globals';

.mini-cart-item {
  padding-top: get-vw(15px);
  padding-bottom: get-vw(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-family: $OpenSans;

  @media screen and (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 9px;
  }

  .total-and-quantity-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }

    .quantity-block {
      display: flex;
      flex-direction: row;

      .quantity-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: get-vw(20px);
        padding-left: get-vw(60px);

        .product-quantity-mobile {
          margin-right: get-vw(11px);
          color: #f4f4f4;
          font-size: get-vw(11px);

          @media screen and (max-width: 768px) {
            display: block;
            font-weight: bold;
          }
        }
      }

      .total-price-desktop {
        color: #f1a900;
        font-size: get-vw(16px);
        font-weight: bold;
        line-height: get-vw(22px);
        text-align: right;

        @media (max-width: 768px) {
          // display: none;
        }

        .product-total-desktop {
          margin-bottom: 3px;
          margin-left: 10px;
          color: white;
          font-size: get-vw(11px);
          font-weight: 800;
          letter-spacing: 0.03em;
          line-height: get-vw(15px);
          text-align: right;
          text-transform: uppercase;
        }
      }
    }

    .removebtn-div {
      display: flex;
      flex: 1;
      padding-top: 2.0833vw;

      button {
        width: 5.34vw;
        height: 1.944vw;
        padding-left: 0;
        opacity: 90%;
      }

      .remove-button {
        // margin-top: 1.3vw;
        // margin-left: -59vw;
        border: none;
        background: #013a4e;
        color: #c2bbb7;
        font-size: get-vw(12px);
        font-style: normal;
        font-weight: 600;
        line-height: 22.26px;
        text-decoration-line: underline;

        @media screen and (max-width: 768px) {
          display: none;
          font-size: 12px;
          line-height: 185.5%;
        }
      }
    }

    .ant-input-number {
      width: get-vw(58px);
      height: get-vw(30px);
      border-radius: get-vw(3px);

      @media screen and (max-width: 768px) {
        width: 59px;
        height: 30px;
        border-radius: 3px;
      }

      .ant-input-number-input-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-input-number-handler-wrap {
        opacity: 1;
      }
    }

    // .total-price {
    //   color: #f1a900;
    //   font-size: get-vw(11px);
    //   font-style: normal;
    //   font-weight: 800;
    //   letter-spacing: 0.03em;
    //   line-height: get-vw(15px);
    //   text-align: right;
    //   text-transform: uppercase;

    //   @media screen and (max-width: 768px) {
    //     display: none;
    //   }

    //   .product-total-mobile {
    //     margin-bottom: get-vw(5px);
    //     color: white;

    //     @media screen and (max-width: 768px) {
    //       margin-bottom: 5px;
    //     }
    //   }
    // }
    .removebtn {
      border: none;
      background: transparent;

      .remove_button {
        padding-left: 16px;
        border: none !important;
        background-color: transparent !important;
        color: #c2bbb7 !important;
        font-family: $OpenSans;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
      }
    }
  }

  .cart-item {
    display: grid;
    grid-template-columns: 1fr 4fr;

    .cart-item-image {
      width: 8.62vw;
      height: 10vw;
      // height: get-vw(144.03px);
      background-color: white;

      @media screen and (max-width: 768px) {
        width: 16.18vw;
        max-width: 1;
        height: 18.75;
      }

      @media screen and (max-width: 500px) {
        width: 26.11vw;
        max-width: 1;
        height: 30.264vw;
      }
    }

    .item-desc-and-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: get-vw(8px);
      padding-left: get-vw(26px);

      @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 200px;
        padding-top: 7px;
        padding-left: 17.84px;
      }

      .item-desc {
        .item-title {
          justify-content: flex-start;
          font-size: get-vw(18px);
          font-style: normal;
          font-weight: 700;
          letter-spacing: get-vw(-0.5px);
          line-height: get-vw(20px);
          text-align: left;

          @media screen and (max-width: 768px) {
            font-size: 14px;
            letter-spacing: -0.5px;
            line-height: 110%;
          }
        }

        .product-detail-info-cart {
          padding-top: get-vw(30px);

          @media screen and (max-width: 768px) {
            padding-top: 22px;
          }
        }

        .item-info {
          display: flex;
          padding-bottom: 15px;
          font-size: get-vw(11px);
          font-style: normal;
          font-weight: 800;
          line-height: get-vw(15px);
          text-align: left;

          @media screen and (max-width: 768px) {
            font-size: 11px;
            font-weight: 800;
            letter-spacing: 0.03em;
            line-height: 11px;
          }

          .item-subInfo {
            padding-left: get-vw(10px);
            color: #c2bbb7 !important;
            font-size: get-vw(12px);
            font-style: normal;
            font-weight: bold;

            @media screen and (max-width: 768px) {
              padding-left: 10px;
              font-size: 12px;
            }
          }
        }

        text-align: left;
      }

      .product-price-info {
        display: flex;
        align-items: flex-start;
        margin-top: get-vw(5px);
        font-size: get-vw(11px);
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.03em;
        line-height: get-vw(15px);
        text-align: right;

        // @media screen and (max-width: 768px) {
        //   font-size: 11px;
        //   font-style: normal;
        //   font-weight: bold;
        //   letter-spacing: 0.03em;
        //   line-height: 15px;
        // }

        @media screen and (max-width: 768px) {
          display: none;
        }

        .product-price {
          margin-top: 3.19vw;
          color: rgba(194, 187, 183, 1);
          font-size: get-vw(12px);
          font-style: normal;
          font-weight: 800;
          line-height: get-vw(15px);

          @media screen and (max-width: 768px) {
            padding-left: 5.33vw;
            font-size: 11px !important;
          }

          .product-price-mobile {
            width: 6.11vw;
            height: 1.31vw;
            margin-bottom: 2px;
            color: white;
            font-size: 0.76vw;
          }
        }
      }
    }

    .total-price {
      color: #f1a900;
      font-size: get-vw(11px);
      font-style: normal;
      font-weight: 800;
      letter-spacing: 0.03em;
      line-height: get-vw(15px);
      text-align: right;
      text-transform: uppercase;

      // @media screen and (max-width: 768px) {
      //   display: none;
      // }

      .product-total-mobile {
        margin-bottom: get-vw(5px);
        color: white;

        @media screen and (max-width: 768px) {
          margin-bottom: 5px;
        }
      }
    }

    .total-and-quantity-cart-MOBILE {
      display: none;

      @media screen and (max-width: 768px) {
        display: grid;
        grid-column: 1 / span 2;
      }

      .total-and-quantity-cart-and-remove-btn {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 25px;

        @media screen and (max-width: 768px) {
          font-size: 2.93vw;
        }
      }

      .quantity-box {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 768px) {
          padding-left: 8vw;
        }

        .product-quantity-mobile {
          display: flex;
          align-items: center;

          @media screen and (max-width: 768px) {
            padding-right: 11px;
            font-size: 11px;
            line-height: 15px;
          }
        }

        .ant-input-number {
          @media screen and (max-width: 768px) {
            width: 59px;
            height: 30px;
            border-radius: 3px;
          }

          .ant-input-number-handler-wrap {
            opacity: 1;
          }

          .ant-input-number-input-wrap {
            display: flex;
            align-items: center;
          }
        }
      }

      .total-price {
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: #f1a900;
          font-size: 11px;
          line-height: 15px;
        }

        .product-total-mobile {
          display: block;
        }
      }

      .removebtn-div {
        button {
          @media screen and (max-width: 768px) {
            width: 20.53vw;
            height: 7.46vw;
            margin-top: 2.93vw;
            margin-left: 8vw;
            padding-top: 0;
            font-size: 12px;
            line-height: 185.5%;
          }
        }
      }

      .remove-button {
        padding-top: 12px;
        border: none;
        background: #013a4e;
        color: #c2bbb7;
        font-size: get-vw(12px);
        font-style: normal;
        font-weight: 600;
        line-height: 185.5%;
        text-decoration-line: underline;

        /*  @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 185.5%;
          width: 20.53vw;
          height: 1.944vw;
          padding-top: 0vw;
        } */
      }
    }
  }
}
