@import '~styles/globals';

.tabs-dropdown {
  & .ant-tabs-nav-operations {
    display: none !important;
  }

  &.ant-tabs-top > .ant-tabs-nav,
  &.ant-tabs-top > div > .ant-tabs-nav,
  &__dropdown-wrapper {
    margin: 0 60px 16px;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &.ant-tabs-top > .ant-tabs-nav::before,
  &.ant-tabs-top > div > .ant-tabs-nav::before {
    border-bottom: 2px solid #fff;
  }

  .ant-tabs-nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
  }

  .ant-tabs-tab {
    flex: 1;
    justify-content: center;
    margin: 0;
    padding: 12px 16px;
    color: #999;
    font-size: 21px;
    text-transform: uppercase;

    &:hover {
      color: #999;
    }
  }

  .ant-tabs-tab-btn {
    font-weight: 700;
    letter-spacing: 0.05em;

    &:focus,
    &:active {
      color: #999;
    }
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
  }

  .ant-tabs-ink-bar {
    background: #e25205;
  }

  &__dropdown {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 6px 12px;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 0;
    outline: 0;
    background-color: #fff0;
    background-image: url('/static/icons/arrow_down.svg') !important;
    background-repeat: no-repeat;
    background-position: right 0 top 60%;
    background-size: 18px;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;

    @media (max-width: 768px) {
      padding: 6px 0;
      border-bottom: 3px solid #999;
    }
  }
}
