.main-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;

  .main-container-section {
    // width: 100%;
    margin: 50px auto;

    .product-subs-contanier {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .subs-product-heading {
      margin-bottom: 1rem;
    }

    .subs-product-masthead {
      max-width: 1000px;
      margin-right: auto;
      margin-bottom: 3rem;
      margin-left: auto;

      .subs-product-title {
        font-size: 2rem;
      }
    }
  }
}
