@import '~styles/globals';

.TermsConditions-wrapper {
  padding: 8rem;
  background: #013a4e;

  @media screen and (max-width: 768px) {
    padding-top: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .Termscondition-container {
    width: 792px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 334px;
    }

    // @media screen and (min-width: 1920px) {
    //   width: 534px;
    // }

    h1 {
      margin: 0;
      color: white;
      font-family: $OpenSans;
      font-size: 28px;
      font-style: normal;
      font-weight: bold;
      line-height: 110%;
    }

    h3 {
      padding: 2rem 0;
      color: white;
      font-family: $OpenSans;
      font-size: 13px;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 0.08em;
      line-height: 18px;
      text-transform: uppercase;
    }

    p {
      color: white;
      font-family: $Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;
    }
  }
}
