@import '~styles/globals';

.Dealership-wraper {
  .banner-img {
    position: absolute;
    top: 22.64vw;

    /* margin-right: 20vw; */

    /* margin-left: 51.45vw; */
    left: 51.45vw;
  }

  right: 21.18vw;

  .Dealership-heading {
    margin-right: 20vw;
    margin-bottom: 0.764vw;
    margin-left: 20vw;
    padding-top: 5vw;
    color: #f1a900;
    font-family: $OpenSans;
    font-size: 2.084vw;
    font-style: normal;
    font-weight: bold;
    line-height: 3.4vw;

    /* identical to box height */

    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 2.933vw;
      margin-left: 8vw;
      font-size: 5.33vw;
    }
  }

  .description {
    margin-right: 20vw;
    margin-left: 20vw;
    opacity: 0.9;
    color: #fff;
    font-family: $OpenSans;
    font-size: 0.9028vw;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;

    /* or 20px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    @media (max-width: 768px) {
      margin-right: 8vw;
      margin-left: 8vw;
      font-size: 3.73vw;
    }

    a {
      color: #f1a900;
    }
  }

  @media (max-width: 768px) {
    padding-top: 13.33vw;
  }
}
