@import '~styles/globals';

.Address {
  width: 17.5vw;
  padding-top: 4.16vw;

  @media (max-width: 768px) {
    width: 65.8vw !important;
  }

  h1 {
    color: white;
    font-family: $OpenSans;
    font-size: 0.902vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: 1.25vw;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 3.46vw;
      line-height: 4.72vw !important;
    }
  }

  p {
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.01em;
    line-height: 140%;

    @media (max-width: 768px) {
      font-size: 3.73vw;
    }
  }
}
