@import '~styles/globals';

.Address {
  width: 252px;
  padding-top: 30px;

  h1 {
    color: white;
    font-family: $OpenSans;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: 18px;
    text-transform: uppercase;
  }

  p {
    color: white;
    font-family: $OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.01em;
    line-height: 140%;
  }
}
