.product-wrapper {
  padding: 50px 0;
  background: #032939;

  .swiper-container {
    width: 84%;
    margin: 0 auto;

    .swiper-scrollbar {
      position: absolute;
      top: 21rem;
      width: 100%;
      height: 5px;
      background: white;
    }

    .swiper-scrollbar-drag {
      //width: 900px !important;
      height: 5px;
      transform: translate3d(0, 0, 0);
      transition-duration: 0ms;
      background: red;
      color: red;
    }

    .swiper-wrapper {
      .swiper-slide {
        width: 80%;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
          width: 285px !important;
        }

        @media screen and (min-width: 992px) {
          width: 300px;
        }

        .Product-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          @media screen and (max-width: 768px) {
            display: contents;
          }

          .product_img_wraper {
            width: 268px;
            height: 250px;
            margin-bottom: 10px;
            background: white;
            box-shadow: 8px 8px 10px 0 #0000004d inset;
          }

          p {
            width: 70%;
            margin-bottom: 2rem;
            color: white;
          }
        }
      }
    }
  }
}
