@import '~styles/globals';

.overview-wrapper {
  //   width: 1195px;
  margin: 0 auto;
  padding: 20px 120px;
  background: #013a4e;

  @media screen and (max-width: 1366px) {
    padding: 20px 68px;
  }

  @media screen and (max-width: 768px) {
    padding: 24px;
  }

  .overviewheading {
    color: #eceae9;
    font-family: $OpenSans;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      letter-spacing: -0.5px;
    }
  }
}
