@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

// .accordion-main:last-child .ant-row.accordion-item {
//   border-bottom: 0.06vw solid #f1a900;
// }

.accordion-main {
  .accordion-question {
    position: relative;
    // width: get-vw(405px);
    // width: 480px;
    height: auto;
    margin-bottom: 0;
    color: #fff;
    font-family: $OpenSans;
    font-size: 1.25vw;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 26.4px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
  }

  .accordion-content {
    // position: relative;
    // right: get-vw(29px);
    // height: initial;
    margin-bottom: 0;
    padding-left: get-vw(26px);
    transition: all 0.3s;
    font-size: get-vw(16px);
    line-height: get-vw(23px);

    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(230, 234, 236, 0.44);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #f1a900;
    }

    @media (max-width: 768px) {
      // position: relative;
      // right: 44px;
      padding-left: 26px;
      overflow: auto;
      font-size: 16px;
      line-height: 23px;

      .table-wrapper-technical {
        padding-bottom: 16px;
      }
    }

    p {
      color: #fff;
      font-family: $OpenSans;
      font-size: 1.11vw;
      font-weight: 700;
      line-height: 22.4px;

      @media (max-width: 768px) {
        font-size: 16px;
        font-weight: bold;
        line-height: 140%;
      }
    }

    .c-link {
      // width: 32px;
      display: flex;
      justify-content: left;
      margin-left: 2.77vw;
      color: #f1a900;
      font-size: 0.97vw;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;

      @media (max-width: 768px) {
        margin-right: 9.33vw;
        font-size: 14px;
      }
    }

    p.text-setting-table.notranslate {
      font-size: 0.97vw;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 3.73vw;
      }
    }
  }

  .accordion-show {
    margin: 0 0 0;
  }

  .accordion-content.accordion-hide {
    display: none;
    max-height: 0;

    p {
      font-size: 0;
    }
  }

  .ant-row.accordion-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    // padding-top: 15px;
    padding-bottom: 1.73vw;
    border: 0.06vw solid #f1a900;

    @media (max-width: 768px) {
      width: 82.2vw;
    }

    &.border-none {
      border-right: none;
      border-bottom: none;
      border-left: none;
    }
  }

  .accordion-item {
    position: relative;
    margin-bottom: 1.73vw;

    @media (max-width: 768px) {
      padding-bottom: 15px;
    }

    .accordion-col {
      display: flex;
      max-width: 100%;
      padding-top: 1.73vw;

      @media (max-width: 768px) {
        max-width: 100%;
        padding-top: 15px;
      }

      &.borders {
        padding-bottom: 1.5vw;
        border: 0.06vw solid #f1a900;
      }
    }

    .accordion-arrow {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 1.28vw;
      margin-top: 5px;
      margin-right: get-vw(16px);
      margin-left: 1.8vw;
      transition: all 0.3s ease-in-out;

      img {
        width: 100%;
        cursor: pointer;
      }

      @media (max-width: 768px) {
        width: 4.8vw;
        margin-top: 0;
        margin-right: 20px;
        margin-left: 7.2vw;
        cursor: pointer;
      }
    }

    .faq-answer {
      color: #222;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }

    .accordion-question-col {
      max-width: 100%;

      &::-webkit-scrollbar-thumb {
        color: #f1a900;
      }
    }
  }

  @media (max-width: 768px) {
    .accordion-item {
      padding-left: 0;
    }

    .accordion-question {
      font-family: $OpenSans;
      font-size: 3.73vw;
    }

    .footerLinks {
      margin-bottom: 0.4rem;
      font-size: small;
    }
  }
}
