@import '~styles/globals';

.hide-footer {
  display: none;
}

.hide-bottom-bar {
  display: none;
}

.footer-links {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.footer {
  padding: 0 0 55px 0;
  background-color: #0d394b;
  color: #fff;

  .links-mobile-bottom {
    margin-top: -42px;
    margin-bottom: 42px;
    padding: 0;
    list-style: none;

    li {
      a {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .bottom-payment {
    margin-top: 20px;
    font-family: $font-futura;
    font-size: 16px;

    img {
      max-width: 250px;
      margin-left: 20px;
      vertical-align: middle;
    }
  }

  @media (max-width: 768px) {
    .bottom-payment {
      text-align: center;

      img {
        margin-left: 0;
      }
    }
  }

  .footer-img {
    img {
      width: 100%;

      @media (max-width: 768px) {
        height: 41px;
      }
    }
  }

  .accordion-faqs .accordion-question {
    @media (max-width: 768px) {
      font-family: $Raleway;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 0.08em;
      line-height: 16px;
    }
  }

  .accordion-faqs .ant-row.accordion-item {
    border-bottom: 1px solid white;
  }

  .accordion-faqs div:first-child {
    // border-bottom: 1px solid white;
    border-bottom: 0;
  }

  .logoTxt :first-child {
    font-size: get-vw(12px);
    font-style: normal;
    font-weight: normal;
    line-height: get-vw(24px);
  }

  .logoTxt :nth-child(2) {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: get-vw(12px);
    font-style: normal;
    font-weight: bold;
    line-height: get-vw(24px);
  }

  .ant-row {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .social-icons {
    margin-bottom: get-vw(20px);
  }
}

.bottom-bar {
  display: flex;
  height: 62px;
  background: #f0b800;

  @media screen and (max-width: 768px) {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  p {
    margin-right: 80px;
    padding-left: 20px;
    line-height: 62px;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      font-size: 12px;
    }
  }
}

.page-width {
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;

  .ant-row {
    @media screen and (max-width: 768px) {
      // flex-flow: column;
      width: 325px;
      margin: 0 auto;
    }

    .ant-col-xs-12 {
      .ant-row.footer-links {
        padding-left: 50px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        max-width: 100% !important;
      }
    }

    .ant-col-xs-0 {
      @media screen and (max-width: 768px) {
        display: initial;
      }
    }
  }

  .footerDropdownHolder {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .footer-text {
    margin: 50px 0;
    font-family: $OpenSans;
    font-size: get-vw(14px);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: get-vw(19px);
    text-transform: uppercase;

    .ant-row {
      display: flex;
      justify-content: left;
    }

    .menu-column {
      width: get-vw(300px);
    }
  }

  .footer-logoborder {
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    @media screen and (max-width: 768px) {
      border: none;
    }
  }
}

.footer-logo {
  width: 170px;
  color: #fff;

  @media screen and (max-width: 768px) {
    width: 211px;
    max-width: 150%;
    margin-left: 55px;
  }
}

.logoTxt {
  // margin-bottom: 80px;

  @media screen and (max-width: 768px) {
    width: 334px;
    text-align: center;
  }

  p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }
}

.rightFotterContent {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    display: none;
    display: contents;
  }

  .nanOilimg {
    max-width: 356px;
  }

  h5 {
    align-items: center;
    color: #f5f5f5;
    font-family: nevis, Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 110%;
    text-transform: uppercase;
  }

  button {
    box-sizing: border-box;
    align-items: center;
    align-self: flex-end;
    width: 246px;
    height: 48px;
    border: 2px solid #e35205;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-family: nevis, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.75px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }
}

.site-footer__hr {
  height: 3px;
  margin: 45px 0 20px 0;
  border: none;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 0 50px 0;
  }

  .page-width {
    margin-top: 3rem;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.policy-mobile {
  margin-top: 40px;
  margin-right: 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
