@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.oaem-page-wrapper {
  .oam-main {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .oam-wrap {
      // display: flex;
      // flex-direction: column-reverse;
      width: get-vw(1000px);
      margin-top: 6.5vw;
      margin-right: get-vw(109px);
      // margin-left: 1.3vw;
      background-color: #03293980;

      > h1 {
        margin-top: 0;
        margin-bottom: 0.97222vw;
        padding-top: 4.6vw;
        padding-left: 6.04vw;
        color: #f1a900;
        font-family: $OpenSans;
        font-size: 2.5vw;
        font-style: normal;
        font-weight: bold;
        line-height: 3.40278vw;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        // .data-warp{
        //   display: flex;
        //   flex-direction: column;
        // }
        @media (max-width: 768px) {
          padding-top: 11.2vw;
          padding-bottom: 6.6vw;
          padding-left: 8.4vw;
          font-family: $OpenSans;
          font-size: 6.4vw;
          font-style: normal;
          font-weight: bold;
          line-height: 5.5vw;
          text-transform: capitalize;
          font-feature-settings: 'pnum';
        }
      }

      @media (max-width: 768px) {
        width: 100vw;
        // margin-top: 39.2vw;
        margin-left: 0;
      }
    }

    .categoryItem-tab {
      width: 17.2vw;
      height: 3.26389vw;
      margin-top: 100px;
      // margin-top: 100px;
      margin-left: get-vw(67px);
      margin-left: 4.65278vw;
    }

    .oam-data {
      display: flex;
      flex-direction: row;
      padding-top: 0.97px;
      padding-bottom: 5.1vw;

      /* margin-top: 70px; */

      /* margin-left: 100px; */
      padding-left: 8.4vw;

      .img-oam {
        > .c-image {
          width: 15.69vw;
          max-width: none;

          @media (max-width: 768px) {
            width: 60.2vw;
          }
        }
      }

      .descr-oam {
        /* or 20px */
        left: calc(50% - 591px / 2 + 277.5px);
        padding-right: 2.63vw;
        opacity: 0.9;
        color: #fff;
        font-family: $OpenSans;
        font-size: 0.97vw;
        font-style: normal;
        font-weight: normal;
        line-height: 1.36vw;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @media (max-width: 768px) {
          padding-top: 1.6vw;
          padding-right: 40px;
          font-size: 14px;
          font-style: normal;
          font-weight: normal;
          line-height: 19.6px;

          /* or 20px */

          font-feature-settings: 'pnum' on, 'lnum' on;
        }

        p {
          margin-bottom: 0.7vw;
        }
      }

      .data-warp {
        padding-left: 1.6vw;

        @media (max-width: 768px) {
          padding-top: 10px;
        }

        .heading-oam {
          margin-bottom: 0.21vw;
          color: #f1a900;
          font-size: 1.67vw;
          font-style: normal;
          font-weight: 600;
          line-height: 2.26vw;
          text-transform: capitalize;
          font-feature-settings: 'pnum' on, 'lnum' on;

          @media (max-width: 768px) {
            margin-bottom: 3px;
            padding-top: 2.6vw;

            /* identical to box height */
            font-family: $OpenSans;
            font-size: 4.8vw;
            font-style: normal;
            font-weight: 600;
            line-height: 6.6vw;
            text-transform: capitalize;
            font-feature-settings: 'pnum' on, 'lnum' on;
          }
        }

        .arow-img {
          margin-top: 0.97vw;
          color: #f1a900;
          font-size: 0.97vw;
          font-style: normal;
          line-height: 1.3vw;

          .img-arow {
            width: 1.04vw;
            height: 1.04vw;
            margin-left: 0.27vw;
            background-color: #f1a900;
            object-fit: scale-down;

            @media (max-width: 768px) {
              width: 4vw;
              height: 4vw;
              margin-left: 1.86vw;
            }
          }

          @media (max-width: 768px) {
            padding-top: 2.9vw;
            font-size: 3.7vw;
          }
        }

        @media (max-width: 768px) {
          padding-left: 0.1vw;
        }
      }

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
