.pcp-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  background: #032939;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  @media (max-width: 425px) {
    height: 233px;
  }

  .plp-bottom-img {
    width: 100%;
    margin-top: 2.01vw;
  }

  button {
    width: inherit;
    margin-top: 3.05vw;

    @media (max-width: 768px) {
      width: max-content !important;
    }

    &:hover {
      transition: s;
      background: #ddaf34;
    }

    .dealer-botton {
      a {
        color: white;
      }
    }
  }
}
