@import '~styles/globals';

.Pdp-content {
  width: 100%;
  // margin: 0 auto;
  margin-top: 100px;
  padding: 62px 120px;
  padding-right: 14.93vw;
  padding-left: 13.75vw;
  background: #032939;
  font-family: $OpenSans;

  @media screen and (max-width: 768px) {
    padding: 26px 20px;
    // margin: auto;
  }

  strong {
    width: 100% !important;
    color: #f1a900;
    font-size: 0.972vw;
    text-align: left !important;
    text-decoration: underline;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 3.2vw;
    }
  }

  .coat {
    margin-bottom: 1.18vw;
    font-size: 0.833vw;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 3.2vw;
      font-weight: 700;
    }
  }

  .name-info {
    margin-bottom: 3.95vw;
    font-family: $OpenSans;
    font-size: 1.66vw;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin-bottom: 13.86vw;
      font-size: 5.33vw;
    }
  }

  .info-desc {
    font-weight: normal !important;
  }

  .button-pdp {
    border: none;
    background: none;
    cursor: pointer;
  }

  h1 {
    color: white;
    font-family: $OpenSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    // line-height: 1.16vw;
    margin-bottom: 0.027vw;
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-style: normal;
    letter-spacing: -0.015em;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  p:nth-child(2) {
    margin-bottom: 2.15vw;

    @media screen and (max-width: 768px) {
      margin-bottom: 7.73vw !important;
      font-weight: 700;
    }
  }

  p:nth-child(3) {
    margin-bottom: 1.25vw;

    @media screen and (max-width: 768px) {
      // margin-bottom: 20px !important;
    }
  }

  .center {
    color: white;
    text-align: center;
  }

  a {
    color: #f1a900;
    font-size: 0.97vw;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 3.2vw;
    }
  }

  .display-text-group {
    margin-top: 30px;
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-weight: 400;
    line-height: 1.36vw;

    @media screen and (max-width: 768px) {
      margin-top: 7.73vw;
      font-size: 3.733vw;
      line-height: 5.22vw;
    }
  }
}
