@import '~styles/globals';

@function get-vw($pixel) {
  $vw: ($pixel / 1400) * 100;

  @return $vw * 1vw;
}

.Pdp-content {
  width: 100%;
  // margin: 0 auto;
  margin-top: 100px;
  padding: 40px 120px;
  padding-right: 14.93vw;
  padding-left: 13.75vw;
  background: #032939;
  font-family: $OpenSans;

  @media screen and (max-width: 768px) {
    padding: 26px 20px;
    // margin: auto;
  }

  h1 {
    color: white;
    font-family: $OpenSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    color: white;
    font-family: $OpenSans;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 1.16vw;

    @media screen and (max-width: 768px) {
      font-size: 3.2vw;
    }
  }

  .center {
    color: white;
    text-align: center;
  }

  a {
    color: #f1a900;
    font-size: 0.97vw;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 3.2vw;
    }
  }

  .display-text-group {
    margin-top: 30px;
    color: white;
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-weight: 400;
    line-height: 1.36vw;

    @media screen and (max-width: 768px) {
      margin-top: 7.73vw;
      font-size: 3.733vw;
      line-height: 5.22vw;
    }
  }
}
