@import '~styles/globals';

.xpm-manager {
  min-height: 100%;
}

.accordion-container {
  width: 100%;
  max-width: 1200px;
  margin: 48px auto 75px;
  padding: 102px;
  background-color: #013a4e;
}

.accordion-heading-container {
  margin-top: 84px;
}

.accordion-heading {
  position: absolute;
  top: 240px;
  left: 996px;
  width: 983px;
  height: 53px;
  color: #eceae9;

  /* margin-bottom: 40px; */
  font-family: $OpenSans;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 110%;
  text-transform: uppercase;
}

.desktop-heading {
  display: block;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobile-heading {
  display: none;
}

.privacy-intro {
  margin-bottom: 40px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22.4px;
}

.table-wrapper-faqs {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 36px;
  color: #fff;

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .title {
    color: #f1a900;
  }

  @media (max-width: 768px) {
    min-width: 800px;
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .accordion-heading {
    font-size: 36px;
  }

  .accordion-container {
    margin: 28px auto 75px;
    padding: 36px 24px;
  }

  .accordion-heading-container {
    margin-top: 48px;
  }

  .desktop-heading {
    display: none;
  }

  .mobile-heading {
    display: block;
  }
}

.price-list-pdf {
  display: flex;
  color: red;
  font-family: $OpenSans;

  > a:link {
    padding: 10px;
    text-decoration: none;
  }
}
