@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.xpm-manager {
  min-height: 100%;
}

.accordion-container {
  width: 100%;
  max-width: get-vw(1200px);
  margin: get-vw(48px) auto get-vw(75px);
  padding: 102px;
  background-color: #013a4e;
}

.accordion-heading-container {
  margin-top: get-vw(84px);
}

.accordion-heading {
  position: absolute;
  width: get-vw(983px);
  height: get-vw(53px);
  margin-top: 50px;
  margin-left: get-vw(235px);
  color: #eceae9;

  /* margin-bottom: 40px; */
  font-family: $OpenSans;
  font-size: get-vw(48px);
  font-style: normal;
  font-weight: bold;
  line-height: 110%;
  text-transform: uppercase;
}

.desktop-heading {
  display: block;

  @media (max-width: 768px) {
    width: get-vw(227px);
  }
}

.mobile-heading {
  display: none;
}

.privacy-intro {
  margin-bottom: 40px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22.4px;
}

.table-wrapper-faqs {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 36px;
  color: #fff;

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .title {
    color: #f1a900;
  }

  @media (max-width: 768px) {
    min-width: 800px;
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .accordion-heading {
    font-size: 36px;
  }

  .accordion-container {
    margin: 28px auto 75px;
    padding: 36px 24px;
  }

  .accordion-heading-container {
    margin-top: 48px;
  }

  .desktop-heading {
    display: none;
  }

  .mobile-heading {
    display: block;
  }
}

.price-list-pdf {
  display: flex;
  font-family: $OpenSans;

  .link-pdf {
    padding: 10px;
    color: #f1a900;
  }
}
