@import '~styles/globals';

.product-contanier {
  margin: 0 auto;
  padding: 0 2.1vw;

  @media screen and (max-width: 500px) {
    padding: 0.69vw 0 !important;
  }

  .product {
    margin: 0.69vw;
    margin-top: 0;

    // @media screen and (max-width: 500px) {
    //   margin: 0vw;
    // }

    .product-img {
      background: #fff;
      box-shadow: inset 0.5vw 0.5vw 0.69vw rgba(0, 0, 0, 0.3);

      @media screen and (max-width: 500px) {
        border: 0.5vw solid #ddaf34;
      }
    }

    a {
      color: #f2a900;
      font-family: $OpenSans;
      font-size: 1.38vw;
      font-weight: 600;

      &:hover {
        color: #ddaf34;
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    .product-title {
      text-transform: capitalize !important;
    }
  }

  @media (max-width: 768px) {
    padding: 10px 7px;
  }

  .category-title {
    margin-top: 0;
    margin-bottom: 2.7vw;
    color: #000;
    font-size: 2.4vw;
    font-weight: 700;
    letter-spacing: 0.02vw;
    line-height: 3.1vw;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 768px) {
      margin-bottom: 13px;
      font-size: 26px;
    }
  }
}

.grey-bg-category {
  background-color: transparent;
}
