@import '~styles/globals';

.footer-bottom-menu {
  // display: flex;
  // align-items: center;
  // height: 100%;
  margin-bottom: 0;
  padding: 0;
  color: #fff;
  font-family: $OpenSans;
  font-size: get-vw(14px);
  font-weight: bold;
  line-height: get-vw(19px);
  text-transform: capitalize;

  @media screen and (max-width: 768px) {
    display: inline;
    margin-left: 5px;
  }

  li {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;

    @media screen and (max-width: 768px) {
      margin-right: 0;
    }

    a {
      color: rgb(5, 5, 5);
    }
  }

  .divider {
    .divider-dot {
      color: black;
    }
  }
}

@media (max-width: 1014px) {
  .footer-bottom-menu {
    font-size: 11px;
  }
}

// @media (max-width: 875px) {
//   .footer-bottom-menu {
//     display: none;
//   }
// }
