@import '~styles/globals';

.cart-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000008c;

  @media screen and (max-width: 768px) {
    display: none;
    z-index: 0;
  }
}

.mobile-nav-logo {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    z-index: 4;
    bottom: 100%;
    left: getmb-vw(156px);
    width: getmb-vw(63px);
  }
}

.cart-dropdown {
  position: absolute;
  z-index: 3;
  top: 100%;
  right: get-vw(17px);
  width: get-vw(800px);
  padding-right: get-vw(16px);
  padding-left: get-vw(36px);
  background-color: #013a4e;
  font-family: $OpenSans;
  text-align: center;

  @media screen and (max-width: 768px) {
    position: fixed;
    top: 6.5%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: getmb-vw(25px);
    padding-left: getmb-vw(25px);
  }

  .cart-header {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      position: fixed;
      top: 0%;
      right: 0%;
      bottom: getmb-vw(83px);
      width: 100%;
      height: getmb-vh(70px);
      background: url('/static/images/mbl-logo.png') no-repeat center;
      background-color: #002a3a !important;
    }
  }

  .cart-dropdown-header {
    display: flex;
    // width: 100%;
    // margin: auto;
    margin-right: get-vw(27px);
    padding-top: get-vw(45px);
    padding-bottom: get-vw(27px);
    border-top: none;
    border-bottom: get-vw(2px) solid rgba(255, 255, 255, 0.2);
    background-color: #013a4e;
    color: #fff;
    font-family: $OpenSans;
    font-size: get-vw(32px);
    font-weight: bold;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: getmb-vw(325px);
      margin-top: 5.46vw;
      padding-bottom: getmb-vw(15px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: getmb-vw(20px);
      line-height: getmb-vw(27px);
    }

    .cart-name-and-no-of-items {
      display: flex;
      flex-direction: row;

      .cart-text {
        font-size: get-vw(32px);
        font-style: normal;
        font-weight: bold;
        line-height: get-vw(44px);

        @media screen and (max-width: 768px) {
          font-size: getmb-vw(20px);
          line-height: getmb-vw(27px);
        }
      }

      @media screen and (max-width: 768px) {
        font-size: getmb-vw(20px);
        line-height: getmb-vw(27px);
      }
    }

    .cart-dropdown-header-icon {
      width: get-vw(12.83px);
      height: get-vw(12.73px);
      margin-top: 1vw;
      margin-left: auto;
      transition: 0.2s ease-in-out;
      fill: #111;
      vertical-align: top;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 12.83px;
        height: 12.83px;
        height: 12.73px;
        margin-top: 2vw;
      }

      @media screen and (max-width: 500px) {
        margin-top: 1.6vw;
      }
    }

    .cart-dropdown-header-item-no {
      display: flex;
      align-items: center;
      padding-left: get-vw(13px);
      font-size: get-vw(14px);
      font-weight: 700px;
      line-height: get-vw(19px);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        padding-left: getmb-vw(14px);
        font-size: getmb-vw(14px);
      }
    }
  }

  .cart-dropdown-items {
    width: 100%;
    max-height: 53vh;
    padding-right: get-vw(28px);
    overflow: scroll;
    // box-shadow: inset 0 -10px 15px -13px black;

    @media screen and (max-width: 768px) {
      width: getmb-vw(325px);
      overflow: scroll;
      box-shadow: none;
    }

    .no-item {
      padding: get-vw(20px);
      background-color: #013a4e;
      color: #fff;
      font-family: $OpenSans;
      font-weight: bold;
      text-align: center;
    }
  }

  .cart-dropdown-checkout-container {
    display: flex;
    justify-content: flex-end;
    margin-top: get-vw(19px);
    margin-right: get-vw(41px);
    margin-bottom: get-vw(40px);
    overflow: hidden;
    font-family: $OpenSans;

    @media screen and (max-width: 768px) {
      position: fixed;
      // bottom: 8.26vw;
      bottom: 0;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 5.6vw;
      padding: 10px;
      background: #013a4e;
    }

    .cart-dropdown-checkout-details {
      width: get-vw(334px);
      color: white;

      @media screen and (max-width: 768px) {
        width: getmb-vw(300px);
      }

      .order-subtotal-and-checkout-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          justify-content: space-between;
        }

        .subtotal-title {
          // padding-right: 8.63vw;
          font-size: get-vw(24px);
          font-style: normal;
          font-weight: bold;
          line-height: get-vw(30px);

          @media screen and (max-width: 768px) {
            padding-right: getmb-vw(60px);
            font-size: getmb-vw(24px);
            line-height: getmb-vw(30px);
          }
        }

        .subtotal-price {
          color: #f1a900;
          font-size: get-vw(24px);
          font-weight: bold;
          line-height: get-vw(30px);

          @media screen and (max-width: 768px) {
            // width: getmb-vw(149px);
            height: getmb-vw(32px);
            padding-left: 8vw;
            font-size: 6.4vw;
            line-height: 8vw;
          }
        }
      }

      .message-style {
        margin-bottom: 0.555vw;
        font-size: 1.11vw;
        text-align: left;

        @media (max-width: 768px) {
          margin-bottom: 2.13vw;
          font-size: 4.26vw;
        }
      }

      .cart-dropdown-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: get-vw(334px);
        height: get-vw(64px);
        border-radius: get-vw(5px);
        //width: 20%;
        //padding: 20px;
        //border: none;
        background-color: #f2a900;
        color: white;
        font-family: $OpenSans;
        font-size: get-vw(23px);
        font-style: normal;
        font-weight: bold;
        line-height: get-vw(24px);

        @media screen and (max-width: 768px) {
          width: 100%;
          height: getmb-vw(64px);
          margin-left: 2.8vw;
          border-radius: getmb-vw(5px);
          font-size: getmb-vw(23px);
          line-height: getmb-vw(24px);
        }
      }
    }
  }

  .free-shipping-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 5.13vw;
    margin-right: get-vw(24px);
    border-bottom: get-vw(1px) solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: $OpenSans;

    @media screen and (max-width: 768px) {
      justify-content: center;
      height: getmb-vw(50px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      @supports (-webkit-touch-callout: none) {
        width: 90.4vw;
      }
    }

    .free-shipping-banner-text {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      // padding-right: get-vw(25px);
      font-size: get-vw(20px);
      font-style: normal;
      font-weight: bold;
      letter-spacing: get-vw(0.04px);
      line-height: get-vw(27px);
      text-align: left;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        justify-content: center;
        padding-right: 0;
        font-size: getmb-vw(14px);
        font-weight: 700;
        line-height: getmb-vw(19px);
      }

      @supports (-webkit-touch-callout: none) {
        font-size: getmb-vw(13px);
      }

      .free-shipping-banner-text-price {
        margin: 0%;
        padding-right: get-vw(10px);
        padding-left: get-vw(10px);
        color: #f1a900;
      }
    }

    .free-shipping-details {
      border: none;
      background: #013a4e;
      color: #c2bbb7;
      font-size: get-vw(12px);
      font-style: normal;
      font-weight: 600;
      line-height: 185.5%;
      text-decoration-color: #c2bbb7;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .ant-input-number-input {
    height: get-vw(30px);
    padding: 0 get-vw(11px);
    font-size: get-vw(15px);
    font-weight: bold;
    line-height: 140%;

    @media screen and (max-width: 768px) {
      height: getmb-vh(30px);
      padding: 0 getmb-vw(11px);
      font-size: getmb-vw(15px);
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 80%;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  // /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 42px;
    background: #005472;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #fff;
  }
}

.cart-dropdown-skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: 768px) {
    padding: 10px 0 10px 0;
  }

  @media (min-width: 1024px) {
    padding: 0;
  }

  .ant-skeleton-element {
    .ant-skeleton-image {
      width: 26.11vw;
      height: 32.264vw;

      @media (min-width: 768px) {
        width: 22vw;
        height: 21vw;
      }

      @media (min-width: 1024px) {
        width: 9vw;
        height: 12vw;
      }

      @media (min-width: 1200px) {
        height: 11vw;
      }

      @media (min-width: 1366px) {
        height: 10vw;
      }

      @media (min-width: 1440px) {
        height: 9vw;
      }
    }
  }

  .ant-skeleton-active {
    padding-left: 20px;
  }
}
