@import '~styles/globals';

.cart-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000008c;
}

.cart-dropdown {
  position: absolute;
  z-index: 3;
  top: 100%;
  right: 5%;
  width: get-vw(800px);
  padding-right: get-vw(35px);
  padding-left: get-vw(35px);
  background-color: #013a4e;
  text-align: center;

  @media screen and (max-width: 768px) {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .cart-dropdown-header {
    display: flex;
    width: 100%;
    margin: auto;
    padding: get-vw(25px) get-vw(25px);
    padding-top: get-vw(20px);
    padding-bottom: get-vw(20px);
    border-top: none;
    border-bottom: get-vw(2px) solid rgba(255, 255, 255, 0.2);
    background-color: #013a4e;
    color: #fff;
    font-family: $OpenSans;
    font-size: get-vw(32px);
    font-weight: bold;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 325px;
      padding-top: 13px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 20px;
      line-height: 27px;
    }

    .cart-name-and-no-of-items {
      display: flex;
      flex-direction: row;
    }

    .cart-dropdown-header-icon {
      width: auto;
      height: get-vw(21px);
      margin-left: auto;
      transition: 0.2s ease-in-out;
      fill: #111;
      vertical-align: top;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        height: 12.83px;
      }
    }

    .cart-dropdown-header-item-no {
      display: flex;
      align-items: center;
      padding-left: get-vw(20px);
      font-size: get-vw(14px);

      @media screen and (max-width: 768px) {
        padding-left: 14px;
        font-size: 14px;
      }
    }
  }

  .cart-dropdown-items {
    width: 100%;
    max-height: get-vw(300px);
    overflow: scroll;

    @media screen and (max-width: 768px) {
      width: 325px;
      max-height: 260px;
      overflow: scroll;
    }

    .no-item {
      padding: get-vw(20px);
      background-color: #013a4e;
      color: #fff;
      font-family: $OpenSans;
      font-weight: bold;
      text-align: center;
    }
  }

  .cart-dropdown-checkout-container {
    display: flex;
    justify-content: right;
    height: get-vw(172px);
    margin-top: get-vw(19px);
    overflow: hidden;
    font-family: $OpenSans;

    @media screen and (max-width: 768px) {
      align-items: flex-end;
      justify-content: center;
      height: 172px;
      margin-top: 27px;
    }

    .cart-dropdown-checkout-details {
      width: get-vw(334px);
      color: white;

      @media screen and (max-width: 768px) {
        width: 300px;
      }

      .order-subtotal-and-checkout-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media screen and (max-width: 768px) {
          justify-content: space-between;
        }

        .subtotal-title {
          padding-right: get-vw(50px);
          font-size: get-vw(24px);
          font-style: normal;
          font-weight: bold;
          line-height: get-vw(30px);

          @media screen and (max-width: 768px) {
            padding-right: 60px;
            font-size: 24px;
            line-height: 30px;
          }
        }

        .subtotal-price {
          color: #f1a900;
          font-size: get-vw(24px);
          font-weight: bold;
          line-height: get-vw(30px);

          @media screen and (max-width: 768px) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }

      .cart-dropdown-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: get-vw(334px);
        height: get-vw(64px);
        border-radius: get-vw(5px);
        //width: 20%;
        //padding: 20px;
        //border: none;
        background-color: #f2a900;
        color: white;
        font-family: $OpenSans;
        font-size: get-vw(23px);
        font-style: normal;
        font-weight: bold;
        line-height: get-vw(24px);

        @media screen and (max-width: 768px) {
          width: 300px;
          height: 64px;
          border-radius: 5px;
          font-size: 23px;
          line-height: 24px;
        }
      }
    }
  }

  .free-shipping-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: get-vw(80px);
    border-bottom: get-vw(1px) solid rgba(255, 255, 255, 0.2);
    color: white;
    font-family: $OpenSans;

    @media screen and (max-width: 768px) {
      justify-content: center;
      height: 50px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .free-shipping-banner-text {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      padding-right: get-vw(25px);
      font-size: get-vw(20px);
      font-style: normal;
      font-weight: bold;
      letter-spacing: get-vw(0.04px);
      line-height: get-vw(27px);
      text-align: right;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        justify-content: center;
        font-size: 14px;
        line-height: 19px;
      }

      .free-shipping-banner-text-price {
        margin: 0%;
        padding-right: get-vw(10px);
        padding-left: get-vw(10px);
        color: #f1a900;
      }
    }

    .free-shipping-details {
      border: none;
      background: #013a4e;
      color: #c2bbb7;
      font-size: get-vw(12px);
      font-style: normal;
      font-weight: 600;
      line-height: 185.5%;
      text-decoration-color: #c2bbb7;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
