@import '~styles/globals';
$vw-viewport: 1440;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

.confirmation-wrap {
  .heading-confirmation {
    .show-sms {
      /* identical to box height, or 53px */

      display: flex;
      align-items: center;
      // position: absolute;
      // width: 753px;
      // height: 53px;
      // left: 221px;
      // top: 40px;
      margin-left: get-vw(342px);
      padding-top: get-vw(40px);

      /* Brand White color */

      color: #fff;
      font-family: $OpenSans;
      font-size: get-vw(48px);
      font-style: normal;
      font-weight: bold;
      letter-spacing: -0.5px;
      line-height: 110%;
      text-align: center;
    }

    .order-mail {
      /* identical to box height, or 20px */

      display: flex;
      align-items: center;
      margin-left: get-vw(424px);
      padding-top: get-vw(18px);

      /* Brand White color */

      color: #fff;
      font-family: $OpenSans;
      font-size: get-vw(14px);
      font-style: normal;
      font-weight: normal;
      line-height: 140%;
      text-align: center;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }

  .deitail {
    display: flex;
    flex-direction: row;

    .shaping-adress {
      margin-top: get-vw(150px);
      margin-left: get-vw(384px);

      > h2 {
        width: get-vw(134px);
        height: get-vw(20px);
        margin-left: get-vw(38px);
        color: #fff;
        // left: 596px;
        // top: 249px;

        font-family: $OpenSans;
        font-size: get-vw(14px);
        font-style: normal;
        font-weight: bold;
        line-height: 140%;

        /* identical to box height, or 20px */

        // display: flex;
        // align-items: center;
        text-transform: uppercase;
      }

      .ship-warp {
        width: get-vw(383px);
        //  margin-top: get-vw(29px);
        margin-bottom: get-vw(32px);
        margin-left: get-vw(30px);
        padding: get-vw(11px);
        background-color: #002a3a;
        color: #fff;
        font-size: get-vw(14px);
        font-style: normal;
        font-weight: bold;
        line-height: 140%;
        text-align: start;
        text-transform: uppercase;
      }
    }

    .order-deitail {
      margin-top: get-vw(150px);
      margin-left: get-vw(118px);
      padding: get-vw(11px);
      color: #fff;
      font-family: $OpenSans;
      font-size: get-vw(13px);
      font-style: normal;
      font-weight: bold;

      /* identical to box height */

      // display: flex;
      // align-items: center;
      letter-spacing: 0.08em;
      line-height: get-vw(18px);
      text-transform: uppercase;
    }
  }
}
