@import '~styles/globals';
/* stylelint-disable */

.accordion-faqs {
  @media screen and (max-width: 768) {
    margin-top: 130px !important;
  }

  .accordion-question {
    position: relative;
    width: 64vw;
    //width: 100%;
    // width: 480px;
    // height: auto;
    margin-bottom: 0;
    color: #fff;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 26.4px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
  }

  .accordion-content {
    // height: initial;
    margin-bottom: 0;
    transition: all 0.3s;
    font-size: 16px;
    line-height: 23px;

    @media (max-width: 768px) {
      overflow: auto;
    }

    p {
      margin-left: 1.38vw;
      color: #fff;
      font-family: $OpenSans;
      font-size: 0.9722vw;
      line-height: 22.4px;

      @media (max-width: 768px) {
        font-size: 4.26vw;
      }
    }
  }

  .accordion-show {
    margin: 0 0 0;
  }

  .accordion-content.accordion-hide {
    display: none;
    max-height: 0;

    p {
      font-size: 0;
    }
  }

  .accordion-item {
    .ant-col {
      &:nth-child(6) {
        @media (max-width: 768px) {
          margin-top: 0 !important;
        }
      }

      &:last-child {
        @media (max-width: 768px) {
          margin-top: -23px;
        }
      }
    }
  }

  .ant-row.accordion-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eceae9;

    @media (max-width: 768px) {
      padding-top: 5.33vw;
      padding-bottom: 5.33vw;
    }

    .test {
      z-index: 100;
    }
  }

  .accordion-item {
    position: relative;
    margin-bottom: 15px;

    .accordion-arrow {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 5px;
      transition: all 0.3s ease-in-out;

      img {
        width: 12px;
        height: 6px;
        cursor: pointer;
      }
    }

    .faq-answer {
      color: #222;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }
  }

  @media (max-width: 768px) {
    .accordion-item {
      padding-left: 0;
    }

    .accordion-question {
      font-size: 3.733vw;
      font-weight: 800;
    }

    .footerLinks {
      margin-bottom: 0.4rem;
      color: #fff;
      font-size: small;
    }
  }
}
