@import '~styles/globals';

.agricultural-page-wrapper {
  color: white;
  font-family: $OpenSans;

  .technacil-wriper {
    margin: 0;
  }

  .overview-detail-section-mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      position: relative;
      padding-bottom: 0;
      overflow: hidden;
      font-size: 14px;
      line-height: 20px;
    }

    .read-more {
      display: block;
      position: relative;
      right: 0;
      bottom: 60px;
      width: 100%;
      height: 60px;
      padding-top: 40px;
      background-image:
        linear-gradient(
          to bottom,
          transparent,
          rgba(2, 50, 68, 0.57)
        );
      color: orange;
      font-size: 14px;
      font-weight: normal;
      line-height: 140%;
      text-align: left;

      .button {
        position: relative;
        top: 25px;
        right: 6px;
        border: 0;
        background-color: transparent;
        color: white;
      }
    }

    .read-less {
      display: block;
      position: relative;
      right: 0;
      bottom: 60px;
      width: 100%;
      height: 60px;
      padding-top: 40px;
      color: orange;
      font-size: 14px;
      font-weight: normal;
      line-height: 140%;
      text-align: left;

      .button {
        position: relative;
        top: 25px;
        right: 6px;
        border: 0;
        background-color: transparent;
        color: white;
      }
    }
  }

  .featured-products {
    .feat-title {
      font-size: get-vw(18px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(25px);

      /* identical to box height */

      text-transform: capitalize;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 27px;
      }
    }

    .feat-products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: get-vw(16px);

      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }

      .feat-product {
        display: flex;
        flex-direction: column;
        margin-left: get-vw(27px);

        &:nth-child(odd) {
          @media screen and (max-width: 768px) {
            margin-right: 12px;
            margin-left: 0;
          }
        }

        .feat-image {
          width: get-vw(185.04px);
          height: get-vw(211.16px);
          background: #fff;

          @media screen and (max-width: 768px) {
            width: 39.46vw;
            height: 48.63vw;
            padding: 5.33vw 2.66vw;
          }
        }

        .feat-link {
          width: 10.41vw;
          padding-top: get-vw(15.84px);
          padding-bottom: get-vw(15.84px);
          color: rgba(241, 169, 0, 1);
          font-size: get-vw(14px);
          font-weight: normal;
          line-height: get-vw(19px);
          text-align: center;
          text-transform: capitalize;

          @media screen and (max-width: 768px) {
            width: 39.46vw;
            padding-top: 2.66vw;
            padding-bottom: 8vw;
            font-size: 3.73vw;
            line-height: 5.06vw;
          }
        }
      }
    }
  }

  .explore-all {
    .explore-title {
      margin-top: get-vw(28px);
      font-size: get-vw(18px);
      font-style: normal;
      font-weight: bold;
      line-height: get-vw(25px);
      text-transform: capitalize;

      @media screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 25px;
      }
    }

    .explore-links {
      display: flex;
      flex-wrap: wrap;

      .explore-link {
        margin-top: get-vw(26px);
        margin-right: get-vw(67px);
        margin-left: get-ve(67px);
        color: #f1a900;
        font-size: get-vw(14px);
        font-style: normal;
        font-weight: normal;
        line-height: get-vw(19px);
        text-align: center;
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
          margin-top: 22px;
          margin-right: 15px;
          margin-left: 0;
          font-size: 14px;
          font-weight: 600;
          line-height: 19px;
        }
      }
    }
  }

  .agricultural-wrapper {
    margin-top: get-vw(100px);
    margin-right: get-vw(91px);
    padding-top: get-vw(66px);
    padding-right: get-vw(77px);
    padding-bottom: get-vw(101px);
    padding-left: get-vw(61px);
    background: rgba(3, 41, 57, 0.5);

    @media screen and (max-width: 768px) {
      margin-top: 0;
      margin-right: 0;
      padding-top: 11.2vw;
      padding-right: 30px;
      padding-bottom: 56px;
      padding-left: 30px;
    }

    .agricultural-content {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .yellow {
      color: #f1a900;
    }

    .title {
      margin-bottom: get-vw(30px);
      color: #f1a900;
      font-size: get-vw(24px);
      font-weight: bold;
      line-height: get-vw(33px);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        line-height: 33px;
      }
    }

    .details-paragraph {
      margin-bottom: 28px;
      font-size: get-vw(14px);
      font-weight: normal;
      line-height: get-vw(20px);
      //   color: rgba(38, 70, 83, 0.5);
      @media screen and (max-width: 768px) {
        display: none;
        font-size: 3.73vw;
        line-height: 140%;
      }
    }

    .more {
      margin-top: get-vw(20px);

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}
