@import '~styles/globals';

.simple-form {
  & > div {
    background: #013a4e;
  }

  .request-form__subtitle {
    font-size: 24px;

    a {
      color: $primary-color;
      font-family: $font-futura-md;

      &:hover {
        color: $primary-color;
      }
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}
