@import '~styles/globals';

.content-wrapper {
  h1 {
    color: #fff;
    font-family: $OpenSans;
    font-weight: bold;
    letter-spacing: -0.004vw;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and(max-width: 500px) {
      font-size: 8.5vw !important;
      letter-spacing: -0.064vw;
    }
  }

  h5 {
    color: #fff;
    font-family: $OpenSans;
    font-size: 20px;
    letter-spacing: -0.015em;
    line-height: 110%;
  }

  p {
    font-family: $OpenSans;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.015em;
    line-height: 160%;
    -webkit-text-fill-color: transparent;
  }

  button {
    top: 0;
    left: 0.69vw;
    box-sizing: border-box;
    align-items: center;
    width: 13.2vw;
    height: 3.3vw;
    border: 0.13vw solid #f2a900;
    border-radius: 0.3vw;
    background: #f2a900;
    color: #fff;
    font-family: $OpenSans;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    line-height: 1.9vw;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 500px) {
      width: 80vw;
      height: 17vw;
      border: 0.5vw solid #f2a900;
      border-radius: 1.3vw;
      font-size: 4.2vw;
      letter-spacing: 0.2vw;
      line-height: 7.4vw;
    }

    .h-links {
      color: #fff;
    }
  }

  .banner-heading {
    width: get-vw(584px);
    font-size: 2.22vw;

    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
