@import '~styles/globals';

.testimonial-wrapper {
  display: flex;
  padding: 2.7vw;
  background: #ff8200;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 500px) {
    padding: 2.7vw 0;
  }

  h1 {
    width: 19.5vw;
    margin-left: 5.5vw;
    color: white;
    font-family: $OpenSans;
    font-size: 3.3vw;
    font-weight: bold;
    letter-spacing: -0.03vw;
    line-height: 110%;
    text-transform: uppercase;

    // @media screen and (max-width: 1366px) {
    //   margin-left: 50px;
    // }

    // @media screen and (max-width: 768px) {
    //   margin-left: 0;
    // }
    @media screen and (max-width: 500px) {
      width: 64.2vw;
      margin-top: 0;
      margin-left: 11.5vw;
      font-size: 8.5vw;
    }
  }
}

.slider {
  // display: none;

  width: 40.8vw;
  height: 29.3vw;
  margin-right: 12.7vw;
  margin-left: auto;
  padding-bottom: 2.7vw;
  background-color: white;

  // @media screen and (max-width: 768px) {
  //   width: 100%;
  //   padding-bottom: 15px;
  // }
  @media screen and (max-width: 500px) {
    width: 75.7vw;
    height: 83.4vw;
  }

  .slider-wrapper {
    padding: 1.3vw 0;
    background-color: white;

    @media (max-width: 500px) {
      height: 83.4vw;
    }

    // @media screen and (max-width: 768px) {
    //   padding: 40px 0 0 0;
    // }

    .slide {
      padding: 40px 0 20px;
      background-color: white;

      @media screen and (max-width: 768px) {
        padding: 0;
      }

      .slider-image {
        width: 8.1vw;
        height: 8.1vw;
        margin: 0 auto;

        @media screen and (max-width: 500px) {
          width: 26.9vw;
          height: 26.9vw;
        }
      }

      .slider-paragraph {
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 60px 30px 50px;
        color: white;
        font-family: $font-futura-heavy;
        font-size: 18px;
        text-align: center;
      }
    }

    .slick-slider {
      min-width: 0;

      @media (max-width: 500px) {
        height: 83.4vw;
      }

      // button {
      //   width: 0.4vw;
      //   height: 0.8vw;
      //   background: red;
      // }

      .slick-list {
        width: 40.8vw;
        height: 100%;
        max-height: 29.3vw;
        margin: 0 auto;
        // overflow-y: scroll;
        @media (max-width: 500px) {
          max-height: 83.4vw;
        }

        .slick-track {
          width: 2115px;
          opacity: 1;

          .slick-slide {
            position: relative;
            z-index: 998;
            top: 0;
            left: 0;
            width: 423px;
            transition: opacity 500ms linear 0s;

            .slide {
              width: 3.4vw;
            }
          }
        }
      }

      .slick-prev::before {
        background-image: url('/static/images/chevron-right.png');
        background-repeat: no-repeat;
        color: unset !important;
      }

      .slick-next::before {
        background-image: url('/static/images/chevron-left.png');
        background-repeat: no-repeat;
        color: unset !important;
      }

      .slick-arrow,
      .slick-prev {
        display: none;
        // background-image: url('/static/images/chevron-right.png');

        // &::before {
        //   // display: none;
        // }
      }

      .slick-dots {
        width: 100%;
        margin-bottom: 4px;
        background-color: #4498cc;

        li {
          width: 12px;
          height: 12px;
          margin-right: 20px;
          margin-bottom: 15px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.6);

          // button {
          //   &::before {
          //     //   display: none;
          //   }
          // }
        }

        .slick-active {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    p {
      margin-top: 1.2vw;
      margin-bottom: 2.9vw;
      color: #032939;
      font-family: $OpenSans;
      font-size: 0.9vw;
      font-weight: bold;
      line-height: 1.25vw;
      text-align: center;

      @media (max-width: 500px) {
        font-family: $Raleway;
        font-size: 3.4vw;
        font-weight: 800;
        letter-spacing: 0.3vw;
        line-height: 4vw;
      }
    }

    .comment {
      width: 22.8vw;
      margin: 0 auto;
      color: #032939;
      font-family: $OpenSans;
      font-size: 0.9vw;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        width: 221px;
      }

      @media screen and (max-width: 500px) {
        width: 58.9vw;
        font-size: 3.2vw;
        font-weight: normal;
        text-align: left;
      }
    }
  }
}

@media (max-width: 767px) {
  .slider {
    display: block;
  }
}
