@import '~styles/globals';

.img {
  height: 814px;
  background-image: url('/static/images/background.png');
  background-size: cover;

  @media (max-width: 768px) {
    background-image: url('/static/images/bg.png');
    // width: 100vw;
    // // height: 495px;
    background-size: cover;
  }
}

.bg-search {
  background:
    linear-gradient(
      180deg,
      #013a4e 0%,
      #002a3a 0.01%,
      rgba(0, 42, 58, 0.94) 100%
    );
}

.oats {
  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 45px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 21px;
    // margin-left: -97px;
    padding-top: 53px;
    font-family: $OpenSans;
    font-size: 2.1vw;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    text-align: center;

    @media (max-width: 768px) {
      display: none;
    }

    // .heading {
    //   width: 785px;
    //   height: 43px;
    //   color: #e4eff4;
    //   font-style: normal;
    //   font-weight: 700px;
    //   line-height: 43.4px;
    //   text-align: center;
    // }
  }

  .input_model {
    width: 31.1vw;
    height: 64px;
    // height: 4.4vw;
    // margin-left: 22.9vw;
    padding: 1.3vw;
    border: 1px solid #e4eff4;
    border-radius: 1.1vw;
    outline: none;
    background: #e4eff4;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      width: 82.6vw;
      height: 64px;
      // margin-right: 36px;
      margin-top: 119px;
      margin-left: 2px;
      padding: 12px;
      border-radius: 4.2vw;
      outline: none;
    }

    .input_model:focus {
      outline: none;
    }
  }

  .btn-search {
    // width: 68px;
    padding: 0;
    border-radius: 21px;
    background-color: #f1a900;

    @media (max-width: 768px) {
      height: 64px;
      // height: 17vw !important;
      background-color: #f1a900;
    }
  }

  .wrapper-oats {
    display: flex;
    margin-left: 22.98vw;

    @media (max-width: 768px) {
      // display: grid;
      // grid-template-rows: auto auto;
      // place-items: center;
      display: flex;
      flex-direction: column;
      margin-left: 7.73vw;
    }
  }

  .wrapper-two {
    display: flex;

    @media (max-width: 768px) {
      // width: 219px;
      display: flex;
      padding-top: 18px;
      // margin-left: 23px;
      // margin-left: -29px;

      .ant-select {
        width: 58.4vw;
      }
    }
  }

  .search_bar {
    // left: 1038px;
    width: 72px;
    height: 4.4vw;

    // border-radius: 16px;
    margin-left: 20px;
    padding-bottom: 25px;

    .img-icon {
      // width: 4.7vw;
      // height: 4.4vw;
      margin: -2px;
      object-fit: cover;

      @media (max-width: 768px) {
        // width: 100%;
        // height: 100%;
        object-fit: revert;
      }
    }

    @media (max-width: 768px) {
      width: 19.2vw;
      height: 17.4vw;
    }
  }

  .ant-select-selector {
    min-width: 165px !important;
    height: 64px !important;
    margin: 0 10px !important;
    padding-top: 15px !important;
    border-radius: 16px !important;
    background-color: #e4eff4 !important;

    @media (max-width: 768px) {
      height: 64px !important;
    }

    &.cars {
      top: 0;
      width: 15.2vw;
      margin-left: 20px;
      padding-bottom: 100px;
    }
  }

  .ant-select-selection-item {
    opacity: 0.5;
    font-weight: bold;
  }

  .dropdown-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 140px;

    @media (max-width: 768px) {
      display: block;
      margin-top: 20px;
      margin-left: 12px;
      padding-bottom: 23px;
    }

    .ant-select {
      min-width: 165px;
      margin: 0 10px;

      @media (max-width: 768px) {
        width: 219px;
        margin-top: 21px;
      }

      .ant-select-selector {
        height: 64px !important;
        border-radius: 16px !important;
        background-color: #e4eff4 !important;
      }

      &.series {
        min-width: 15.2vw;
        // background: #E4EFF4;
        @media (max-width: 768px) {
          width: 58.4vw;
          // padding-bottom: 8.5vw;
        }
      }

      &.year_range {
        width: 19.8vw;

        @media (max-width: 768px) {
          width: 76.2vw;
          // padding-bottom: 8.5vw;
        }
        // border-radius: 16px;
      }

      &.family {
        width: 12.9vw;
        // border-radius: 16px;
        @media (max-width: 768px) {
          width: 49.6vw;
          // padding-bottom: 8.5vw;
        }
      }

      &.manufecturer {
        width: 15.9vw;
        // border-radius: 16px;
        @media (max-width: 768px) {
          width: 61.6vw;
          // padding-bottom: 8.5;
        }
      }
    }
  }

  // table {
  //   width: 100%;
  //   border-collapse: collapse;
  //   font-family: arial, sans-serif;
  // }

  // td,
  // th {
  //   padding: 8px;
  //   border: 1px solid #ddd;
  //   text-align: left;
  // }

  // tr:nth-child(even) {
  //   background-color: #ddd;
  // }
}

.table-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 36px;
  color: #fff;

  .flex {
    display: flex;
    justify-content: space-between;
    width: 1177px;
    margin-left: 49px;
    padding-left: 20px;

    .title {
      color: #f1a900 !important;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  .custom-grid {
    width: 20%;
  }

  .custom-grid.tiles {
    color: #f1a900 !important;
    font-family: $OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;

    @media (max-width: 768px) {
      margin-left: 11px;
    }
  }

  .table-content {
    font-family: $OpenSans;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: normal;
    line-height: 1.94vw;

    @media (max-width: 768px) {
      font-family: $OpenSans;
      font-size: 3.73vw;
      font-style: normal;
      font-weight: normal;
      line-height: 5.6vw;
    }
  }
  // @media (max-width: 768px) {
  //   flex-direction: column;
  //   max-width: 90%;
  // }
  .table-content:nth-child(even) {
    padding-left: 23px;
    background: #094256;

    @media (max-width: 768px) {
      padding-left: 32px;
    }
  }

  .table-content:nth-child(odd) {
    padding-left: 23px;
    background: #1f586c;

    @media (max-width: 768px) {
      padding-left: 32px;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    margin-left: 0;
  }
}

.overflow {
  @media (max-width: 768px) {
    overflow-x: auto;
  }
}
