/* stylelint-disable */
@import '~styles/globals';

.search-suggestion {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: block !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      float: none !important;
      line-height: 1.9vw;

      @media screen and(max-width: 500px) {
        margin-bottom: 15px !important;
        line-height: 28px;
      }

      @media screen and(min-width: 768px) and (max-width: 1399px) {
        margin-bottom: 10px !important;
      }

      &:hover {
        .c-label {
          .h-links {
            color: #dc5e00;
          }
        }
      }

      .c-label {
        color: $white-color;
        font-family: $OpenSans;
        font-size: 1.1vw;
        text-transform: capitalize;
        cursor: pointer;

        @supports (-webkit-touch-callout: none) {
          font-family: $OpenSans;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.75px;
          line-height: 28px;
        }

        @media screen and(max-width: 500px) {
          font-family: $OpenSans;
          font-size: 16px;
        }

        @media screen and(min-width: 768px) and (max-width: 1399px) {
          font-size: 2vw;
        }

        .h-links {
          color: #fff;

          @media screen and(max-width: 500px) {
            font-family: $OpenSans;
            font-size: 16px;
          }
        }
      }
    }
  }
}
/* stylelint-enable */
