@import '~styles/globals';

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  background: #013a4e;
  vertical-align: center;

  .dialogue {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: -75px;
    margin-left: 50px;
    padding-right: 55px;
    text-align: left;

    .dialogues {
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 30px;
      }
    }

    .bold {
      font-weight: 700;
    }
  }

  .about-us-image {
    width: 25%;
    padding-right: 80px;
  }

  .about-us-text {
    color: #fff;
    font-family: Open-Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &:nth-child(odd) {
    flex-flow: row-reverse;
    // flex-direction: row;
    justify-content: center;
    background: #032939;

    .about-us-image {
      margin-right: 50px;

      @media (max-width: 767px) {
        margin-right: 0;
      }
    }

    .about-us-text {
      margin-right: 50px;
      padding-right: 55px;

      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
  }

  &:last-child {
    flex-direction: row-reverse;
    padding-bottom: 80px;

    .about-us-image {
      margin-left: 0;
    }

    .about-us-text {
      margin-bottom: 30px; //fixed from 60px to 30px
    }
  }

  .oil-wrapper {
    width: 385px;
    margin-bottom: 50px;

    .oil-heading {
      color: #fff;
      font-family: nevis, Helvetica, Arial, sans-serif;
      font-size: 30px;
      line-height: 110%;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        width: 327px;
        margin: 0 auto;
        font-size: 32px;
      }
    }

    .about-us-text {
      @media screen and (max-width: 768px) {
        padding: 20px 30px !important;
        text-align: left;
      }
    }

    .oil-button {
      box-sizing: border-box;
      align-items: center;
      width: 147px;
      height: 48px;
      margin-top: 24px;
      border: 2px solid #e35205;
      border-radius: 5px;
      background: transparent;
      color: #fff;
      font-family: nevis, Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.75px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 767px) {
  .about-us {
    flex-direction: column-reverse !important;
    padding-top: 60px;
    overflow: hidden;

    .dialogue {
      position: static;
      right: 0;
      width: 100%;
      max-width: 100%; //fixed from 70% to 100%
      margin: 0;
      padding: 10px 40px 45px; //fixed from 10px 10x 0 to 10px 40px 45px
      text-align: center;

      .dialogues {
        font-size: 18px;
        line-height: 1.5;
      }
    }

    .about-us-image {
      width: 100%;
      padding-right: 20px;
    }

    .about-us-text {
      position: static;
      right: 0;
      width: 100%;
      max-width: 100%;
      margin-bottom: -20px; //fixed from -50px to -20px
      padding: 10px 40px 0 !important;
      font-size: 18px !important; //from 18px to 18px !important
      font-weight: 500; //fixed from 600px to 500px
      text-align: center;
    }

    &:last-child {
      width: 100%;
      padding-bottom: 40px;
    }
  }
}
