@import '~styles/globals';

.footer-column {
  h3 {
    margin-bottom: 1em;
    color: #fff;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: 19px;
    text-transform: uppercase;
  }

  h5 {
    color: #fff !important;
    font-family: $OpenSans !important;
    font-size: 0.83vw;
    font-weight: bold !important;
  }
}

.menu-column {
  text-align: left;
}

.footer-menu {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: $OpenSans;
  font-size: get-vw(12px);
  font-style: normal;
  font-weight: bold;
  letter-spacing: get-vw(0.04px);
  line-height: get-vw(18px);
  list-style: none;

  li {
    margin-top: 10px;
  }

  a {
    color: #fff;
  }

  a:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .menu-column {
    margin-bottom: 42px;
  }

  .footer-menu {
    font-size: 16px;
    line-height: 24px;
  }
}
