@import '~styles/globals';

.addresses--container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }

  .errorCls {
    color: red;
  }

  .lblInputCls {
    border: 3px solid #000;
  }

  select {
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 3px solid #000;
    background-color: #fff;
    font-family: $font-futura;
    font-size: 16px;
    font-weight: 700;
  }

  .title {
    width: 100%;
    // margin-bottom: 60px;
    padding: 90px 20px 60px 20px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 980px) {
      margin-bottom: 0;
      padding: 60px 0 40px 0;
      font-size: 26px;
    }
  }

  .new--address {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @media (max-width: 980px) {
      margin-bottom: 40px;
    }

    .return-address {
      color: #3b97ff;
      font-size: 17px;
      font-weight: 700;
      text-decoration: none;
    }

    .add-address-btn {
      width: 100%;
      max-width: 210px;
      margin: 10px 0;
      padding: 14px 20px;
      transition: all ease-in 0.15s;
      border: none;
      background-color: #111;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .address-form {
    max-width: 700px;

    .title {
      width: 100%;
      margin-bottom: 30px;
      padding-left: 0;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .request-form {
    padding: 10px 0 10px 0;

    @media (max-width: 768px) {
      padding: 0 0 35px;
    }
  }

  .request-form .cs--page-width {
    padding: 0;

    @media (max-width: 980px) {
      padding: 0;
    }

    .request-form__content {
      margin: 0;
    }

    .label-input {
      margin: 0;
    }

    .request-form__title {
      text-align: left;
    }
  }

  .request-form__mobile-title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
  }

  .request-form__submit-button-wrapper {
    text-align: left;

    @media (max-width: 350px) {
      margin-top: 0;
      padding: 0;
    }

    .request-form__submit-button {
      max-width: 260px;
      margin: 0 2px;
      padding: 12px 20px;
      border: 2px solid #212529;
      outline: 0;
      background: #111;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      cursor: pointer;

      @media (max-width: 350px) {
        margin-top: 10px;
      }
    }
  }
}
