@import '~styles/globals';

.radio-wrapper {
  padding-top: 5em;
  padding-left: 39px;

  .radiobtn {
    padding-right: 38px;
    padding-bottom: 47px;
    color: #f4f4f4;
    font-family: $OpenSans;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;

    @media screen and (max-width: 768px) {
      padding-right: 5px;
      padding-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
}

.price-list-btn {
  // font-weight: bold;
  // font-size: 14px;
  // color: #f1a900;
  // text-decoration: underline;
  // // float: right;

  display: none;
}

.accordian {
  display: grid;
  grid-template-columns: 993px auto;
  border: #03293980;
  color: #fff;
  font-family: $OpenSans;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 60rem auto;
  padding: 13px;
  font-family: $OpenSans;
  font-family: $OpenSans;
  font-style: normal;
  font-weight: bold;

  h1 {
    color: #fff;
    font-size: 28px;
  }

  > div {
    border: 1px solid white;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.text-fields {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  padding-left: 28px;
  gap: 18px;
  place-items: center;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 210px 83px;
    grid-template-rows: auto auto;
    padding-bottom: 0;
  }

  .part-number {
    width: 30em;
    height: 64px;
    padding: 18px;
    border-radius: 5px;
    outline: none;
    background: #fff;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      width: 13em;
      height: 64px;
      border-radius: 10px;
    }
  }

  .quantity-number {
    width: 82px;
    height: 64px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    text-align: center;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    @media screen and (max-width: 768px) {
      width: 5em;
      height: 64px;
      border-radius: 10px;
    }
  }
}

.submit-btns {
  display: grid;
  grid-template-rows: auto auto;
  padding: 28px;
  gap: 1em;

  .row-btn {
    box-sizing: border-box;
    width: 119px;
    height: 42px;
    border: 1px solid #f1a900;
    border-radius: 5px;
    background: #013a4e;
    color: #fff;
    font-weight: bold;
  }

  .add-btn {
    box-sizing: border-box;
    width: 140px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background: #f1a900;
    color: #fff;
    font-weight: bold;
  }
}

.list-items-catagory {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  color: white;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.list-item-container {
  display: grid;
  grid-template-columns: 993px auto;
  grid-template-rows: auto auto;
  font-family: $OpenSans;

  @media screen and (max-width: 768px) {
    grid-template-columns: 400px;
    grid-template-rows: auto auto;
  }
}

.catagory-label {
  padding-left: 20px;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  justify-content: center;
}

.order-total-and-list {
  display: grid;
  grid-template-columns: auto 433px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.radio-group {
  .pack_order_link {
    color: white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      pointer-events: visible;
    }
  }
}

.ant-radio-checked .ant-radio-inner {
  border-color: #d99e08 !important;
}

.ant-radio-checked .ant-radio-inner::after {
  background-color: #d99e08;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #d99e08;
}

.partname-and-qty {
  display: grid;
  grid-template-columns: 500px auto;
  padding-top: 20px;
  padding-left: 30px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 220px auto;
    padding-left: 38px;
  }
}

.remove-row {
  box-sizing: border-box;
  width: 120px;
  height: 28px;
  border: none;
  background: #013a4e;
  color: #d99e08;
  font-size: 14px;
  text-transform: uppercase;
}
