@import '~styles/globals';

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #002a3a;

  @media (max-width: 1900px) {
    height: 110px;
  }

  @media (max-width: 992px) {
    height: 54px;
  }

  &__nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 152px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.625rem 0;

    @media (max-width: 1024px) {
      padding: 0 !important;
    }

    @media (max-width: 1800px) {
      padding: 0 60px;
    }

    @media (max-width: 992px) {
      padding: 0 25px;
      transition: all 0.5s linear;
    }

    .mobile-home-logo {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  .desktop-logo {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__logo {
    width: 130px;

    @media (max-width: 1900px) {
      width: 100px;
    }

    @media (max-width: 992px) {
      width: 88px;
    }
  }

  &__mobile-menu-button {
    display: none;

    @media (max-width: 992px) {
      display: inherit;
    }

    @media (max-width: 768px) {
      display: inherit;
      flex: auto;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    min-width: 64px;

    @media (max-width: 768px) {
      min-width: auto;
    }
  }

  &__mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #013a4e;

    &--show {
      max-height: 10000px;
      transition: max-height 1s ease-out;

      @media (min-width: 993px) {
        display: none;
      }
    }

    &-links {
      height: calc(100vh - 54px);
      padding: 12px 40px;
      overflow: auto;
      text-align: left;

      @media (max-width: 768px) {
        padding: 12px 25px 35px;
      }

      a {
        padding: 12px 0;
        font-size: 21px;

        // &:not(:last-child) {
        //   border-bottom: 3px solid $light-border-color;
        // }
      }
    }

    .c-image {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }

  &__links {
    // flex-wrap: wrap;

    @media (max-width: 992px) {
      display: none;
    }

    .header-link {
      display: flex;
      align-items: center;
      height: 109px;
      margin: 0 18px;
      padding: 7px 0;
      color: $white-color;
      font-family: Open-Sans, Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: normal;
      // border-bottom: 3px solid transparent;
      letter-spacing: 0.015em;
      line-height: 27px;
      text-transform: uppercase;

      &:hover {
        padding-bottom: 6px;
        // border-bottom: 3px solid $white-color;
      }

      @media (max-width: 1900px) {
        font-size: 19px;
      }

      @media (max-width: 1100px) {
        font-size: 16px;
      }
    }
  }

  // &__User-icon {
  //   @media (max-width: 992px) {
  //     display: none;
  //   }
  // }

  .Buy-Button {
    box-sizing: border-box;
    align-items: center;
    width: 174px;
    height: 42px;
    border: 1px solid #f1a900;
    border-radius: 5px;
    background: #f7921e;
    color: #fff;
    font-family: Open-Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .quick-order {
    border: none;
    background: none;
    color: $white-color;
    font-family: $OpenSans;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      color: #f7921e;
    }
  }

  .header__icons {
    .c-link {
      border: none;

      .h-links {
        border: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .mobile-button {
      display: block !important;
    }
  }
}
