/* stylelint-disable */
@import '~styles/globals';

.hide-header {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  height: 7.6vw;
  background-color: #002a3a;

  @media (max-width: 992px) {
    padding: 0 35px;
  }

  @media (max-width: 768px) {
    padding: 0 0;
  }

  @media (max-width: 500px) {
    height: 19.7vw;
  }

  &__nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 7.6vw;
    padding: 0 1.66vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.625rem 0;

    @media (max-width: 992px) {
      transition: all 0.5s linear;
    }

    @media (max-width: 500px) {
      height: 19.7vw;
      padding: 0;
    }

    .mobile-home-logo {
      @media (min-width: 992px) {
        display: none;
      }

      .c-image {
        width: 80% !important;
        margin-left: 5px;

        @media (max-width: 500px) {
          width: 90% !important;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .quick-order {
        display: none;
      }
    }
  }

  .desktop-logo {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__logo {
    width: 14.6vw;
    height: 5.4vw;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__mobile-menu-button {
    display: none;

    @media (max-width: 992px) {
      display: inherit;
    }

    @media (max-width: 768px) {
      display: inherit;
      flex: auto;
    }

    img {
      @media (max-width: 500px) {
        width: 4.8vw;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-top: 3.4vw;
    margin-bottom: 3.33vw;

    @media (max-width: 992px) {
      justify-content: end;
      min-width: 85%;
    }

    @media (max-width: 768px) {
      min-width: auto;
    }

    .c-link {
      @media (max-width: 320px) {
        padding-right: 10px !important;
      }
    }

    button {
      img {
        width: 1.66vw;
        height: 1.66vw;
      }
    }
  }

  &__mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #013a4e;

    &--show {
      max-height: 10000px;
      transition: max-height 1s ease-out;

      @media (min-width: 993px) {
        display: none;
      }
    }

    &-links {
      position: relative;
      height: calc(100vh - 116px);
      padding: 12px 40px;
      overflow: auto;
      text-align: left;

      @media (max-width: 768px) {
        height: calc(100vh - 100px);
        padding: 12px 25px 35px;
      }

      @media (max-width: 500px) {
        height: calc(100vh - 34.6vw);
        padding-right: 0;
      }

      .Buy-Button {
        @media (max-width: 500px) {
          display: block !important;
          width: 55.7vw !important;
          height: 12.2vw !important;
          margin-top: 7.2vw;
          font-family: $OpenSans !important;
          font-size: 5.33vw !important;
        }
      }

      a {
        padding: 12px 0;
        font-size: 21px;

        // &:not(:last-child) {
        //   border-bottom: 3px solid $light-border-color;
        // }
        @media (max-width: 375px) {
          padding: 0;
          font-family: $OpenSans;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }

    .c-image {
      position: absolute;
      right: 0;

      @media (max-width: 500px) {
        top: 0.6vw;
        right: 4.33vw;
      }
    }
  }

  &__links {
    @media (max-width: 992px) {
      display: none;
    }

    .header-link {
      margin-top: 3.12vw;
      margin-bottom: 2.49vw;
      color: $white-color;
      font-family: Open-Sans, Helvetica, Arial, sans-serif;
      font-size: 1.3vw;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.015em;
      text-transform: uppercase;
    }
  }

  .Buy-Button {
    box-sizing: border-box;
    align-items: center;
    width: get-vw(210px);
    height: 17.06vw !important;
    border: 0.06vw solid #f2a900;
    border-radius: get-vw(9px);
    background: #f2a900;
    color: #fff;
    font-family: Open-Sans, Helvetica, Arial, sans-serif;
    font-size: get-vw(23px);
    font-style: normal;
    font-weight: bold;
    line-height: 1.5vw;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      display: none;
      font-size: 20px;
    }
  }

  .quick-order {
    position: relative;
    left: 1.3vw;
    margin-top: 3.19vw;
    // width: 9.93vw;
    margin-right: 1.1vw;
    margin-bottom: 2.36vw;
    animation: quickColor 1s infinite;
    border: none;
    background: none;
    color: $white-color;
    font-family: $OpenSans;
    font-size: 1.1vw;
    line-height: 1.5vw;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 1400px) {
      position: relative;
      left: 2%;
    }

    @media (max-width: 1024px) {
      left: 0;
    }

    &:hover {
      color: #f7921e;
    }
  }

  .header__icons {
    .c-link {
      margin-right: 2.77vw !important;
      border: none;

      @media screen and(max-width: 500px) {
        margin-right: 5.3vw !important;
      }

      .h-links {
        border: none;

        img {
          width: 1.66vw;
          height: 1.66vw;

          @media screen and(max-width: 500px) {
            width: 4.8vw;
            height: 4.8vw;
          }
        }
      }
    }

    button {
      border: none;
      background: none;
    }
  }

  @media screen and (max-width: 768px) {
    .mobile-button {
      display: block !important;
    }
  }

  .mbl-version {
    display: none;

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      @media screen and (max-width: 768px) {
        width: 50px;
      }
    }
  }

  .cart-amount {
    position: absolute;
    top: 1.1vw;
    right: 2.63vw;
    color: #f1a900;
    font-family: $OpenSans;
    font-size: 1.1vw;
    font-weight: bold;

    @media (max-width: 768px) {
      top: 2.66vw;
      right: 4vw;
      font-size: 3.2vw;
    }
  }
}

@keyframes quickColor {
  from {
    color: #fff;
  }

  to {
    color: #f7921e;
  }
}
/* stylelint-enable */
