@import '~styles/globals';

.checkout-success {
  padding: 2.43vw 0;
  color: #fff;
  font-family: $OpenSans;
  text-align: center;

  @media (max-width: 768px) {
    margin-top: 35vw;
    padding-top: 2.66vw;
  }

  @media (max-width: 992px) and (min-width: 768px) {
    margin-top: 11vw;
    padding-top: 2.66vw;
  }

  h3 {
    font-size: 0.972vw;
    text-align: left;
  }

  .order-details-attributes {
    font-size: get-vw(13px);
    font-weight: bold;
    line-height: get-vw(18px);

    .order-attribute {
      margin-left: get-vw(50px);
      text-align: left;
    }

    .order-detail {
      font-size: get-vw(16px);
      font-weight: bold;
      line-height: 140%;
    }

    p {
      margin-left: get-vw(50px);
      font-size: 0.972vw;
      text-align: left;
    }
  }

  // .received-text {
  //   font-size: get-vw(14px);
  // }

  .thankyou-text {
    margin: 0;
    color: #fff;
    font-family: $OpenSans;
    font-size: get-vw(48px);
    font-style: normal;
    font-weight: 700;

    @media (max-width: 768px) {
      align-items: center;
      margin-right: 6.4vw;
      margin-left: 6.4vw;
      font-size: 8.53vw;
      font-weight: 700;
      text-align: left;
    }
  }

  .received-text {
    margin-top: 1.25vw;
    margin-bottom: 0;
    font-size: 0.97vw;

    @media (max-width: 768px) {
      width: 87.2vw;
      margin-top: 5.6vw;
      margin-right: 6.4vw;
      margin-bottom: 0;
      margin-left: 6.4vw;
      font-size: 3.73vw;
      text-align: left;
    }

    .received-text-mail {
      margin-left: 0.27vw;
      font-weight: bold;

      @media (max-width: 768px) {
        margin-left: 1.06vw;
      }
    }
  }

  .columns {
    display: flex;
    flex-direction: column;
    padding-top: 8.19vw;
    padding-right: 2.77vw;
    padding-bottom: 10.76vw;
    padding-left: 8.19vw;

    &:nth-child(1) {
      @media (max-width: 768px) {
        padding-bottom: 13.06vw;
      }
    }

    &:nth-child(2) {
      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    @media (max-width: 768px) {
      padding: 15.46vw 5vw 15.73vw;
      text-align: left;
    }

    h3 {
      color: #fff;
      font-family: $OpenSans;
      font-style: normal;
      font-weight: bold;
      text-transform: uppercase;

      @media (max-width: 768px) {
        margin-bottom: 3.46vw;
        font-size: 3.73vw;
      }
    }

    .shipping-address {
      width: 26.5vw;
      height: 12.15vw;
      padding-top: 2.04vw;
      padding-right: 8.4vw;
      padding-bottom: 1.49vw;
      padding-left: 2.08vw;
      background: #002a3a;
      font-size: 0.97vw;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: 768px) {
        width: 87.2vw;
        height: 55.46vw;
        padding-top: 6.4vw;
        padding-right: 18.13vw;
        padding-bottom: 18.93vw;
        padding-left: 7.2vw;
        font-size: 3.73vw;
      }

      p {
        margin-bottom: 0.76vw;
        text-align: left;

        @media (max-width: 768px) {
          margin-bottom: 2.93vw;
        }
      }
    }

    .order-detail {
      display: none;

      @media (max-width: 768px) {
        display: block;
        padding-bottom: 32px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;

        .order-receipt {
          padding-left: 20px;
          color: #c2bbb7;
          font-size: 12px;
          font-style: normal;
          font-weight: bold;
          letter-spacing: 0.04px;
          line-height: 18px;
        }
      }
    }

    .order-number {
      font-size: get-vw(13px);
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;

      @media (max-width: 768px) {
        padding-bottom: 10px;
        font-size: 14px;
        letter-spacing: 1.5px;
      }
    }

    .order-number-two {
      // width: 25vw;
      padding-left: 1.31vw;
      font-size: get-vw(16px);
      text-align: left;

      @media (max-width: 768px) {
        padding-bottom: 8.53vw;
        padding-left: 5.33vw;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
      }
    }

    .po-num {
      @media (max-width: 768px) {
        display: none;
      }
    }

    .bold {
      font-size: 0.9vw;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;

      @media (max-width: 768px) {
        padding-bottom: 2.66vw;
        font-size: 14px;
        letter-spacing: 1.5px;
      }
    }

    .bold-two {
      padding-left: 1.18vw;
      font-size: 1.11vw;
      font-weight: bold;
      text-transform: capitalize;

      @media (max-width: 768px) {
        padding-bottom: 2.66vw;
        padding-left: 6.66vw;
        font-size: 16px;
        letter-spacing: 0;
      }
    }

    .para-heading {
      @media (max-width: 768px) {
        margin-top: 15.2vw;
        margin-bottom: 0;
        font-size: 3.73vw;
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    .para {
      width: 70%;
      font-size: get-vw(14px);

      @media (max-width: 768px) {
        margin-top: 2.93vw;
        margin-bottom: 0;
        font-size: 3.73vw;
      }
    }
  }
}
