@import '~styles/globals';

.checkout-success {
  padding: 30px 0;
  color: #fff;
  font-family: $OpenSans;
  text-align: center;

  @media (max-width: 768px) {
    margin-top: 35vw;
  }

  h3 {
    font-size: 0.972vw;
    text-align: left;
  }

  .order-details-attributes {
    font-size: get-vw(13px);
    font-weight: bold;
    line-height: get-vw(18px);

    .order-attribute {
      margin-left: get-vw(50px);
      text-align: left;
    }

    .order-detail {
      font-size: get-vw(16px);
      font-weight: bold;
      line-height: 140%;
    }

    p {
      margin-left: get-vw(50px);
      font-size: 0.972vw;
      text-align: left;
    }
  }

  .received-text {
    font-size: get-vw(14px);
  }

  .thankyou-text {
    color: #fff;
    font-family: $OpenSans;
    font-size: get-vw(48px);
    font-style: normal;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 10vw;
    }
  }

  .columns {
    display: flex;
    flex-direction: column;
    padding: 5vw;

    .shipping-address {
      width: 26.5vw;
      height: 12.15vw;
      padding: 2vw;
      background: #002a3a;
      font-weight: 700;
      text-align: left;

      span {
        font-size: 0.972vw;
      }
    }
  }
}

// @media (max-width: 999px) {
// }
