/* stylelint-disable */
@import '~styles/globals';

.show-products {
  width: 100%;
  float: left;
  background: #fff;

  @media (max-width: 768px) {
    max-height: 200px;
    overflow: scroll;
    background: #013a4e;
  }

  ul {
    padding: 10px;
    list-style: none;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .product-list {
    width: 30%;
    float: left;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
    }

    li {
      color: #6d6d6d;
      font-family: $OpenSans;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #dc5e00;
      }

      @media (max-width: 768px) {
        color: #fff;
        font-size: 16px;
      }
    }

    .activeItem {
      color: #dc5e00;
    }
  }

  .product-image {
    @media (max-width: 768px) {
      width: 100%;
      float: left;
    }

    ul {
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      @media (max-width: 500px) {
        width: 100%;
        padding: 0;
      }
    }

    li {
      display: inline;
      // padding: 0 20px;
      cursor: pointer;

      @media (max-width: 768px) {
        display: initial;
      }

      img {
        // width: 100px;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
          background: #fff;
        }
      }

      &:hover {
        img {
          height: auto;
          border: 1px solid #000;
          background: #dc5e00;
          box-shadow: inset 0 0 3px 3px #fff;
        }
      }
    }
  }

  .img-div {
    display: inline-flex;
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: inset 0 0 3px 3px #fff;

    @media (max-width: 768px) {
      display: block;
      height: auto;
    }

    img {
      width: 100%;
    }
  }

  .activeImg {
    display: inline-flex;
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid #000;
    background: #dc5e00;
    box-shadow: inset 0 0 3px 3px #fff;

    @media (max-width: 768px) {
      display: block;
      height: auto;
    }
  }
}

.show-products-image {
  ul {
    margin: 0;
    padding: 10px;
    list-style: none;
  }

  .product-list {
    li {
      color: $white-color;
      font-family: $OpenSans;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #dc5e00;
      }

      @media (max-width: 768px) {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}
/* stylelint-enable */
