/* stylelint-disable */
@import '~styles/globals';

.show-products {
  width: 100%;
  float: left;
  background: #fff;

  @media (max-width: 768px) {
    background: #013a4e;
  }

  ul {
    padding: 10px;
    list-style: none;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .product-list {
    width: 25%;
    float: left;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
    }

    li {
      color: #6d6d6d;
      font-family: $OpenSans;
      font-size: 10px;
      cursor: pointer;

      &:hover {
        color: #dc5e00;
      }

      @media (max-width: 768px) {
        color: #fff;
        font-size: 16px;
      }
    }

    .activeItem {
      color: #dc5e00;
    }
  }

  .product-image {
    width: 75%;
    float: left;

    @media (max-width: 768px) {
      width: 100%;
    }

    ul {
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      @media (max-width: 500px) {
        width: 100%;
        padding: 0;
      }
    }

    li {
      display: inline;
      padding: 0 20px;
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
      }

      img {
        width: 100px;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
          background: #fff;
        }
      }

      &:hover {
        img {
          border: 1px solid #000;
          background: #dc5e00;
          box-shadow: inset 0 0 3px 3px #fff;
        }
      }
    }
  }

  .activeImg {
    img {
      border: 1px solid #000;
      background: #dc5e00;
      box-shadow: inset 0 0 3px 3px #fff;
    }
  }
}
/* stylelint-enable */
