/* stylelint-disable */
@import '~styles/globals';

.show-products {
  width: 100%;
  float: left;
  background: #fff;

  @media (max-width: 768px) {
    max-height: 200px;
    overflow: scroll;
    background: #013a4e;
  }

  @media (max-width: 768px) {
    display: block;
    justify-content: unset;
  }

  ul {
    padding: 10px;
    list-style: none;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .product-list {
    width: 20%;
    float: left;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
    }

    @media (max-width: 500px) {
      width: 100%;
    }

    li {
      margin-bottom: 30px;
      color: #6d6d6d;
      font-family: $OpenSans;
      font-size: 20px;
      line-height: 27px;
      text-transform: capitalize;
      cursor: pointer;

      @media (max-width: 500px) {
        margin-bottom: 20px;
      }

      &:hover {
        color: #dc5e00;

        img {
          width: 139px;
          height: 178px;
          border: 1px solid #000;
          background: #dc5e00;
          box-shadow: inset 0 0 3px 3px #fff;
        }
      }

      @media (max-width: 768px) {
        color: #fff;
        font-size: 16px;
      }
    }

    .activeItem {
      color: #dc5e00;
    }
  }

  .product-image {
    width: 70%;
    float: left;

    @media (max-width: 768px) {
      width: 70%;
      float: left;
    }

    @media (max-width: 500px) {
      width: 100%;
    }

    ul {
      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      @media (max-width: 500px) {
        width: 100%;
        padding: 0;
      }
    }

    li {
      display: inline;
      width: 221px;
      height: 221px;
      background: none;
      // padding: 0 20px;
      cursor: pointer;

      @media (max-width: 768px) {
        display: initial;
      }

      img {
        // width: 100px;
        width: 139px;
        height: 178px;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
          background: #fff;
        }
      }

      &:hover {
        // img {
        //   border: 1px solid #000;
        //   background: #dc5e00;
        //   box-shadow: inset 0 0 3px 3px #fff;
        width: 139px;
        height: 178px;
        // }
        .img-div {
          border: 1px solid #000;
          background: #dc5e00;
          box-shadow: inset 0 0 3px 3px #fff;
        }
      }
    }
  }

  .img-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 221px;
    margin-bottom: 37px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: inset 0 0 3px 3px #fff;

    @media (max-width: 1344px) {
      width: 180px;
    }

    @media (max-width: 1250px) {
      width: 170px;
    }

    @media (max-width: 768px) {
      display: block;
      height: auto;
    }

    @media (max-width: 500px) {
      width: 100%;
    }

    img {
      width: 139px;
      height: 178px;
      object-fit: contain;
    }
  }

  .activeImg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 221px;
    border: 1px solid #000;
    background: #dc5e00;
    box-shadow: inset 0 0 3px 3px #fff;

    img {
      width: 139px !important;
      height: 178px !important;
      object-fit: contain;
      // border: 1px solid #000;
      // background: #dc5e00;
      // box-shadow: inset 0 0 3px 3px #fff;
    }

    @media (max-width: 768px) {
      display: block;
      height: auto;
    }
  }
}

.show-products-image {
  ul {
    margin: 0;
    padding: 10px;
    list-style: none;
  }

  .product-list {
    li {
      color: $white-color;
      font-family: $OpenSans;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: #dc5e00;
      }

      @media (max-width: 768px) {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}
/* stylelint-enable */
