.Productitem-banner {
  display: flex;
  flex-flow: column;
  width: 582px;
  height: 282px;
  background: #032939;

  @media screen and (max-width: 768px) {
    background: transparent;
  }

  img {
    width: 285px;
    height: 194px;
    margin: 15px auto;

    @media screen and (max-width: 768px) {
      width: 360px;
      height: 220px;
      padding: 30px;
      background: #032939;
    }
  }

  button {
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    margin-left: 2rem;
    border: 2px solid #e25205;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  &:nth-child(2) {
    @media screen and (max-width: 768px) {
      margin-top: 40px;
    }
  }
}
