/* stylelint-disable */
@import '~styles/globals';

.serach-flow {
  @media (max-width: 768px) {
    position: relative;
    top: 110px;
  }

  .clear {
    display: inline;
    margin-left: 15px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .serach-input {
    padding: 10px 30px;
    background: #002a3a;

    input {
      width: 96%;
      height: 45px;
      padding-left: 40px;
      border: 2px solid #013a4e;
      border-radius: 16px;
      outline: none;
      background: #013a4e;
      background: url('../../../../static/images/search.png') no-repeat 10px;
      color: $white-color;

      @media (max-width: 768px) {
        width: 93%;
      }

      @media (max-width: 425px) {
        width: 85%;
      }

      @media (max-width: 320px) {
        width: 84%;
      }
    }
  }

  ::placeholder {
    color: $white-color;
  }

  .suggestion-heading {
    margin-bottom: 20px;
    padding: 30px;
    padding-bottom: 0;
    color: $white-color;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;
  }

  .search-list {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .products {
      flex: 1;

      @media (max-width: 768px) {
        margin-top: 50px;
      }

      ul {
        @media (max-width: 992px) {
          width: 100%;
          float: left;
        }
      }
    }

    ul {
      margin: 0;
      list-style: none;

      @media (max-width: 768px) {
        padding: 0;
      }

      li {
        display: inline;
        margin: 0 10px;
        float: left;

        @media (max-width: 768px) {
          margin-left: 0;
        }

        .search-Items {
          width: 230px;
          margin-bottom: 25px;
          border: 3px solid #013a4e;

          @media (max-width: 992px) {
            width: 208px;
          }

          @media (max-width: 768px) {
            width: 226px;
          }

          @media (max-width: 425px) {
            width: 172px;
          }

          @media (max-width: 375px) {
            width: 147px;
          }

          @media (max-width: 320px) {
            width: 120px;
          }

          &:hover {
            border-color: #dc5e00;
          }

          .search-img {
            img {
              width: 100%;
              height: 230px;
              background: $white-color;

              @media (max-width: 425px) {
                height: auto;
              }
            }
          }

          .search-title {
            margin-top: 10px;
            color: $white-color;
            font-family: $OpenSans;
            font-size: 20px;
            font-weight: 600;
            line-height: 110%;

            @media (max-width: 425px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
/* stylelint-enable */
