/* stylelint-disable */
@import '~styles/globals';

.serach-flow {
  @media (max-width: 768px) {
    position: relative;
    top: 100px;
  }

  @media (max-width: 500px) {
    position: relative;
    top: 120px;
  }

  .clear {
    display: inline;
    margin-left: 1vw;
    border: none;
    background: none;
    cursor: pointer;

    @media (max-width: 500px) {
      margin-left: 22px;
    }

    img {
      width: 0.8vw;
      height: 0.8vw;

      @media (max-width: 500px) {
        width: 12.8px;
        height: 12.8px;
      }
    }
  }

  .serach-input {
    padding: 0.6vw 2vw;
    padding-left: 8.3vw;
    background: #002a3a;

    @media (max-width: 500px) {
      margin-top: 10px;
      padding: 10px 18px;
      background: #013a4e;
    }

    @media (max-width: 375px) {
      display: flex;
      justify-content: space-between;
    }

    input {
      width: 83.3vw;
      height: 4.4vw;
      padding-left: 2.7vw;
      border: 0.13vw solid #013a4e;
      border-radius: 1.1vw;
      outline: none;
      background: url('../../../../static/images/search.png') no-repeat 0.69vw;
      background-color: #013a4e !important;
      background-size: 1.4vw;
      color: $white-color;
      font-family: $Poppins;
      font-size: 1.1vw;
      background-position-y: 1.3vw;

      // @media (max-width: 1250px) {
      //   width: 90%;
      // }

      // @media (max-width: 992px) {
      //   width: 88%;
      // }

      @media (max-width: 768px) {
        width: 85%;
      }

      @media (max-width: 500px) {
        width: 330px;
        height: 52px;
        padding-left: 40px;
        border-radius: 5px;
        background-color: #002a3a !important;
        background-size: 20px;
        font-size: 16px;
        background-position-y: 15px;
        background-position-x: 15px;
      }

      @media (max-width: 375px) {
        display: flex;
        justify-content: space-between;
        width: 290px;
        height: 52px;
      }
    }
  }

  ::placeholder {
    color: $white-color;
    font-size: 1.1vw;

    @media screen and(max-width: 500px) {
      font-size: 16px;
    }
  }

  .suggestion-heading {
    margin-bottom: 1.3vw;
    padding: 2vw 8.3vw;
    padding-bottom: 0;
    color: $white-color;
    font-family: $OpenSans;
    font-size: 1.6vw;
    font-weight: bold;
    line-height: 2.2vw;
    text-transform: uppercase;

    // @media (max-width: 1250px) {
    //   padding: 30px;
    // }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .empty-suggestion {
    padding: 0 8.3vw;
    color: #fff;
    font-size: 1.1vw; // @media (max-width: 1250px) {
    //   padding: 30px;
    // }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .search-list {
    display: flex;
    justify-content: space-between;
    padding: 2vw 8.3vw;

    // @media (max-width: 1250px) {
    //   padding: 30px;
    // }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 91px;
    }

    @media (max-width: 500px) {
      padding: 24px;
    }

    .products {
      flex: 1;

      @media (max-width: 768px) {
        margin-top: 50px;
        margin-bottom: 70px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li {
          width: 22.33%;
          margin: 0 1% !important;

          @media (max-width: 600px) {
            width: 48%;
          }
        }
      }
    }

    ul {
      margin: 0;
      list-style: none;

      @media (max-width: 768px) {
        padding: 0;
      }

      li {
        display: inline;
        margin: 0 0.6vw;
        float: left;

        @media (max-width: 768px) {
          margin-left: 0;
        }

        .search-Items {
          margin-bottom: 1.7vw;
          border: 0.2vw solid #013a4e;

          // &:hover {
          //   border-color: #dc5e00;
          // }

          .search-img {
            // margin: 0 0.7vw;
            margin-bottom: 1.1vw !important;

            @media (max-width: 500px) {
              width: 155px;
              height: 194px;
            }

            img {
              width: 13.8vw;
              height: 15.8vw;
              background: $white-color;
              object-fit: contain;

              @media (max-width: 500px) {
                width: 155px;
                height: 194px;
                object-fit: contain;
              }
            }
          }

          .search-category {
            display: none;
            margin: 0.3vw 0;
            color: #fff;
            font-family: $OpenSans;
            font-size: 0.9vw;
            font-weight: bold;
            line-height: 1.2vw;

            @media screen and(max-width: 500px) {
              display: block;
              margin-bottom: 5px;
              font-size: 13px;
              line-height: 18px;
            }
          }

          .search-title {
            color: $white-color;
            font-family: $OpenSans;
            font-size: 1.3vw;
            font-weight: 600;
            line-height: 110%;

            @media (max-width: 425px) {
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
/* stylelint-enable */
