/* stylelint-disable */
@import '~styles/globals';

.serach-flow {
  @media (max-width: 768px) {
    position: relative;
    top: 100px;
  }

  @media (max-width: 425px) {
    position: relative;
    top: 106px;
  }

  .clear {
    display: inline;
    margin-left: 15px;
    border: none;
    background: none;
    cursor: pointer;

    @media (max-width: 500px) {
      margin-left: 22px;
    }
  }

  .serach-input {
    padding: 10px 30px;
    padding-left: 0;
    background: #002a3a;

    @media (max-width: 1440px) {
      padding-left: 120px;
    }

    @media (max-width: 1200px) {
      padding-left: 30px;
    }

    @media (max-width: 500px) {
      margin-top: 10px;
      padding: 10px 18px;
      background: #013a4e;
    }

    input {
      width: 83.3vw;
      height: 4.4vw;
      padding-left: 40px;
      border: 2px solid #013a4e;
      border-radius: 16px;
      outline: none;
      background: url('../../../../static/images/search.png') no-repeat 10px;
      background-color: #013a4e !important;
      color: $white-color;

      @media (max-width: 1250px) {
        width: 90%;
      }

      @media (max-width: 992px) {
        width: 88%;
      }

      @media (max-width: 768px) {
        width: 85%;
      }

      @media (max-width: 500px) {
        width: 330px;
        height: 52px;
        border-radius: 5px;
        background-color: #002a3a !important;
      }

      @media (max-width: 375px) {
        width: 235px;
        height: 52px;
      }
    }
  }

  ::placeholder {
    color: $white-color;
  }

  .suggestion-heading {
    margin-bottom: 20px;
    padding: 30px 120px;
    padding-bottom: 0;
    color: $white-color;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;

    @media (max-width: 1250px) {
      padding: 30px;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .empty-suggestion {
    padding: 0 120px;
    color: #fff;

    @media (max-width: 1250px) {
      padding: 30px;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .search-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;

    @media (max-width: 1250px) {
      padding: 30px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 91px;
    }

    @media (max-width: 500px) {
      padding: 24px;
    }

    .products {
      flex: 1;

      @media (max-width: 768px) {
        margin-top: 50px;
        margin-bottom: 70px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li {
          width: 22.33%;
          margin: 0 1% !important;

          @media (max-width: 600px) {
            width: 48%;
          }
        }
      }
    }

    ul {
      margin: 0;
      list-style: none;

      @media (max-width: 768px) {
        padding: 0;
      }

      li {
        display: inline;
        margin: 0 10px;
        float: left;

        @media (max-width: 768px) {
          margin-left: 0;
        }

        .search-Items {
          margin-bottom: 25px;
          border: 3px solid #013a4e;

          &:hover {
            border-color: #dc5e00;
          }

          .search-img {
            margin: 0 0.7vw;
            margin-bottom: 16px !important;

            @media (max-width: 500px) {
              width: 155px;
              height: 194px;
            }

            img {
              width: 13.8vw;
              height: 15.8vw;
              background: $white-color;
              object-fit: contain;

              @media (max-width: 500px) {
                width: 155px;
                height: 194px;
                object-fit: contain;
              }
            }
          }

          .search-category {
            display: none;
            margin: 5px 0;
            color: #fff;
            font-family: $OpenSans;
            font-size: 13px;
            font-weight: bold;
            line-height: 18px;

            @media screen and(max-width: 500px) {
              display: block;
            }
          }

          .search-title {
            color: $white-color;
            font-family: $OpenSans;
            font-size: 20px;
            font-weight: 600;
            line-height: 110%;

            @media (max-width: 425px) {
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
/* stylelint-enable */
