.s-icon {
  width: 28px;
  height: 28px;
}

.social-icons {
  margin-top: 40px;
  margin-bottom: 0;
  padding-top: 7px;
  text-align: right;

  @media screen and (max-width: 768px) {
    padding: 0;
    text-align: left;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.social-icons__link {
  padding: 0 10px;

  @media screen and (max-width: 768px) {
    margin-right: 10px;
  }
}

.social-icon-label {
  margin-right: 25px;
  color: #fff;
  font-size: 16px;
  line-height: 43px;
  text-transform: capitalize;
}

.p-5 {
  padding: 5px;
}

@media (max-width: 576px) {
  .s-icon {
    height: 30px;
  }

  .social-icons__link {
    padding: 30;
  }
}
