@import '~styles/globals';

.request-form {
  &__subtitle {
    color: white;

    p {
      font-family: $OpenSans;
      font-size: 17px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.5px;
      line-height: 140%;

      a {
        color: white !important;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    // max-width: 920px;
    margin: auto;
    padding: 0 57px;

    p:empty {
      display: none;
    }

    @media (max-width: 1367px) {
      flex-wrap: nowrap;
      padding: 0 25px;
    }

    @media screen and (min-width: 1600px) {
      padding: 0 57px 0 6px;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      padding: 0;
    }
  }

  .form-content {
    width: 382px;
  }

  .request-forms {
    width: 762px;
    margin-left: auto;
  }

  &__error {
    margin: 10px 0 20px;
    color: #c0392b;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__success {
    margin: 10px 0 20px;
    color: green;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__resetLink {
    color: blue;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
  }

  &__title {
    padding-bottom: 26px;
    color: white;
    font-family: $OpenSans;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 110%;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__reset-title {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__reset-detail-title {
    width: 100%;
    margin: 10px 0 30px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &__mobile-title {
    display: none;
    color: white;
    font-family: $OpenSans;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 110%;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 62px;
      font-size: 40px;
    }
  }

  // &__subtitle {
  //   color: white;

  //   p {
  //     font-family: $OpenSans;
  //     font-size: 17px;
  //     font-style: normal;
  //     font-weight: normal;
  //     letter-spacing: -0.5px;
  //     line-height: 140%;

  //     a {
  //       color: white !important;
  //     }
  //   }

  //   @media screen and (max-width: 768px) {
  //     display: none;
  //   }
  // }

  &__row {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__col {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }

  &__checkbox {
    width: fit-content;
    margin-bottom: 20px;

    .ant-checkbox-inner {
      width: 38px;
      height: 30px;
      border: 3px solid #111;

      &:hover {
        border: 3px solid #111 !important;
      }
    }

    .ant-checkbox-inner::after {
      top: 50%;
      left: 38%;
      // background-color: #111;
    }
  }

  &__end-container {
    display: flex;
    flex-direction: row;

    @media (max-width: 330px) {
      flex-direction: column;
    }
  }

  &__default-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    padding: 0 0 0 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 330px) {
      margin-top: 0;
      padding: 0;
    }
  }

  &__submit-button-wrapper {
    // margin-top: 20px;
    text-align: right;
  }

  textarea {
    &.label-input__input {
      height: 314px !important;
    }
  }

  &__submit-button {
    min-width: 200px;
    margin: 0 8px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #f2a900;
    color: white;
    font-family: $OpenSans;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 28px;
    text-transform: uppercase;

    // .submit-loader {
    //   color: black !important;
    //   font-size: 24px;
    // }

    // &:hover {
    //   background-color: $primary-color-light;
    //   color: $white-color;

    //   .submit-loader {
    //     color: white !important;
    //     font-size: 24px;
    //   }
    // }

    @media (max-width: 768px) {
      padding: 10px 40px;
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.ant-alert-success,
.ant-alert-error {
  &.custom-alert {
    padding: 10px !important;
    border: 0;
    background: #eff7ed;
    box-shadow: 0 1px 3px #ddd;
    color: #212b36;
    font-family: $font-futura;
    font-size: 18px;

    .ant-alert-message,
    .ant-alert-description {
      font-size: 18px;
    }

    .ant-alert-close-icon {
      margin-top: 7px;
    }

    .anticon {
      svg {
        display: inline-block;
        width: 14px;
        height: 14px;
        fill: #212b36;
      }
    }
  }
}
