@import '~styles/globals';

.request-form {
  &__subtitle {
    color: white;

    p {
      font-family: $OpenSans;
      font-size: 1.13vw;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.5px;
      line-height: 140%;

      a {
        color: white !important;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 25.6vw;
    margin: auto;
    padding: 0 3.9vw;

    p:empty {
      display: none;
    }

    // @media (max-width: 1367px) {
    //   padding: 0 25px;
    // }

    // @media screen and (min-width: 1600px) {
    //   padding: 0 57px 0 6px;
    // }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      width: 330px;
      padding: 0;
    }

    @media (max-width: 500px) {
      display: block;
      flex-wrap: nowrap;
      width: auto;
      padding: 0;
    }
  }

  .form-content {
    width: 16.1vw;

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 500px) {
      width: 58.6vw;
    }
  }

  .request-forms {
    width: 52.9vw;
    margin-left: auto;

    @media (max-width: 500px) {
      width: auto;
    }
  }

  &__error {
    margin: 10px 0 20px;
    color: #c0392b;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__success {
    margin: 10px 0 20px;
    color: green;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  &__resetLink {
    color: blue;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
  }

  &__title {
    padding-bottom: 26px;
    color: white;
    font-family: $OpenSans !important;
    font-size: 1.6vw !important;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 2.2vw;
    text-transform: uppercase;

    @media (max-width: 768px) {
      // display: none;
      width: 78% !important;
    }

    @media (max-width: 500px) {
      width: 90% !important;
      padding: 0 !important;
      font-size: 6.4vw !important;
      line-height: 8.8vw;
    }
  }

  &__reset-title {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__reset-detail-title {
    width: 100%;
    margin: 10px 0 30px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &__mobile-title {
    display: none;
    color: white;
    font-family: $OpenSans;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 110%;
    text-transform: uppercase;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 62px;
      font-size: 40px;
    }
  }

  // &__subtitle {
  //   color: white;

  //   p {
  //     font-family: $OpenSans;
  //     font-size: 17px;
  //     font-style: normal;
  //     font-weight: normal;
  //     letter-spacing: -0.5px;
  //     line-height: 140%;

  //     a {
  //       color: white !important;
  //     }
  //   }

  //   @media screen and (max-width: 768px) {
  //     display: none;
  //   }
  // }

  &__row {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__col {
    // .label-input {
    //   input {
    //     margin-bottom: 0 !important;
    //   }
    // }

    @media (max-width: 768px) {
      width: 100% !important;
    }

    &:nth-child(2) {
      .label-input {
        input {
          margin-top: 1.38vw;
          margin-bottom: 0 !important;

          @media (max-width: 500px) {
            margin-top: 5.33vw;
          }
        }
      }
    }
  }

  &__checkbox {
    width: fit-content;
    margin-bottom: 20px;

    .ant-checkbox-inner {
      width: 38px;
      height: 30px;
      border: 3px solid #111;

      &:hover {
        border: 3px solid #111 !important;
      }
    }

    .ant-checkbox-inner::after {
      top: 50%;
      left: 38%;
      // background-color: #111;
    }
  }

  &__end-container {
    display: flex;
    flex-direction: row;

    @media (max-width: 330px) {
      flex-direction: column;
    }
  }

  &__default-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    padding: 0 0 0 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 330px) {
      margin-top: 0;
      padding: 0;
    }
  }

  &__submit-button-wrapper {
    // margin-top: 20px;
    text-align: right;
  }

  textarea {
    &.label-input__input {
      height: 314px !important;
    }
  }

  &__submit-button {
    width: 13.88vw;
    height: 4.44vw;
    margin-left: 40vw;
    padding: 10px;
    border-radius: 5px;
    border-color: #f2a900 !important;
    background: #f2a900 !important;
    color: white;
    font-family: $OpenSans;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 28px;
    text-transform: uppercase;

    // .submit-loader {
    //   color: black !important;
    //   font-size: 24px;
    // }

    // &:hover {
    //   background-color: $primary-color-light;
    //   color: $white-color;

    //   .submit-loader {
    //     color: white !important;
    //     font-size: 24px;
    //   }
    // }

    @media (max-width: 768px) {
      padding: 10px 40px;
      font-size: 15px;
      line-height: 22px;
    }

    &:hover {
      background: #f2a900 !important;
    }
  }

  .links--container {
    align-items: flex-end;
    margin-bottom: 1.3vw;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and(max-width: 500px) {
      margin-bottom: 10.66vw;
    }

    .links {
      color: #fff !important;
      font-family: $OpenSans;
      font-size: 0.9vw;
      font-weight: bold;
      letter-spacing: -0.1px;

      @media screen and(max-width: 500px) {
        font-size: 3.4vw;
      }
    }
  }

  .cs--page-width {
    @media (max-width: 425px) {
      padding: 0 !important;
    }
  }
}

.ant-alert-success,
.ant-alert-error {
  &.custom-alert {
    padding: 10px !important;
    border: 0;
    background: #eff7ed;
    box-shadow: 0 1px 3px #ddd;
    color: #212b36;
    font-family: $font-futura;
    font-size: 18px;

    .ant-alert-message,
    .ant-alert-description {
      font-size: 18px;
    }

    .ant-alert-close-icon {
      margin-top: 7px;
    }

    .anticon {
      svg {
        display: inline-block;
        width: 14px;
        height: 14px;
        fill: #212b36;
      }
    }
  }
}
