@import '~styles/globals';

.Terms-wrapper {
  ul {
    li {
      margin: 1.04vw 0;
      color: white;
      font-family: $Raleway;
      font-size: 0.97vw;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;

      @media screen and (max-width: 768px) {
        font-size: 3.73vw;
      }
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    line-height: 140%;
  }
}
