@import '~styles/media-queries';
@import '~styles/animations';
@import '~styles/fonts';

@font-face {
  font-family: FuturaBold;
  src: url('/static/fonts/FuturaNewDemi.otf');
}

@font-face {
  font-family: FuturaPTHeavy;
  src: url('/static/_fonts/FuturaPTHeavy.otf');
}

@font-face {
  font-family: FuturaPTBold;
  src: url('/static/fonts/futura-bold-bt.ttf');
}

@font-face {
  font-family: FuturaNewReg;
  src: url('/static/fonts/FuturaNewBook-Reg.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('/static/fonts/OpenSans-Regular.ttf');
}

$primary-color: #013a4e;
$primary-color-dark: #002a3a;
$primary-color-light: #212529;
$secondary-color: #a2cf7c;
$accent-color: #f1a900;
$disable: #a5a5a5;
$error-color: #c0392b;
$white-color: #fff;
$grey-color: #ccc;
$medium-grey-color: #a5a5a5;
$light-grey-color: #eee;
$bg-light-grey-color: #f4f4f4;
$light-border-color: #e9e9e9;
$font-size-body: 16px;

$font-futura: futura-pt, Helvetica, Arial, sans-serif;
$font-futura-md: FuturaBold, Helvetica, Arial, sans-serif;
$font-futura-black: FuturaPTBold, Helvetica, Arial, sans-serif;
$font-futura-heavy: FuturaPTHeavy, Helvetica, Arial, sans-serif;
$font-intro: Intro, Arial, Helvetica, sans-serif;
$font-apple-system: -apple-system, Roboto, Helvetica, Arial, sans-serif;
$OpenSans: OpenSans;
