@import '~styles/media-queries';
@import '~styles/animations';
@import '~styles/fonts';

@font-face {
  font-family: FuturaBold;
  src: url('/static/fonts/FuturaNewDemi.otf');
}

@font-face {
  font-family: FuturaPTHeavy;
  src: url('/static/_fonts/FuturaPTHeavy.otf');
}

@font-face {
  font-family: FuturaPTBold;
  src: url('/static/fonts/futura-bold-bt.ttf');
}

@font-face {
  font-family: FuturaNewReg;
  src: url('/static/fonts/FuturaNewBook-Reg.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('/static/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('/static/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('/static/fonts/Raleway-Regular.ttf');
}

$primary-color: #013a4e;
$primary-color-dark: #002a3a;
$primary-color-light: #212529;
$secondary-color: #a2cf7c;
$accent-color: #f2a900;
$disable: #a5a5a5;
$error-color: #c0392b;
$white-color: #fff;
$grey-color: #ccc;
$medium-grey-color: #a5a5a5;
$light-grey-color: #eee;
$bg-light-grey-color: #f4f4f4;
$light-border-color: #e9e9e9;
$font-size-body: 16px;

$font-futura: futura-pt, Helvetica, Arial, sans-serif;
$font-futura-md: FuturaBold, Helvetica, Arial, sans-serif;
$font-futura-black: FuturaPTBold, Helvetica, Arial, sans-serif;
$font-futura-heavy: FuturaPTHeavy, Helvetica, Arial, sans-serif;
$font-intro: Intro, Arial, Helvetica, sans-serif;
$font-apple-system: -apple-system, Roboto, Helvetica, Arial, sans-serif;
$OpenSans: OpenSans;
$Poppins: Poppins;
$Raleway: Raleway;

$vw-viewport: 1440;
$vw-mobile-viewport: 375;
$vh-mobile-viewport: 825;

@function get-vw($font) {
  $vw-context: $vw-viewport * 0.01 * 1px;

  @return $font / $vw-context * 1vw;
  @return $font;
}

@function getmb-vw($font) {
  $vw-mbcontext: $vw-mobile-viewport * 0.01 * 1px;

  @return $font / $vw-mbcontext * 1vw;
  @return $font;
}

@function getmb-vh($font) {
  $vh-mbcontext: $vh-mobile-viewport * 0.01 * 1px;

  @return $font / $vh-mbcontext * 1vh;
  @return $font;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  color: gray !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
  height: 100%;
}

.VIpgJd-suEOdc {
  display: none !important;
  visibility: hidden !important;
  top: 0 !important;
  left: 0 !important;
}

.goog-text-highlight {
  outline: 0 !important;
  background-color: transparent !important;
  box-shadow: unset !important;
}

// Tidio Chat
iframe {
  @media screen and (min-width: 768px) {
    // width: 100% !important;
    width: 35% !important;
  }
}

// Tidio chat End
