@import '~styles/globals';

.pagebanner-wrapper {
  position: relative;

  .backgrounimg {
    width: 100%;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 200px;
    }
  }

  .pagebanner-internal {
    display: flex;
    position: absolute;
    top: 10%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 95px;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      padding: 0 20px;
    }

    .imgwrapper {
      p {
        width: 378px;
        color: white;
        font-family: nevis, Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
      }

      img {
        padding-left: 60px;
      }
    }

    button {
      box-sizing: border-box;
      width: 195px;
      height: 38px;
      border: 2px solid $accent-color;
      border-radius: 5px;
      background: transparent;
      color: white;
      font-family: nevis, Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: 0.75px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
