@import '~styles/globals';

.pagebanner-wrapper {
  position: relative;

  .backgrounimg {
    width: 100%;

    // @media screen and (max-width: 768px) {
    //   width: 100%;
    //   height: 200px;
    // }
    @media screen and (max-width: 500px) {
      display: none;
      width: 100vw;
      height: 66.4vw;
    }
  }

  .backgrounimgmobile {
    display: none;

    @media (max-width: 500px) {
      display: block;
      width: 100%;
    }
  }

  .pagebanner-internal {
    display: flex;
    position: absolute;
    top: 22%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 6.5vw;

    @media screen and (max-width: 768px) {
      top: 14%;
      flex-direction: column;
      text-align: center;
    }

    // @media screen and (max-width: 768px) {
    //   flex-wrap: wrap;
    //   padding: 0 20px;
    // }

    .imgwrapper {
      p {
        width: 26.2vw;
        color: white;
        font-family: $OpenSans;
        font-size: 1.1805vw;
        font-weight: bold;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;

        // @media screen and (max-width: 768px) {
        //   width: 100%;
        // }
        @media screen and (max-width: 768px) {
          width: 90.9vw;
          padding-top: 4.8vw;
          font-size: 6.4vw;
          text-align: left;
        }
      }

      img {
        width: 15.8vw;
        height: 4.6vw;
        padding-left: 4.1vw;
        object-fit: contain;

        @media screen and (max-width: 500px) {
          width: 45.3vw;
          height: 13vw;
        }
      }

      .deskHeading {
        @media (max-width: 500px) {
          display: none;
        }
      }

      .mobHeading {
        @media (min-width: 500px) {
          display: none;
        }
      }
    }

    button {
      box-sizing: border-box;
      width: 12.78vw;
      height: 2.78vw;
      border: 0.1vw solid #f2a900;
      border-radius: 0.3vw;
      background: transparent;
      color: white;
      font-family: $OpenSans;
      font-size: 1.1vw;
      font-weight: bold;
      letter-spacing: 0.05vw;
      line-height: 1.9vw;
      text-align: center;
      text-transform: uppercase;

      &:lang(fr) {
        width: 16.7vw;
      }

      @media screen and (max-width: 768px) {
        width: 49.066vw;
        height: 10.66vw;
        border: 0.5vw solid #f2a900;
        border-radius: 1.3vw;
        font-size: 3.73vw;
        line-height: 6.4vw;
        text-align: center;

        &:lang(fr) {
          width: 55vw;
        }
      }
    }
  }
}
